@import url('styles/custom-media.css');

.container {
  width: 100%;
}

.buttonGroup {
  width: 100%;
}

.fullWidthButton {
  width: 100%;
}

.item {
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  transition: background-color var(--easing-blazingly-fast);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  background: transparent;
  text-decoration: none;
  color: var(--lego-font-color);
  margin-left: calc(-1 * var(--spacing-sm));

  &:hover {
    background-color: var(--additive-background);
  }
}

.accentNotion svg {
  color: var(--color-green-6);
}

.accentMinutes svg {
  color: var(--color-blue-6);
}

.accentWarning svg {
  color: var(--danger-color);
}

@media (--mobile-device) {
  .buttonGroup {
    width: 100%;
  }
}

