@import url('styles/custom-media.css');

.sidebar {
  position: sticky;
  top: var(--spacing-md);
  width: calc(100% + 2 * var(--spacing-sm));
  max-height: calc(100dvh - 2 * var(--spacing-md));
  margin: 0 calc(-1 * var(--spacing-sm));
}

.empty {
  padding: var(--spacing-xs) var(--spacing-sm);
}

@media (--medium-viewport) {
  .sidebar {
    position: static;
    max-height: none;
  }
}
