@import url('~app/styles/variables.css');

.appRoute {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.searchOpen {
  filter: blur(40px);
}

.ad {
  pointer-events: auto;
  width: 220px;
  border: 1px solid gray;
  background-color: var(--lego-background-color);

  @media (width <= 1550px) {
    display: none;
  }
}

.ad a {
  color: var(--lego-font-color);
}

.adAbakuse {
  gap: 1rem;
  text-align: center;
}

.adAbakuse h1 {
  margin: 0;
  font-size: 1.5rem;
}

.adAbakuse h2 {
  margin: 0;
  font-size: 1.2rem;
}

.adAbakuseDesc {
  color: hotpink;
  font-weight: bold;
}

.adAbakuse a {
  text-decoration: underline;
}

.adKok {
  text-align: center;
  align-items: center;
}

.adButton {
  cursor: pointer;
  padding: 0.4rem 1rem;
  flex-grow: 0;
  border: 1px solid gray;
  font-weight: bold;
  background-color: green;
  border-radius: 20px;
  font-size: 1.5rem;
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.adRapport {
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.adRapport h1 {
  font-size: 1.5rem;
  margin: 0;
}

.adRapport h2 {
  font-size: 1rem;
  margin: 0;
}

.adHater {
  text-align: center;
}

.adHater h1 {
  font-size: 1.5rem;
  margin: 0;
}

.adHater h2 {
  font-size: 1.3rem;
}

.adHater a {
  color: var(--lego-red-color);
  text-decoration: underline;
}
