.appRoute {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.searchOpen {
  filter: blur(40px);
}

.ad {
  pointer-events: auto;
  width: 220px;
  border: 1px solid gray;
  background-color: var(--lego-background-color);
}

.adAbakuse {
  gap: 1rem;
  text-align: center;
}

.adAbakuse h1 {
  margin: 0;
  font-size: 1.5rem;
}

.adAbakuse h2 {
  margin: 0;
  font-size: 1.2rem;
}

.adKok {
  text-align: center;
  align-items: center;
}

.adButton {
  cursor: pointer;
  padding: 0.4rem 1rem;
  flex-grow: 0;
  border: 1px solid gray;
  font-weight: bold;
  background-color: green;
  border-radius: 20px;
  
  font-size: 1.5rem;
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.adRapport {
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.adRapport h1 {
  font-size: 1.5rem;
  margin: 0;
}

.adRapport h2 {
  font-size: 1rem;
  margin: 0;
}
