@import 'app/styles/variables.css';

.backdrop {
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.buttonGroup {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.buttonGroup button,
.buttonGroup i,
.buttonGroup img {
  border: 0;
  color: var(--lego-text-gray);
  font-size: 1.8rem;
  cursor: pointer;
}

.buttonGroup button:focus {
  outline: none;
}

.buttonGroup button:hover {
  color: #1D1D1D;
}

.content {
  composes: container from 'app/styles/utilities.css';
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: var(--lego-header-height);
  padding: 0 20px;
}

.logo {
  flex: 1;
}

.logo > img {
  max-width: 160px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  line-height: 60px;
  flex: 2;

  @media (--small-viewport) {
    display: none;
  }
}

.navigation a {
  font-size: 1.35rem;
  padding: 0 1rem;
  height: 100%;
  color: var(--color-dark-gray-5);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: color 0.2s;

  &::after {
    content: '';
    height: 10px;
    left: 0;
    right: 0;
    border-bottom: 2px solid #C24538;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
  }

  &:hover,
  &.activeItem {
    color: #000;
  }

  &:hover::after,
  &.activeItem::after {
    transform: scaleX(1);
    bottom: 3px;
  }

  &.readmeLink {
    font-family: 'OCR A Extended', sans-serif;
    font-size: 1.7rem;
    text-transform: lowercase;
    letter-spacing: 0;
    padding-bottom: 7px;
  }
}
