@import '../../_variables.css';

:global {
  .Dropdown__content {
    background: rgba(27, 27, 27, .96);
    border-top: 5px solid #888;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 5px;
    position: absolute;
    width: 250px;
    color: #fff;
  }

  .Dropdown__content h2 {
    color: #ffedba;
    margin: 0;
    font-size: 1.2rem;
  }
}

.backdrop {
  background: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.root {
  background: linear-gradient(#111, #222);
  border-bottom: 10px solid #ddd;
}

.content {
  composes: container from '../../Root.css';
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  height: 60px;
}

.logo {
  background: url('../../../public/images/logo.png') 20px center no-repeat;
  background-size: 100px 20px;
  color: transparent;
  display: inline-block;
  width: 130px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  line-height: 60px;
  font-size: 1.1rem;
}

.navigation a {
  padding: 0 1rem;
  height: 100%;
  color: #bbb;
  text-transform: uppercase;
}

.navigation a:hover,
.navigation .activeLink {
  color: #fff;
}

.contentButton {
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 1.4rem;
  outline: none;
  background: transparent;
  border: 0;
}

.contentButton:hover {
  color: #eee;
}

.dropdownMenu a {
  color: #fff;
  display: block;
  border-bottom: 1px solid #333;
  margin: 0 -1rem;
  padding: 0 1rem;
  line-height: 2.2;
}

.dropdownMenu a:hover {
  background: #111;
}

.loginForm input {
  margin: 2px 0;
  background: #fff;
  border: 0;
  padding: .5rem;
  font-size: 1.1rem;
  color: #333;
}

.loginForm input:focus {
  background: #ffedba;
  outline: none;
}
