@import '~app/styles/variables.css';

.backdrop {
  background: rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.buttonGroup {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.logo > img {
  max-width: 160px;
}

.buttonGroup button,
.buttonGroup img {
  border: 0;
  color: var(--lego-text-gray);
  cursor: pointer;
  transition: color 0.3s;

  &:hover,
  &.activeItem {
    color: var(--color-black);
  }
}

.buttonGroup button:focus {
  outline: none;
}

.searchIcon {
  color: var(--lego-link-color);

  &:hover,
  &.activeItem {
    color: var(--color-red-1);
  }
}

.burger {
  @media (--mobile-device) {
    order: 4;
  }
}

.burger i {
  font-size: 30px;
  line-height: 60px;
  margin-right: 20px;

  @media (--mobile-device) {
    margin-right: 0;
  }
}

.hideOnMobile {
  @media (--mobile-device) {
    display: none;
  }
}

.content {
  composes: container from '~app/styles/utilities.css';
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: var(--lego-header-height);
  padding: 0 20px;
}

.logo {
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: row;
}

.toggleButton {
  color: var(--lego-link-color);
  font-size: 14px;
}

.dropdown {
  width: 355px;
  padding: 15px;

  @media (--small-viewport) {
    width: 100%;

    &::before,
    &::after {
      display: none;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 2;
  white-space: nowrap;
  margin-right: 5px;

  @media (--mobile-device) {
    display: none;
  }
}

.navigation a {
  font-size: 1.35rem;
  padding: 10px 1rem;
  height: 100%;
  color: var(--color-dark-gray-5);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: color 0.2s;
  white-space: nowrap;

  &::after {
    content: '';
    height: 10px;
    left: 0;
    right: 0;
    border-bottom: 2px solid #c24538;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
  }

  &:hover,
  &.activeItem {
    color: var(--color-black);
  }

  &:hover::after,
  &.activeItem::after {
    transform: scaleX(1);
    bottom: 3px;
  }

  &.readmeLink {
    font-family: 'OCR A Extended', sans-serif;
    font-size: 1.7rem;
    text-transform: lowercase;
    letter-spacing: 0;
    padding-bottom: 7px;
  }
}

.logoLightMode,
.logoDarkMode {
  display: none;
}

html[data-theme='light'] .logoLightMode {
  display: block;
}

html[data-theme='dark'] .logoDarkMode {
  display: block;
}

html[data-theme='dark'] .meetingIcon {
  color: var(--color-light-gray-5);
  transition: color 0.1s;

  &:hover {
    color: var(--color-gray-5);
  }
}
