.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  right: 0;
}

.backdrop {
  position: fixed;
  background: var(--color-black);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  position: fixed;
  max-width: 680px;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: var(--color-white);
  border-radius: 5px;
  padding: 40px;
  outline: none;
  max-height: 80vh;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}
