.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  right: 0;
}

.backdrop {
  position: fixed;
  background: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.content {
  position: fixed;
  max-width: 680px;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: var(--color-white);
  border-radius: 5px;
  padding: 40px;
  outline: none;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  z-index: 4;
}

.closeButton {
  position: absolute;
  top: -7px;
  right: 10px;
  font-size: 42px;
  padding: 0;
}

.confirmContainer {
  text-align: center;
}
