.youtubeFrame iframe {
  height: 100%;
  width: 1100px;
}

.cover {
  composes: contentContainer from 'app/styles/utilities.css';
  max-height: 400px;
  padding: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  position: relative;

  img {
    object-fit: cover;
    display: block;
  }
}

.content {
  composes: contentContainer from 'app/styles/utilities.css';
  width: 100%;
  padding-top: 20px;
}

.contentWithBanner {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
