.hidden {
  display: none;
}

.block {
  display: block;
}

.youtubeFrame {
  width: 100vw;
  height: 56.25vw;
  max-width: 1100px;
  max-height: 619px;
  transition: max-height var(--easing-fast);
}

.youtubeFrame iframe {
  height: 100%;
  width: 100%;
}

.youtubeFrame div {
  width: 100%;
}

.cover {
  composes: contentContainer from '~app/styles/utilities.css';
  max-height: 400px;
  aspect-ratio: 3.3;
  width: 100%;
  padding: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  position: relative;

  & img {
    object-fit: cover;
    display: block;
    background: white;
  }
}

.content {
  composes: contentContainer from '~app/styles/utilities.css';
  width: 100%;
  padding-top: 20px;
}

.contentWithBanner {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
