@import url('~app/styles/variables.css');

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin-bottom: var(--spacing-md);
  flex-wrap: wrap;
}

.eventType {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  @media (--mobile-device) {
    display: none;
  }
}
