.bgImage {
  user-select: none;
}

.source {
  position: relative;
  width: 80%;
}

.finalSource {
  position: relative;
  width: 60%;
}

.logoButton {
  position: absolute;
  width: 5%;
  cursor: default;
}

.frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
