.value {
  font-weight: 500;
  text-align: right;
  max-width: 66%;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}
.value > ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
