@import url('styles/custom-media.css');

.right {
  flex: 1;
}

.deleteUser {
  color: var(--danger-color);
}

@media (--medium-viewport) {
  .mobileColumn {
    flex-direction: column;
  }
}

.socialLinks {
  flex: 1;
  width: 100%;
}
