@import url('~app/styles/variables.css');

.announcementButton {
  margin-top: 20px;
}

.field {
  margin-bottom: 0;
  margin-top: 5px;
}

.fieldText {
  font: inherit;
  font-size: 80%;
}

.label {
  font: inherit;
  color: var(--lego-link-color);
}
