@import 'app/styles/variables.css';

.button {
  width: 30%;
  font-size: 80%;
}

.field {
  font: inherit;
  font-size: 80%;
  margin-bottom: 0 !important;
}

.label {
  font: inherit;
  color: #c0392b;
}
