.reactionPickerContentContainer {
  padding: 4px 4px 0;
}

.reactionPickerContent {
  height: 220px;
  overflow: hidden auto;
  padding: 4px 4px 8px;
  background: var(--color-white) none repeat scroll 0% 0%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 36px);
  column-gap: 5px;
  align-content: start;
  justify-content: space-around;
}

.reactionPickerItemContainer {
  width: 36px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px 1px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.05s ease-out 25ms;
  line-height: 26px;
}

.reactionPickerItemContainer:hover {
  background: rgba(226, 13, 19, var(--color-red-hover-alpha)) none repeat scroll
    0% 0%;
}

.noEmojisFound {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 220px;
  background: var(--color-white) none repeat scroll 0% 0%;
}
