.reaction {
  position: relative;
  height: 29px;
  width: 54px;
  border-radius: 1rem;
  background-color: var(--color-gray-9);
  border: 0 solid var(--color-red-4);
  color: var(--color-gray-2);
  margin: 2px;
  transition: var(--linear-fast);
  font-weight: 600;
  font-size: 0.9rem;
}

html[data-theme='dark'] .reaction {
  background-color: var(--color-gray-7);
  border-color: var(--color-red-2);
  color: var(--color-gray-2);
}

.clickable {
  cursor: pointer;
}

.reacted {
  background-color: var(--color-red-7);
  color: var(--color-red-4);
  border-width: 1.5px;
}

html[data-theme='dark'] .reacted {
  background-color: var(--color-red-6);
  color: var(--color-red-2);
}

.reactionCount {
  width: 0.9rem;
  text-align: center;
}
