@import url('~app/styles/variables.css');

.reactionPickerFooter {
  height: 40px;
  padding: 5px;
  border-top: 1px solid
    rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 15%);
  display: flex;
  justify-content: space-between;
}

.reactionPickerSearchNormal {
  padding: 2px;
  display: none;
  background-color: var(--color-white);
  color: var(--lego-font-color);

  @media (--mobile-device) {
    display: block;
  }
}

.reactionPickerSearchAutoComplete {
  padding: 2px;
  display: display;
  background-color: var(--color-white);
  color: var(--lego-font-color);

  @media (--mobile-device) {
    display: none;
  }
}
