.reaction {
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #e8e5e5;
  cursor: pointer;
  color: #555;
  margin: 2px;
  transition: 0.2s;
}

.reacted {
  background-color: rgba(226, 13, 19, 0.05);
  border-color: rgba(226, 13, 19, 0.15);
}

.reactionCount {
  padding-left: 5px;
  font-weight: bold;
}

.reactionIcon {
  font-size: 1rem;
}
