.reactionPickerCategoryContainer {
  color: rgb(158, 158, 166);
  padding: 5px 8px 7px;
  border-radius: 6px 6px 0 0;
  margin-right: 1px;
  cursor: pointer;
}

.reactionPickerCategory {
  opacity: 0.4;
  width: 20px;
  height: 19px;
  font-size: 20px;
  font-family: Arial;
}

.reactionPickerCategory:hover {
  opacity: 1;
}

.isActiveContainer {
  border-bottom: 3px solid rgb(226, 13, 19);
}

.isActiveCategory {
  opacity: 1;
}
