@import url('./variables.css');

@font-face {
  font-family: 'OCR A Extended';
  src: url('../../app/assets/fonts/ocraext.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: var(--font-size-md);
}

body {
  line-height: 1.8;
  font-family: Inter, sans-serif;
  background: var(--lego-background-color);
  color: var(--lego-font-color);
  transition: color var(--linear-medium);
  position: relative;
}

a {
  color: var(--lego-link-color);
  cursor: pointer;
  text-decoration: none;
  transition: color var(--easing-blazingly-fast);

  /* Wrap Links */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

p {
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: var(--font-size-xl);
  margin: 15px 0;
}

h2,
h3 {
  margin: 10px 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
  font-weight: 600;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: var(--font-size-md);
  color: var(--lego-font-color);

  &:disabled {
    cursor: initial;
  }
}

i {
  display: inline-block;
}

table {
  line-height: 1.3;
  border-collapse: collapse;
}

thead {
  background-color: var(--color-gray-2);
  color: var(--color-gray-7);
  font-size: var(--font-size-sm);
  font-weight: 600;
}

th,
td {
  padding: 10px;
  width: 140px;
  display: table-cell;
}

th:first-child {
  border-radius: 2em 0 0 2em;
}

th:last-child {
  border-radius: 0 2em 2em 0;
}

label {
  display: block;
}
