@custom-media --small-viewport (max-width: 30em);

:root {
  --lego-background-color: #FCFDFE;
  --lego-font-color: #333;
  --lego-link-color: #c0392b;
  --lego-max-width: 1100px;
  --lego-default-padding: 2rem;

  --lego-header-height: 100px;
  --lego-main-nav-height: 50px;

  --lego-color-gray: #333;
  --lego-color-gray-light: #eee;
  --lego-text-gray: #4c4c4c;
}
