@custom-media --small-viewport (max-width: 35em);
@custom-media --medium-viewport (max-width: 45em);
@custom-media --mobile-device (max-width: 992px);
@custom-media --lego-max-width (max-width: 1100px);

:root {
  --lego-background-color: #f8f9fa;
  --lego-font-color: var(--color-gray-1);
  --lego-link-color: #c0392b;
  --lego-red: #c0392b;
  --lego-max-width: 1100px;
  --lego-default-padding: 2rem;
  --lego-card-color: #fff;
  --lego-footer-color: #e21617;
  --lego-dark-red-color: #b21c17;
  --lego-red-color: #c0392b;

  --lego-header-height: 120px;
  --lego-main-nav-height: 50px;

  --lego-color-gray: #333;
  --lego-color-gray-light: #eee;
  --lego-text-gray: #394b59;

  --lego-chart-purple: #c73aea;
  --lego-chart-yellow: #f4ee42;
  --lego-chart-green: #98e442;
  --lego-chart-pink: #ff87eb;
  --lego-chart-blue: #145bd4;
  --lego-chart-black: #000;
  --lego-chart-salmon: #fa8072;
  --lego-chart-navajo: #ffdead;

  --color-event-red: #b11c11;
  --color-event-black: #111;
  --color-white: #fff;
  --color-black: #000;
  --border-gray: #eee;

  --rgb-max: 255;
  --rgb-min: 0;

  --color-almost-white-1: #f9f9f9;
  --color-almost-white-2: #f8f8f8;
  --color-almost-white-3: #f7f7f7;
  --color-almost-white-4: #f6f6f6;
  --color-almost-white-5: #f5f5f5;

  --color-dark-gray-1: #182026;
  --color-dark-gray-2: #202b33;
  --color-dark-gray-3: #293742;
  --color-dark-gray-4: #30404d;
  --color-dark-gray-5: #394b59;

  --color-gray-1: #11181c;
  --color-gray-2: #687076;
  --color-gray-3: #7e868c;
  --color-gray-4: #889096;
  --color-gray-5: #c1c8cd;
  --color-gray-6: #d7dbdf;
  --color-gray-7: #dfe3e6;
  --color-gray-8: #e6e8eb;
  --color-gray-9: #f1f3f5;

  --color-light-gray-1: #ced9e0;
  --color-light-gray-2: #d8e1e8;
  --color-light-gray-3: #e1e8ed;
  --color-light-gray-4: #ebf1f5;
  --color-light-gray-5: #f5f8fa;

  --color-dark-mono-gray-1: #555;
  --color-dark-mono-gray-2: #666;
  --color-dark-mono-gray-3: #777;
  --color-dark-mono-gray-4: #888;
  --color-dark-mono-gray-5: #999;

  --color-mono-gray-1: #aaa;
  --color-mono-gray-2: #bbb;
  --color-mono-gray-3: #ccc;
  --color-mono-gray-4: #ddd;
  --color-mono-gray-5: #eee;

  --color-blue-1: #e6f1ff;
  --color-blue-2: #cee4fe;
  --color-blue-3: #b7d5f8;
  --color-blue-4: #96c1f2;
  --color-blue-5: #5ea2ef;
  --color-blue-6: #0072f5;
  --color-blue-7: #005fcc;
  --color-blue-8: #004799;
  --color-blue-9: #00254d;

  --color-orange-1: #fef5e7;
  --color-orange-2: #fdefd8;
  --color-orange-3: #fce7c5;
  --color-orange-4: #fbdba7;
  --color-orange-5: #f9cb80;
  --color-orange-6: #f5a524;
  --color-orange-7: #b97509;
  --color-orange-8: #925d07;
  --color-orange-9: #4e3104;

  --color-green-1: #e8fcf1;
  --color-green-2: #dafbe8;
  --color-green-3: #c8f9dd;
  --color-green-4: #adf5cc;
  --color-green-5: #88f1b6;
  --color-green-6: #17c964;
  --color-green-7: #13a452;
  --color-green-8: #108944;
  --color-green-9: #06371b;

  --color-red-1: #a82a2a;
  --color-red-2: #c23030;
  --color-red-3: #f31260;
  --color-red-4: #f4256d;
  --color-red-5: #f881ab;
  --color-red-6: #faa8c5;
  --color-red-7: #fcc5d8;
  --color-red-8: #fdd8e5;
  --color-red-9: #fee7ef;

  --color-select-hover: rgb(178, 212, 255);
  --color-select-multi-bg: rgb(230, 230, 230);

  --color-red-hover-alpha: 10%;

  --font-size: 16px;
  --font-size-small: 12px;
  --font-size-large: 18px;

  --easing: cubic-bezier(0.35, 0, 0.65, 1);
  --easing-fast: 100ms var(--easing);
  --easing-medium: 200ms var(--easing);
  --easing-slow: 400ms var(--easing);

  --linear: cubic-bezier(0.1, 0, 0.9, 1);
  --linear-fast: 100ms var(--linear);
  --linear-medium: 200ms var(--linear);
  --linear-slow: 400ms var(--linear);
}

[data-theme='dark'] {
  --lego-background-color: #0d0d0d;
  --lego-font-color: var(--color-gray-1);
  --lego-link-color: #c0392b;
  --lego-red: #c0392b;
  --lego-max-width: 1100px;
  --lego-default-padding: 2rem;
  --lego-card-color: #222;
  --lego-footer-color: #e21617;
  --lego-dark-red-color: #b21c17;
  --lego-red-color: #c0392b;

  --lego-header-height: 120px;
  --lego-main-nav-height: 50px;

  --color-almost-white-1: #060606;
  --color-almost-white-2: #050505;
  --color-almost-white-3: #040404;
  --color-almost-white-4: #030303;
  --color-almost-white-5: #020202;

  --lego-color-gray: #eee;
  --lego-color-gray-light: #555;
  --lego-text-gray: #c8c8c8;

  --lego-chart-purple: #c73aea;
  --lego-chart-yellow: #f4ee42;
  --lego-chart-green: #98e442;
  --lego-chart-pink: #ff87eb;
  --lego-chart-blue: #145bd4;
  --lego-chart-black: #000;
  --lego-chart-salmon: #fa8072;
  --lego-chart-navajo: #ffdead;

  --color-event-red: #b11c11;
  --color-event-black: #ddd;
  --color-white: #181818;
  --color-black: #fff;
  --border-gray: #10161a;

  --rgb-max: 0;
  --rgb-min: 255;

  --color-gray-9: #1f2123;
  --color-gray-8: #2b2f31;
  --color-gray-7: #313538;
  --color-gray-6: #3a3f42;
  --color-gray-5: #4c5155;
  --color-gray-4: #697177;
  --color-gray-3: #787f85;
  --color-gray-2: #9ba1a6;
  --color-gray-1: #ecedee;

  --color-light-gray-1: #5c7080;
  --color-light-gray-2: #738694;
  --color-light-gray-3: #8a9ba8;
  --color-light-gray-4: #a7b6c2;
  --color-light-gray-5: #bfccd6;

  --color-dark-gray-1: #ced9e0;
  --color-dark-gray-2: #d8e1e8;
  --color-dark-gray-3: #e1e8ed;
  --color-dark-gray-4: #ebf1f5;
  --color-dark-gray-5: #f5f8fa;

  --color-mono-gray-1: #555;
  --color-mono-gray-2: #666;
  --color-mono-gray-3: #777;
  --color-mono-gray-4: #888;
  --color-mono-gray-5: #999;

  --color-dark-mono-gray-1: #aaa;
  --color-dark-mono-gray-2: #bbb;
  --color-dark-mono-gray-3: #ccc;
  --color-dark-mono-gray-4: #ddd;
  --color-dark-mono-gray-5: #eee;

  --color-blue-1: #102a47;
  --color-blue-2: #0f3158;
  --color-blue-3: #0d3868;
  --color-blue-4: #0a4281;
  --color-blue-5: #0952a5;
  --color-blue-6: #0072f5;
  --color-blue-7: #3694ff;
  --color-blue-8: #3694ff;
  --color-blue-9: #eaf4ff;

  --color-orange-1: #402803;
  --color-orange-2: #583804;
  --color-orange-3: #704705;
  --color-orange-4: #845306;
  --color-orange-5: #a66908;
  --color-orange-6: #f5a524;
  --color-orange-7: #f6ad37;
  --color-orange-8: #f8c572;
  --color-orange-9: #fef7ec;

  --color-green-1: #06381b;
  --color-green-2: #074a24;
  --color-green-3: #0a6130;
  --color-green-4: #0b7439;
  --color-green-5: #0f9549;
  --color-green-6: #17c964;
  --color-green-7: #41ec8b;
  --color-green-8: #78f2ad;
  --color-green-9: #ecfdf4;

  --color-red-0: #300313;
  --color-red-1: #a82a2a;
  --color-red-2: #c23030;
  --color-red-3: #f4256d;
  --color-red-4: #f55656;
  --color-red-5: #f881ab;
  --color-red-6: #faa8c5;
  --color-red-7: #fcc5d8;
  --color-red-8: #fdd8e5;
  --color-red-9: #fee7ef;

  --color-select-hover: var(--color-gray-4);
  --color-select-multi-bg: var(--color-gray-5);

  --color-red-hover-alpha: 50%;

  --font-size: 16px;
  --font-size-small: 12px;
  --font-size-large: 18px;
}
