@custom-media --small-viewport (max-width: 30em);

:root {
  --lego-background-color: linear-gradient(0deg, #F4F4F4, #eae9e8);
  --lego-font-color: #394B59;
  --lego-link-color: #c0392b;
  --lego-max-width: 1100px;
  --lego-default-padding: 2rem;

  --lego-header-height: 120px;
  --lego-main-nav-height: 50px;

  --lego-color-gray: #333;
  --lego-color-gray-light: #eee;
  --lego-text-gray: #394B59;

  --color-white: #FFF;
  --color-black: #10161A;

  --color-dark-gray-1: #182026;
  --color-dark-gray-2: #202b33;
  --color-dark-gray-3: #293742;
  --color-dark-gray-4: #30404d;
  --color-dark-gray-5: #394b59;

  --color-gray-1: #5c7080;
  --color-gray-2: #738694;
  --color-gray-3: #8a9ba8;
  --color-gray-4: #a7b6c2;
  --color-gray-5: #bfccd6;

  --color-light-gray-1: #ced9e0;
  --color-light-gray-2: #d8e1e8;
  --color-light-gray-3: #e1e8ed;
  --color-light-gray-4: #ebf1f5;
  --color-light-gray-5: #f5f8fa;

  --color-blue-1: #0E5A8A;
  --color-blue-2: #106BA3;
  --color-blue-3: #137CBD;
  --color-blue-4: #2B95D6;
  --color-blue-5: #48aff0;

  --color-orange-1: #A66321;
  --color-orange-2: #BF7326;
  --color-orange-3: #D9822B;
  --color-orange-4: #F29D49;
  --color-orange-5: #FFB366;

  --color-green-1: #0a6640;
  --color-green-2: #0d8050;
  --color-green-3: #0f9960;
  --color-green-4: #15b371;
  --color-green-5: #3dcc91;

  --color-red-1: #a82a2a;
  --color-red-2: #c23030;
  --color-red-3: #db3737;
  --color-red-4: #f55656;
  --color-red-5: #ff7373;

  --color-company-presentation: #A1C34A;
  --color-lunch-presentation: #A1C34A;
  --color-course: #52B0EC;
  --color-party: #FCD748;
  --color-social: #B11C11;
  --color-event: #B11C11;
  --color-other: #111;

  --font-size: 16px;
  --font-size-small: 12px;
  --font-size-large: 18px;
}
