@custom-media --small-viewport (max-width: 35em);
@custom-media --medium-viewport (max-width: 45em);
@custom-media --mobile-device (max-width: 992px);
@custom-media --lego-max-width (max-width: 1100px);
@custom-media --tall-viewport (min-height: 900px);

:root {
  /* --lego-background-color: #0a0a0a;
  --lego-card-color: #fff; */

  --lego-font-color: var(--color-gray-9);
  --inverted-font-color: var(--color-gray-1);
  /* --secondary-font-color: #606060; */

  /* --lego-red-color: var(--color-red-5); */
  --lego-red-color-hover: var(--color-red-6);
  --lego-link-color: var(--lego-red-color);

  --danger-color: var(--color-red-6);
  /* --success-color: var(--color-green-6); */

  --lego-max-width: 1100px;
  --lego-default-padding: 2rem;

  --lego-header-height: 120px;
  --lego-main-nav-height: 50px;

  --color-event-red: #f79a24;
  /* --color-event-black: #0a0a0a; */

  --color-absolute-white: #fff; /* White on dark mode as well */
  /* --color-white: var(--color-absolute-white); */
  --color-absolute-black: #000; /* Black on dark mode as well  */
  /* --color-black: #000; */

  --border-gray: var(--color-gray-2);

  /* --rgb-max: 255; */
  /* --rgb-min: 0; */

  /*

  --additive-background: rgba(0, 0, 0, 5%);

  --color-gray-1: #f2f2f2;
  --color-gray-2: #e7e7e7;
  --color-gray-3: #d9d9d9;
  --color-gray-4: #b6b6b6;
  --color-gray-5: #8c8c8c;
  --color-gray-6: #757575;
  --color-gray-7: #595959;
  --color-gray-8: #373737;
  --color-gray-9: #0d0d0d;

  --color-blue-1: #e6f1ff;
  --color-blue-2: #cee4fe;
  --color-blue-3: #b7d5f8;
  --color-blue-4: #96c1f2;
  --color-blue-5: #5ea2ef;
  --color-blue-6: #0072f5;
  --color-blue-7: #005fcc;
  --color-blue-8: #004799;
  --color-blue-9: #00254d;

  --color-orange-1: #fef5e7;
  --color-orange-2: #fdefd8;
  --color-orange-3: #fce7c5;
  --color-orange-4: #fbdba7;
  --color-orange-5: #f9cb80;
  --color-orange-6: #f5a524;
  --color-orange-7: #b97509;
  --color-orange-8: #925d07;
  --color-orange-9: #4e3104;

  --color-green-1: #e8fcf1;
  --color-green-2: #dafbe8;
  --color-green-3: #c8f9dd;
  --color-green-4: #adf5cc;
  --color-green-5: #88f1b6;
  --color-green-6: #17c964;
  --color-green-7: #13a452;
  --color-green-8: #108944;
  --color-green-9: #166534;

  --color-red-1: #f79a24;
  --color-red-2: #f79a24;
  --color-red-3: #f79a24;
  --color-red-4: #f79a24;
  --color-red-5: #f79a24;
  --color-red-6: #f79a24;
  --color-red-7: #f79a24;
  --color-red-8: #f79a24;
  --color-red-9: #f79a24;

  --color-purple-1: #f4eaff;
  --color-purple-2: #e8d4fe;
  --color-purple-3: #dba7fd;
  --color-purple-4: #cc79fc;
  --color-purple-5: #b94cfb;
  --color-purple-6: #a020fa;
  --color-purple-7: #8120c9;
  --color-purple-8: #62189b;
  --color-purple-9: #440d66;

  --color-yellow-1: #fff9cc;
  --color-yellow-2: #ffe169;
  --color-yellow-3: #fad643;
  --color-yellow-4: #edc531;
  --color-yellow-5: #dbb42c;
  --color-yellow-6: #c9a227;
  --color-yellow-7: #b69121;
  --color-yellow-8: #a47e1b;
  --color-yellow-9: #926c15;

  --color-red-hover-alpha: 5%; */

  /*
   * All spaces are set to an increment of 8, following the design principles
   * described here: https://uxplanet.org/spacing-guide-for-designers-5bd140afe52a
   */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  --font-size-xs: 0.7rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.875rem;

  --border-radius-sm: 0.3rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;

  --easing: cubic-bezier(0.35, 0, 0.65, 1);
  --easing-blazingly-fast: 30ms var(--easing);
  --easing-fast: 100ms var(--easing);
  --easing-medium: 200ms var(--easing);
  --easing-slow: 400ms var(--easing);

  --linear: cubic-bezier(0.1, 0, 0.9, 1);
  --linear-fast: 100ms var(--linear);
  --linear-medium: 200ms var(--linear);
  --linear-slow: 400ms var(--linear);

  --shadow-xs: 0 2px 8px 1px rgba(104, 112, 118, 7%),
    0 1px 1px -1px rgba(104, 112, 118, 4%);
  --shadow-sm: 0 2px 8px 2px rgba(104, 112, 118, 7%),
    0 2px 4px -1px rgba(104, 112, 118, 4%);
  --shadow-md: 0 12px 20px 6px rgba(104, 112, 118, 8%);
  --shadow-lg: 0 12px 34px 6px rgba(104, 112, 118, 18%);

  --lego-background-color: #0d0d0d;
  --lego-card-color: #222;

  --secondary-font-color: #aaa;

  --lego-red-color: var(--color-red-7);

  --success-color: var(--color-green-5);

  --color-event-black: #ddd;
  --color-white: #181818;
  --color-black: #fff;

  --rgb-max: 0;
  --rgb-min: 255;

  --additive-background: rgba(255, 255, 255, 10%);

  --color-gray-1: #0d0d0d;
  --color-gray-2: #373737;
  --color-gray-3: #595959;
  --color-gray-4: #757575;
  --color-gray-5: #8c8c8c;
  --color-gray-6: #b6b6b6;
  --color-gray-7: #d9d9d9;
  --color-gray-8: #e7e7e7;
  --color-gray-9: #f2f2f2;

  --color-blue-1: #f79a24;
  --color-blue-2: #f79a24;
  --color-blue-3: #f79a24;
  --color-blue-4: #f79a24;
  --color-blue-5: #f79a24;
  --color-blue-6: #f79a24;
  --color-blue-7: #f79a24;
  --color-blue-8: #f79a24;
  --color-blue-9: #f79a24;

  --color-orange-1: #f79a24;
  --color-orange-2: #f79a24;
  --color-orange-3: #f79a24;
  --color-orange-4: #f79a24;
  --color-orange-5: #f79a24;
  --color-orange-6: #f79a24;
  --color-orange-7: #f79a24;
  --color-orange-8: #f79a24;
  --color-orange-9: #f79a24;

  --color-green-1: #f79a24;
  --color-green-2: #f79a24;
  --color-green-3: #f79a24;
  --color-green-4: #f79a24;
  --color-green-5: #f79a24;
  --color-green-6: #f79a24;
  --color-green-7: #f79a24;
  --color-green-8: #f79a24;
  --color-green-9: #f79a24;

  --color-red-1: #f79a24;
  --color-red-2: #f79a24;
  --color-red-3: #f79a24;
  --color-red-4: #f79a24;
  --color-red-5: #f79a24;
  --color-red-6: #f79a24;
  --color-red-7: #f79a24;
  --color-red-8: #f79a24;
  --color-red-9: #f79a24;

  --color-purple-1: #f79a24;
  --color-purple-2: #f79a24;
  --color-purple-3: #f79a24;
  --color-purple-4: #f79a24;
  --color-purple-5: #f79a24;
  --color-purple-6: #f79a24;
  --color-purple-7: #f79a24;
  --color-purple-8: #f79a24;
  --color-purple-9: #f79a24;

  --color-yellow-1: #f79a24;
  --color-yellow-2: #f79a24;
  --color-yellow-3: #f79a24;
  --color-yellow-4: #f79a24;
  --color-yellow-5: #f79a24;
  --color-yellow-6: #f79a24;
  --color-yellow-7: #f79a24;
  --color-yellow-8: #f79a24;
  --color-yellow-9: #f79a24;

  --color-red-hover-alpha: 10%;
}
