@import url('~app/styles/variables.css');

.wrapper {
    overflow-x: scroll;
    border: 1px solid var(--color-gray-2);
    border-radius: var(--border-radius-lg);

    table {
        width: 100%;
        display: grid;
    }

    tbody {
        tr {
            /* Positioned by virtualizer in inline styling */
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    tr {
        width: 100%;

        &.even {
            background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 3%);
        }

        &.loader:nth-child(even) {
            & {
                animation: skeleton-loading 1s linear infinite alternate;
            }
        }
    }

    td {
        height: 1px;
    }

    .loader td {
        height: 44px;
    }
}

@-moz-document url-prefix() {
    .wrapper td {
        height: 100%;
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 2%);
    }
    50% {
        background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 4%);
    }
    100% {
        background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 6%);
    }
}

.header {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
    justify-content: center;
}

.sortFilterButton {
    border-radius: 100%;
    display: flex;
    align-items: center;
    aspect-ratio: 1;

    &[data-focus-visible] {
        box-shadow: 0 0 0 1.5px var(--lego-font-color);
    }

    &[data-hovered] {
        background-color: var(--color-gray-3);
    }

    &[data-pressed] {
        background-color: var(--color-gray-4);
    }
}

.filterOverlay {
    min-width: 200px;
    padding: var(--spacing-sm);
}
