
.addButton {
  position: absolute;
  z-index: 1;
  left: -35px;
  top: 0;
  transition: all 100ms ease;
}

.addButtonButton {
  padding: 0;
  transition: all 100ms ease;
  font-size: 24px;
}

button.isOpen {
  transform: rotate(45deg);
}

.addButtonButtons {
  margin-left: 10px;
  display: none;
}


div.isOpen {
  display: inline-block;
}

.transitionAppear {
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.transitionAppearActive {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: all 300ms ease-in;
}

.transitionEnter {
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.transitionEnterActive {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 300ms ease-in;
}

.transitionExit {
  opacity: 1;
}

.transitionExitActive {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
