.linkSpacing {
  margin-right: 8px;
  display: inline;
}

.tagLink {
  color: var(--color-dark-mono-gray-1);
  border-radius: 4px;
  padding: 2px 8px;
  background: var(--lego-color-gray-light);
  transition: 0.1s;
}

html[data-theme='dark'] .tagLink {
  color: var(--lego-color-gray);
}

.tagLink a,
.tagLinkSmall a {
  color: inherit;
}

.tagLinkSmall {
  color: var(--color-dark-mono-gray-1);
  transition: 0.1s;
}

.tags {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.link:hover {
  background: #ba1414;
  color: var(--color-white);
  transition: 0.2s;
}

.cyan {
  color: #00a2ae;
  background: #cfedf0;
  border-color: #cfedf0;
}

.red {
  background: #bc1010;
  color: var(--color-white);
}

html[data-theme='dark'] .cyan {
  color: var(--lego-text-gray);
}

.orange {
  color: #f56a00;
  background: #fde3cf;
  border-color: #fde3cf;
}

.green {
  background: greenyellow;
  border-color: aquamarine;
}

html[data-theme='dark'] .green {
  color: black;
}

html[data-theme='dark'] .orange {
  color: var(--lego-text-gray);
}
