@import url('~app/styles/variables.css');

.interestBox {
  width: 32%;
  min-width: 300px;
}

.guiBoxes {
  justify-content: flex-end;
  margin: 10px 0;
}

.remove {
  font-size: 30px;
  margin: 0 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.yearForm {
  width: 100px;
  display: block;
}

.textEditor {
  @media (--small-viewport) {
    width: 300px;
  }
}

.semesterBox {
  justify-content: space-between;
  width: 125px;
}

.heading {
  font-weight: 500;
  font-size: var(--font-size-lg);
  line-height: 1.3;
  margin: var(--spacing-sm) 0;
}

.topline {
  margin: 15px 0;
  padding: 10px 0;
  border-top: 1px solid var(--border-gray);
}

.companyInterestList {
  @media (--small-viewport) {
    display: none;
  }
}

.companyInterestList table {
  width: 900px;
}

.companyList th {
  padding: 5px 0;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

.companyInterestList th,
.companyInterestList td {
  width: 275px;
  justify-content: space-between;
  padding-left: 7px;
  text-align: left;
  display: table-cell;
  border-bottom: 1px dashed var(--color-black);
}

.companyInterestListMobile {
  display: none;
  width: 350px;

  @media (--small-viewport) {
    display: block;
  }
}

.companyInterestListMobile td {
  border: none;
}

.flag {
  height: 3em;
  width: 5em;
  object-fit: cover;
}

.subHeading {
  margin-bottom: var(--spacing-sm);
}

.tooltip {
  text-transform: initial;
  font-weight: initial;
  margin-left: 15px;
}

.label {
  color: var(--danger-color);
}

.selector {
  min-width: 500px;
}
