@import '~app/styles/variables.css';

.root {
  composes: container from '~app/styles/utilities.css';
}

.interestBox {
  width: 32%;
}

.checkboxWrapper {
  margin-top: 5px;
  margin-bottom: -5px;
}

.checkboxLabel {
  display: flex;
}

.guiWrapper {
  margin-right: 30px;
  flex-wrap: wrap;
}

.guiBoxes {
  justify-content: flex-end;
  margin: 10px 0;
}

.remove {
  font-size: 30px;
  margin: 0 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.yearForm {
  width: 100px;
  display: block;
}

.link {
  margin-top: 10px;
}

.mobileHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-3);
  border-top: 1px solid var(--color-gray-3);
}

.textEditor {
  @media (--small-viewport) {
    width: 300px;
  }
}

.mainHeading {
  color: var(--lego-font-color);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.semesterBox {
  justify-content: space-between;
  width: 125px;
}

.heading {
  color: var(--lego-font-color);
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid var(--color-gray-3) !important;
}

.topline {
  margin: 15px 0;
  padding: 10px 0;
  border-top: 1px solid var(--color-gray-3);
}

.checkboxField {
  width: 30px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @media (--small-viewport) {
    flex-direction: column;
  }
}

.bold {
  font-weight: bold;
}

.submit {
  padding: 10px 20px;
  font-size: 14px;
  margin: 10px 0 50px;
  width: 200px;

  &:disabled {
    color: var(--color-mono-gray-3);
  }
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
  align-items: flex-end;

  @media (--small-viewport) {
    flex-flow: column wrap;
    align-items: center;
  }
}

.companyInterestList {
  @media (--small-viewport) {
    display: none;
  }
}

.companyInterestList table {
  width: 900px;
}

.companyList th {
  padding: 5px 0;
  border-top: 1px solid var(--color-gray-3);
  border-bottom: 1px solid var(--color-gray-3) !important;
}

.companyInterestList th,
.companyInterestList td {
  width: 275px;
  justify-content: space-between;
  padding-left: 7px;
  text-align: left;
  display: table-cell;
  border-bottom: 1px dashed var(--color-black);
}

.companyInterestListMobile {
  display: none;
  width: 350px;

  @media (--small-viewport) {
    display: block;
  }
}

.companyInterestListMobile td {
  border: none;
}

.flag {
  height: 3em;
  width: 5em;
  object-fit: cover;
}
