.checkboxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smallHeading {
  color: #777;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

.mainHeading {
  color: #777;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}
