@import url('~app/styles/variables.css');

.root {
  composes: container from '~app/styles/utilities.css';
}

.interestBox {
  width: 32%;
}

.checkboxWrapper {
  margin-top: 5px;
  margin-bottom: -5px;
}

.guiWrapper {
  margin-right: 30px;
  flex-wrap: wrap;
}

.guiBoxes {
  justify-content: flex-end;
  margin: 10px 0;
}

.remove {
  font-size: 30px;
  margin: 0 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.yearForm {
  width: 100px;
  display: block;
}

.textEditor {
  @media (--small-viewport) {
    width: 300px;
  }
}

.semesterBox {
  justify-content: space-between;
  width: 125px;
}

.heading {
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-gray);
  margin-top: 0.7rem;
}

.topline {
  margin: 15px 0;
  padding: 10px 0;
  border-top: 1px solid var(--border-gray);
}

.section {
  margin: 30px auto;

  @media (--small-viewport) {
    flex-flow: column wrap;
    align-items: center;
  }
}

.companyInterestList {
  @media (--small-viewport) {
    display: none;
  }
}

.companyInterestList table {
  width: 900px;
}

.companyList th {
  padding: 5px 0;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

.companyInterestList th,
.companyInterestList td {
  width: 275px;
  justify-content: space-between;
  padding-left: 7px;
  text-align: left;
  display: table-cell;
  border-bottom: 1px dashed var(--color-black);
}

.companyInterestListMobile {
  display: none;
  width: 350px;

  @media (--small-viewport) {
    display: block;
  }
}

.companyInterestListMobile td {
  border: none;
}

.flag {
  height: 3em;
  width: 5em;
  object-fit: cover;
}

.subHeading {
  margin-bottom: 0.5em;
}

.tooltip {
  text-transform: initial;
  font-weight: initial;
}

.label {
  color: var(--danger-color);
}

.selector {
  min-width: 500px;
}
