{
  "presets": ["@babel/preset-flow", ["@babel/preset-env", {
    useBuiltIns: "usage",
    corejs: 3
  }], ["@babel/preset-react", {
    "runtime": "automatic"
  }]],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties"
  ],
  sourceType: "unambiguous"
}
