{
  "extends": "webkom/react",
  "parser": "babel-eslint",
  "globals": {
    "log": true,
    "expect": true,
    "sinon": true,
    "jest": true,
    "__DEV__": true
  },
  "rules": {
    "react/jsx-no-bind": 0,
    "arrow-parens": [2, "always"],
    "quote-props": 0,
    "react/prop-types": 0,
    "react/jsx-space-before-closing": 0,
    "react/prefer-stateless-function": 0
  },
  "env": {
    "jest": true
  }
}
