{
  "extends": "webkom/react",
  "parser": "babel-eslint",
  "rules": {
    "guard-for-in": 0,
    "func-names": 0,
    "react/no-multi-comp": 0,
    "react/jsx-no-bind": 1
  },
  "globals": {
    "log": true
  },
  "env": {
    "mocha": true
  }
}
