{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": ["react", "flowtype"],
  "globals": {
    "log": true,
    "expect": true,
    "jest": true,
    "__DEV__": true,
    "__CLIENT__": true,
    "Maze": any
  },
  "rules": {
    "react/prop-types": 2,
    "react/display-name": 2,
    "flowtype/no-types-missing-file-annotation": 2,
    "jsx-a11y/anchor-is-valid": 2
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.client.js"
      }
    }
  },
  "env": {
    "jest": true,
    "browser": true
  }
}
