.DS_Store
node_modules
npm-debug.log
public/bundle.js
public/bundle.css
compiler.jar
tiny-lr.pid
coverage
dist
dist-client
.env
styleguide
.css.tmp.md
*.log
*.swp
package-lock.json
.idea
*.iml
report.*.json
mazemap/mazemap.min.*


# Certs
localhost.pem
localhost-key.pem

# Cypress
cypress/screenshots
cypress/videos
