@import url('~app/styles/variables.css');

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-md);
}

.header {
  display: inline;
  word-break: break-word;
}

.skeletonHeader {
  margin: var(--spacing-md) 0;
  width: 210px;
  height: 39px;
}

.navigator {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--spacing-sm);
}

.back {
  display: flex;
  align-items: center;
  width: fit-content;
}

span.backLabel {
  font-weight: 600;
  margin-left: var(--spacing-sm);
}

.backIcon {
  transition: transform var(--easing-medium);
}

.back:hover > .backIcon {
  transform: translateX(-3px);
}

.details {
  margin-bottom: var(--spacing-md);
  color: var(--secondary-font-color);
}
