.link {
  display: inline;
  font-size: var(--font-size-lg);
  margin-right: 15px;
  border-bottom: 2px solid transparent;
  transition-property: color, border-bottom;

  &:hover:not(.active) {
    border-bottom: 2px solid var(--border-gray);
  }

  &.active {
    color: var(--lego-red-color-hover);
    border-bottom: 2px solid var(--lego-red-color-hover);
  }
}
