@import '~app/styles/variables.css';

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: baseline;
}

.header {
  display: inline;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  text-transform: uppercase;
  flex-shrink: 99999;
}

.navigator {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (--mobile-device) {
  .container {
    flex-flow: column wrap;
    align-items: flex-end;
    margin-right: -15px;
  }
}

@media (--small-viewport) {
  .navigator {
    flex-direction: row;
    align-items: flex-end;
  }
}

span.back {
  font-weight: 600;
  margin-left: 15px;
}

.backIcon {
  vertical-align: middle;
}

.details {
  margin-bottom: 15px;
}

h1.hasDetails {
  padding-bottom: 0;
}

h1.hasBack {
  padding-top: 0;
}

div.hasDetails {
  margin-bottom: 0;
}
