.link {
  display: inline;
  font-size: 20px;
  margin-right: 15px;
  transition: all 125ms ease-in-out;
  border-bottom: 2px solid transparent;

  &:hover:not(.active) {
    border-bottom: 2px solid var(--color-mono-gray-4);
  }

  &.active {
    border-bottom: 2px solid var(--color-red-2);
  }
}
