@import url('~app/styles/variables.css');

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.header {
  display: inline;
  font-weight: 600;
  line-height: 34px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  flex-shrink: 99999;
  word-break: break-word;
}

.navigator {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5rem;
}

.back {
  display: flex;
  align-items: center;
  width: fit-content;
}

span.backLabel {
  font-weight: 600;
  margin-left: 6px;
}

.backIcon {
  transition: transform var(--easing-medium);
}

.back:hover > .backIcon {
  transform: translateX(-3px);
}

.details {
  margin-bottom: 15px;
  color: var(--secondary-font-color);
}
