.link {
  display: inline;
  width: max-content;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  background-color: var(--additive-background);
  border-radius: var(--border-radius-md);
  outline: none;
  color: var(--lego-font-color);
  transition: var(--easing-fast);
  transition-property: color, background-color;

  &:focus-visible:not(.active) {
    box-shadow: 0 0 0 1.5px var(--lego-font-color);
  }

  &:hover:not(.active) {
    background-color: var(--color-gray-2);
  }

  &.active {
    background-color: var(--lego-font-color);
    color: var(--inverted-font-color);
  }
}
