@keyframes overlay-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 10%);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 302;

  &[data-entering] {
    animation: overlay-fade var(--easing-medium);
  }

  &[data-exiting] {
    animation: overlay-fade var(--easing-medium) reverse;
  }
}

html[data-theme='dark'] .overlay {
  background: rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 30%);
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

.modal {
  position: fixed;
  width: 475px;
  max-width: 100%;
  /**
   * max-height must be smaller than the height of .overlay
   * This is because we use align-items: center to vertically center, 
   * which moves the modal content out of the top of the screen if it 
   * is too tall
  */
  max-height: calc(100vh - 100px);
  padding: var(--spacing-xl);
  background: var(--color-white);
  outline: none;
  overflow-y: auto;
  z-index: 100;
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-lg);

  section:focus {
    outline: none;
  }

  @media (--tall-viewport) {
    max-height: calc(100vh - 300px);
  }

  &[data-entering] {
    animation: modal-zoom var(--bounce);
  }
}

.title {
  margin-top: 0;
  margin-bottom: var(--spacing-md);
}

.closeButton {
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-md);
}
