@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.backdrop {
  position: fixed;
  background: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 10%);
  backdrop-filter: blur(3px);
  inset: 0;
  z-index: 3;
  animation: fade-in var(--easing-medium) forwards;
}

html[data-theme='dark'] .backdrop {
  background: rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 10%);
}

@keyframes pop-in {
  from {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.content {
  line-height: 1.3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 475px;
  max-width: 100%;
  max-height: calc(100vh - 100px);
  padding: 35px;
  background: var(--color-white);
  outline: none;
  overflow-y: auto;
  z-index: 4;
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-lg);
  animation: pop-in var(--easing-medium) forwards;

  @media (--tall-viewport) {
    max-height: calc(100vh - 300px);
  }
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
