.feed
  li
    border-bottom 1px solid #ddd
    padding 5px 10px

    &:last-child
      border-bottom none

  img
    width 780px

.event-info-box
  padding 10px
  background #fff
  margin-bottom 10px

  button
    background #C54A3C
    border-radius 5px
    color #fff
    font-weight 700
    border 0
    font-size 14px
    padding 5px 10px
    cursor pointer
