header
  background #222
  height 80px
  line-height @height
  color #eee
  padding 0 20px

  .logo a
    display inline-block
    width 100px
    background url('images/logo.png') center center no-repeat
    background-size 100px 20px
    vertical-align middle
    color transparent

  li
    float left
    line-height 80px

  .login-status
    float right
