header
  background #222
  height 80px
  line-height @height
  color #eee
  padding 0 20px

  ul
    display table

  .logo a
    display inline-block
    width 120px
    background url('images/logo.png') 20px center no-repeat
    background-size 100px 20px
    color transparent

  li
    display table-cell
    line-height 80px

  .login-status
    text-align right
    padding-right 20px


  // Search field
  input.search
    font-size 20px
    width 70%
    height 40px
    padding 0 20px
    border 0
    background #333
    color #fff
    border-radius 5px

    &:focus
      outline none

.gravatar
  width 32px
  height @width
  border-radius (@width/2)
  display inline
  vertical-align middle
  margin-right 10px
