.search-container
  width 100%

.search
  input
    font-size 20px
    height 40px
    padding 0 20px
    border 0
    background #333
    color #fff
    border-radius 5px
    width 100%
    display inline

    &:focus
      outline none

.search-results
  background rgba(20, 20, 20, .9)
  position relative
  display block
  padding 20px
  opacity 1

  &.hidden
    padding 0
    opacity 0

  ul
    display block

  li
    display block
    line-height 1.8
    padding 10px

    &:hover
      background black
