.toolbar {
  position: absolute;
  display: inline-block;
  left: -20px;
  top: 0;
  user-select: none;
  font-size: 22px;
}

.toolbar > i:hover {
  cursor: pointer;
  transition: transform 0.15s;
}

.activeButton {
  transform: rotate(45deg);
}

.toolbarButtons {
  display: inline-flex;
  margin-left: 10px;
}

.toolbarButton {
  margin: 0 6px;
  z-index: 300;
  cursor: pointer;
  vertical-align: -webkit-baseline-middle;
}
