@import url('~app/styles/variables.css');

.footer {
  width: 100%;
  background-color: var(--lego-red-color);
  color: var(--color-absolute-white);
  margin-top: 3.1em;
  font-size: var(--font-size-sm);

  @media (--lego-max-width) {
    margin-top: 0.5em;
  }
}

.footerContent {
  composes: container from '~app/styles/utilities.css';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.9em;
  margin-bottom: -1px; /* In case of glitchy render */
  background: url('app/assets/skyline.svg') bottom center no-repeat;

  @media (--small-viewport) {
    justify-content: center;
  }
}

/* stylelint-disable no-descending-specificity */
.footerContent a {
  color: var(--color-red-8);
  margin-bottom: 0.5em;

  &:hover {
    color: var(--color-red-7);
    text-shadow: 0 0 0.003em var(--color-red-7);
  }
}

html[data-theme='dark'] .footerContent a {
  color: var(--color-red-2);

  &:hover {
    color: var(--color-red-3);
    text-shadow: 0 0 0.003em var(--color-red-3);
  }
}

.bottomContent a {
  color: var(--color-red-9);

  &:hover {
    color: var(--color-red-8);
    text-shadow: 0 0 0.003em var(--color-red-8);
  }
}

html[data-theme='dark'] .bottomContent a {
  color: var(--color-red-1);

  &:hover {
    color: var(--color-red-2);
    text-shadow: 0 0 0.003em var(--color-red-2);
  }
}
/* stylelint-enable no-descending-specificity */

.footerContent .section {
  width: 20em;
}

.subHeader {
  display: inline;
  text-transform: uppercase;
  color: #5d0909;
  font-family: 'Open Sans', sans-serif;
}

.octocat {
  display: inline-block;
  width: 1.3em;
  height: auto;
  margin-left: 1px;
  transition: transform var(--easing-slow);
}

.gitHubLink:hover .octocat {
  transform: rotate(360deg);
}

.section p {
  line-height: 1.4em;
  margin-bottom: 0.5em;
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;

  @media (--small-viewport) {
    text-align: center;
  }
}

.socialMedia {
  display: flex;
  flex-wrap: row wrap;
  justify-content: flex-end;
  padding-top: 0.4em;
  gap: 1.2em;

  @media (--small-viewport) {
    justify-content: center;
  }
}

.socialMediaIcon {
  width: 2.5em;
  height: auto;
  transition: transform var(--easing-fast);

  &:hover {
    transform: scale(1.1);
  }
}

.legoLinks {
  display: flex;
  flex-direction: row;
  letter-spacing: 1.1px;
  gap: 0.7em;
}

.bottom {
  width: 100%;
  background-color: var(--color-red-7);
}

html[data-theme='dark'] .bottom {
  background-color: var(--color-red-4);
}

.bottomContent {
  composes: container from '~app/styles/utilities.css';
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  gap: 0.5em;

  @media (--small-viewport) {
    flex-direction: column;
  }
}

.cooperator {
  height: 1.3em;
  width: auto;
}
