@import 'app/styles/variables.css';

.footer {
  width: 100%;
  background-color: #1b1a1a;
  color: white;
  margin-top: 50px;
  display: flex;

  @media (--lego-max-width) {
    margin-top: 0;
  }
}

.footer h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 20px;
}

.footerContent {
  composes: container from 'app/styles/utilities.css';
  display: flex;
  padding: 20px 0;
}

.section {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.bekk {
  width: 100px;
  height: auto;
  margin: 10px auto 15px;
}
