@import '~app/styles/variables.css';

.footer {
  width: 100%;
  background-color: var(--lego-footer-color);
  color: var(--color-white);
  margin-top: 50px;
  display: flex;

  @media (--lego-max-width) {
    margin-top: 0;
  }
}

html[data-theme='dark'] .footer {
  color: var(--color-dark);
}

.footer h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 20px;
}

.footerContent {
  composes: container from '~app/styles/utilities.css';
  display: flex;
  padding: 20px 0;
}

.section {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.cooperator {
  width: 200px;
  height: auto;
  margin: 10px auto 15px;
}

.desktopLogo {
  margin-top: 130px;
}

.octocat {
  width: 40px;
  height: auto;
}
