@import url('~app/styles/variables.css');

.title {
  font-size: 1.3rem;
  color: var(--lego-red);
  font-family: Inter, sans-serif;
  font-weight: 600;
}

.titleLeft {
  text-align: right;
}

.summary {
  font-size: 1.1rem;
}

.summaryLeft {
  text-align: right;
}

.paragraph {
  opacity: 0.9;
}

.paragraphLeft {
  text-align: right;
}

@media (--mobile-device) {
  .title,
  .titleLeft,
  .summaryLeft,
  .paragraphLeft,
  .summary {
    text-align: center;
  }
}
