@import url('~app/styles/variables.css');

.groupPage {
  margin-top: 1em;
  display: flex;
}

.sidebar {
  flex: 0 0 20em;
  order: -1;
  margin-right: 40px;
  padding-right: 40px;
  border-right: 1px solid var(--border-gray);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
