@import '~app/styles/variables.css';

.groupPage {
  margin-top: 1em;
  display: flex;
}

.sidebar {
  flex: 0 0 20em;
  order: -1;
  margin-right: 40px;
  padding-right: 40px;
  border-right: 1px solid var(--border-gray);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  text-align: center;
  border-bottom: 2px solid var(--lego-link-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 10px;

  > h2 {
    line-height: 1;
    margin: 0 10px;
  }

  > span {
    line-height: 1;
    margin: 0 10px;
    font-size: 15px;
    color: #808080;
  }
}

.tabs {
  height: 40px;
  display: flex;
  border-bottom: 2px solid var(--color-mono-gray-4);
  flex-direction: row;
  width: 100%;
}

.tab {
  border-left: 4px solid var(--lego-link-color);
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: bottom;
  color: #868686;
  background-color: #e2e2e2;

  &.active {
    background-color: var(--color-white);
    color: var(--lego-link-color);
  }
}
