.cute {
  color: rgb(60, 18, 94);
  background-color: rgb(148, 94, 177);
  text-align: center;
  font-size: 100px;
}

.pink {
  color: rgb(178, 105, 227);
  background-color: rgb(69, 11, 122);
  background-size: 100px;
  text-align: center;
}
