@import url('~app/styles/variables.css');

.root {
  flex-direction: column;
}

.colLeft {
  flex: 3;
}

.colRight {
  flex: 2;
  align-items: center;
  padding-top: 10px;
  background-color: var(--color-absolute-white);
}

.colLeft ul {
  list-style: outside;
  padding-left: var(--spacing-lg);
}

.inlineLink {
  display: inline-block;
  padding-right: 5px;
}

.h2Padding {
  padding-top: 20px;
}
