@import '~app/styles/variables.css';

.root {
  color: var(--lego-text-gray);
  flex-direction: column;
}

.colLeft {
  flex: 3;
}

.colRight {
  flex: 2;
  align-items: center;
  padding-top: 10px;
}

.colLeft ul {
  list-style: outside;
  padding-left: 1.5em;
}

.inlineLink {
  display: inline-block;
  padding-right: 5px;
}

.h2Padding {
  padding-top: 20px;
}
