@import 'app/styles/variables.css';

.root {
  color: var(--lego-text-gray);
  flex-direction: column;
}

.colLeft {
  flex: 3;
}

.colRight {
  flex: 2;
  align-items: center;
}

ul {
  list-style: inside;
}

.inlineLink {
  display: inline-block;
  padding-right: 5px;
}
