@import url('styles/custom-media.css');

.buttonWrapper,
.buttonWrapper button {
  width: 100%;
}

.requestingUser h4 {
  color: var(--lego-font-color);
}

.commentField {
  width: 100%;
}

.timelineContainer {
  display: grid;
  grid-template-columns: var(--spacing-lg) 1fr auto;
  column-gap: var(--spacing-md);
}

.timelineContainer time {
  color: var(--secondary-font-color);
}

.timelineLineStart,
.timelineLineEnd {
  background-color: var(--lego-font-color);
  width: 1px;
}

.timelineLineStart {
  height: var(--spacing-md);
  flex-shrink: 0;
}

.timelineLineEnd {
  height: 100%;
  padding: var(--spacing-md) 0;

  @media (--mobile-device) {
    padding: var(--spacing-lg) 0;
  }
}

.timelineEntryMessageContainer,
.timelineEntrySystemContainer {
  margin-bottom: var(--spacing-md);
  display: grid;
  column-gap: var(--spacing-md);
  align-items: center;
  grid-template-columns: 32px auto auto;
}

.timelineEntryMessageContainer {
  background: var(--lego-card-color);
  border-radius: var(--border-radius-lg);
  border: 1.5px solid var(--border-gray);
  box-shadow: var(--shadow-sm);
  padding: var(--spacing-md);
}

.timelineText {
  grid-column-start: 2;
  grid-column-end: 4;
}

.timelineEntrySystemContainer > .timelineText {
  color: var(--secondary-font-color);
}

.timelineEntryMessageContainer > .timelineText {
  color: var(--lego-font-color);
}

.timelineTime {
  text-align: end;
}

.timelineEntrySystemContainer > .timelineTime {
  padding-right: var(--spacing-md);
}

.timelineTagContainer {
  height: 100%;
}

.timelineTag {
  border-radius: 100%;
  height: 32px;
  width: 32px;
  padding: 0;
  justify-content: center;
}
