@import url('~app/styles/variables.css');

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 1rem;
}

.statistic {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

@media (--mobile-device) {
  .container {
    margin: 0 0.5rem 0.5rem;
    flex-basis: 40%;
  }
}
