.skeleton {
  width: 100%;
  height: 100%;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--color-gray-1);
  }
  50% {
    background-color: var(--color-gray-2);
  }
  100% {
    background-color: var(--color-gray-3);
  }
}
