@import url('~app/styles/variables.css');

.sortQuote {
  order: 2;
  width: 200px;
  margin-top: 40px;
}

.selectedQuoteSort {
  font-weight: 600;
}

.addQuote {
  max-width: 550px;
  margin-bottom: 3rem;
}

.addQuote label {
  display: block;
}

.addQuoteContent {
  height: 200px;
}

.addQuoteSource {
  height: 75px;
}

.addQuote .fieldError {
  color: var(--danger-color);
  font-weight: bold;
}

.errorMessage {
  color: var(--danger-color);
}

.clear {
  clear: both;
}

/* Detail */

.quoteBottom {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 5px;
  margin-left: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 3;

  @media (--small-viewport) {
    padding: 0 0 30px;
    margin: 30px 0 0;
  }
}

.singleQuote {
  padding: 1px 20px 0 0;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 50px;

  &:last-child .quoteBottom {
    border-bottom: none;
  }
}

.leftQuote {
  display: flex;
  width: 100%;
  order: 1;
}

.leftQuote i {
  @media (--small-viewport) {
    display: none;
  }
}

.singleQuote h3 {
  font-weight: 300;
  font-size: 30px;
  margin: 0;
  line-height: 35px;
}

.theQuote {
  padding-left: 5px;
}

.theQuote a {
  color: var(--lego-font-color);

  &:hover {
    color: var(--color-orange-6);
  }
}

.quoteSource {
  font-size: var(--font-size-lg);
  order: 1;
  margin-top: -5px;
  width: 70%;
  line-height: 25px;
}

.quoteSource i {
  font-size: var(--font-size-lg) !important;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 140px;
  order: 2;
}

.bottomRight {
  order: 2;
  display: flex;
  flex-direction: row;
}

.quoteDate {
  color: var(--secondary-font-color);
  font-size: var(--font-size-sm);
  order: 1;
  margin-top: 3px;
}

.quoteAdmin {
  order: 2;
}

.adminDropdown {
  position: absolute;
}

.quoteReactions {
  order: 4;
  margin-left: 125px;
}

@media (--small-viewport) {
  .sortQuote {
    margin: 0;
  }

  .quotepageLeft {
    width: 100%;
  }

  .singleQuote {
    width: 100%;
    flex-direction: column;
  }

  .leftQuote {
    width: 100%;
  }

  .quoteAdmin {
    margin: 0;
    width: 100%;
  }

  .quoteDate {
    margin-top: 10px;
  }

  .theQuote {
    width: 100%;
  }

  .quotepageRight {
    order: 99;
    border: 0;
    margin: 0 0 0 100px;
    font-size: var(--font-size-lg);
  }

  .quoteReactions {
    margin-left: 0;
  }
}

.innerPreview {
  width: 360px;
}

.select {
  width: 200px;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 30px;
  font-size: var(--font-size-lg);

  @media (--mobile-device) {
    margin-left: 0;
  }
}
