
.root {
  composes: container from 'app/styles/utilities.css';
}

.singleQuote {
  padding: 1px 20px 10px 0;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.singleQuote .theQuote {
  width: 93%;
}

.singleQuote .theQuote a {
  color: black;
}

.singleQuote .theQuote a:hover {
  color: black;
  text-decoration: none;
}

.singleQuote .leftQuote {
  display: flex;
  width: calc(100% - 100px);
  order: 1;
}

.singleQuote .rightQuote {
  order: 2;
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  width: 70px;
  margin-left: 20px;
}

.singleQuote .likeCount {
  order: 2;
  font-size: 30px;
  color: orange;
  margin-top: -7px;
  padding-bottom: 15px;
}

.singleQuote h3 {
  font-weight: 300;
  font-size: 30px;
  margin: 0;
  line-height: 35px;
}

.singleQuote h3 a {
  color: #777;
}

.singleQuote h3 a:hover {
  color: orange;
}

.singleQuote .likes,
.singleQuote .unlikes {
  width: 50px;
  height: 50px;
  order: 1;
}

.singleQuote .fa-thumbs-up {
  padding-top: 5px;
  font-size: 35px;
  order: 0;
}

.singleQuote .quoteDefault {
  color: gray;
}

.singleQuote .quoteLiked {
  color: orange;
}

.singleQuote .fa-thumbs-up:hover {
  color: orange;
}

.singleQuote .quoteBottom {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 40px;
  margin-left: 130px;
  border-bottom: 1px solid #CCC;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 3;
}

.singleQuote .quoteSource {
  font-size: 20px;
  order: 1;
  margin-top: -5px;
  width: 76%;
  line-height: 25px;
}

.singleQuote .quoteSource i {
  font-size: 20px !important;
}

.singleQuote .quoteAuthor {
  font-size: 15px;
  margin-top: 50px;
}

.singleQuote .quoteDate {
  color: #666;
  font-size: 13px;
  order: 2;
  align-self: auto;
  margin-top: 1px;
}

.singleQuote .quoteAdmin {
  margin: 20px auto 0;
  width: 200px;
  order: 3;
}

.deleteQuote {
  margin-left: 20px;
}

.singleQuote .faQuote-right {
  font-size: 100px;
  color: #dbdbdb;
  margin-right: 30px;
  order: 0;
  height: 0;
}

.quote-singleroute .quoteBottom {
  border-bottom: none;
}
