:global {

@media (max-width: 480px) {

  .quote-container {
    margin: 0 15px 0 15px;
    width: 100%;
    flex-direction: column;
  }

  .quote-top {
    height: 150px;
    flex-direction: column;
  }

  .quote-top h1{
    margin-bottom: 0;
  }

  .sort-quote {
    margin: 0 0 0 0;
  }

  .quotepage-left {
    width: 100%;
  }

  .single-quote {
    width: 100%;
    flex-direction: column;
  }

  .single-quote .fa-quote-right {
    display: none;
  }

  .single-quote .left-quote {
    width: 100%;
  }

  .single-quote .quote-bottom {
    width: 100%;
    margin: 15px 0 0 0;
    padding-bottom: 50px;
  }

  .single-quote .quote-admin {
    margin: 0;
    width: 100%;
  }

  .single-quote .quote-date {
    margin-top: 10px;
  }

  .single-quote .the-quote {
    width: 100%;
  }

  .single-quote .right-quote {
    margin: -50px 0 0 0;
    order: 4;
  }

  .quotepage-right {
    order: 99;
    border: 0;
    margin: 0 0 0 100px;
    font-size: 20px;
  }

}
}
