@import 'app/styles/variables.css';

.root {
  composes: contentContainer from 'app/styles/utilities.css';
}

.quoteContainer {
  display: flex;
  flex-direction: column;
}

.quoteContainer h1 {
  margin: 0 0 20px;
}

.quotepageRight {
  min-height: 300px;
  padding: 0 0 0 30px;
  margin-left: 60px;
  border-left: 1px solid #ccc;
  order: 2;
}

.quotepageRight a {
  display: block;
}

.reactions {
  order: 3;
  margin: 15px 0 0 20px;
  width: 100%;
}

.sortQuote {
  order: 2;
  width: 200px;
  margin-top: 40px;
}

.selectedQuoteSort {
  font-weight: 600;
}

.submitQuote {
  padding: 10px 20px;
  font-size: 14px;
  margin: 10px 0 50px;
}

.submitQuote:disabled {
  color: #ccc;
}

.addQuote label {
  display: block;
}

.addQuoteContent {
  width: 500px;
  height: 150px;
}

.addQuoteSource {
  width: 500px;
  height: 75px;
}

.addQuote .fieldError {
  color: red;
  font-weight: bold;
}

.errorMessage {
  color: red;
}

.clear {
  clear: both;
}

/* Detail */

.singleQuote {
  padding: 1px 20px 0 0;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 50px;

  &:last-child .quoteBottom {
    border-bottom: none;
  }
}

.theQuote {
  padding-left: 5px;
}

.theQuote a {
  color: black;
}

.theQuote a:hover {
  color: black;
  text-decoration: none;
}

.leftQuote {
  display: flex;
  width: 100%;
  order: 1;
}

.leftQuote i {
  @media (--small-viewport) {
    display: none;
  }
}

.rightQuote {
  order: 2;
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  width: 70px;
  margin-left: 20px;
}

.singleQuote h3 {
  font-weight: 300;
  font-size: 30px;
  margin: 0;
  line-height: 35px;
}

.singleQuote h3 a {
  color: #777;
}

.singleQuote h3 a:hover {
  color: orange;
}

.fa-thumbs-up {
  padding-top: 5px;
  font-size: 35px;
  order: 0;
}

.quoteDefault {
  color: gray;
}

.fa-thumbs-up:hover {
  color: orange;
}

.quoteBottom {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 5px;
  margin-left: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 3;

  @media (--small-viewport) {
    padding: 0 0 30px;
    margin: 30px 0 0;
  }
}

.quoteSource {
  font-size: 20px;
  order: 1;
  margin-top: -5px;
  width: 70%;
  line-height: 25px;
}

.quoteSource i {
  font-size: 20px !important;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 140px;
  order: 2;
}

.bottomRight {
  order: 2;
  display: flex;
  flex-direction: row;
}

.bottomRight div {
  margin-left: 10px;
}

.quoteDate {
  color: #666;
  font-size: 13px;
  order: 1;
  margin-top: 3px;
}

.dropdownIcon {
  color: var(--lego-link-color);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.reactionCount {
  order: 1;
}

.quoteAdmin {
  order: 2;
}

.faQuote-right {
  font-size: 100px;
  color: #dbdbdb;
  margin-right: 30px;
  order: 0;
  height: 0;
}

.adminDropdown {
  position: absolute;
}

.quoteReactions {
  order: 4;
  margin-left: 125px;
}

@media (--small-viewport) {
  .quoteContainer {
    margin: 0 15px;
    width: 100%;
    flex-direction: column;
  }

  .sortQuote {
    margin: 0;
  }

  .quotepageLeft {
    width: 100%;
  }

  .singleQuote {
    width: 100%;
    flex-direction: column;
  }

  .faQuote-right {
    display: none;
  }

  .leftQuote {
    width: 100%;
  }

  .quoteAdmin {
    margin: 0;
    width: 100%;
  }

  .quoteDate {
    margin-top: 10px;
  }

  .theQuote {
    width: 100%;
  }

  .rightQuote {
    margin: -50px 0 0;
    order: 4;
  }

  .quotepageRight {
    order: 99;
    border: 0;
    margin: 0 0 0 100px;
    font-size: 20px;
  }

  .quoteReactions {
    margin-left: 0;
  }
}
