@import url('styles/custom-media.css');

.pinned {
  grid-area: pinned;
  width: 100%;
}

div.authenticatedBody {
  padding: 0;
  min-height: 260px;
  animation-name: wiggle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 5s;

  @media (--mobile-device) {
    min-height: 180px;
  }
}

div.publicBody {
  padding: 0;
  min-height: 260px;

  @media (--mobile-device) {
    min-height: 180px;
  }
}

.innerLinks {
  display: block;

  @media (--mobile-device) {
    height: inherit;
  }
}

.image {
  object-fit: contain;
  background: white;

  @media (--mobile-device) {
    object-fit: scale-down;
    border-right: none;
    display: block;
  }
}

.pinnedHeading {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.itemTitle {
  margin: 0;
  font-size: var(--font-size-lg);
  word-break: normal;
}

.itemTitle > a {
  color: var(--lego-font-color);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-1.5deg);
  }

  10% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(1.5deg);
  }

  20% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
