@import url('styles/custom-media.css');

.pollsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: var(--spacing-md);

  @media (--mobile-device) {
    grid-template-columns: 1fr;
  }
}

.pollListItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: var(--lego-font-color);
}

.pollDate {
  color: var(--secondary-font-color);
  font-size: var(--font-size-sm);
  flex-shrink: 0;
  margin-left: var(--spacing-xs);
}

.smallViewportOnly {
  display: none;
}

.largeViewportOnly {
  display: block;
}

@media (--small-viewport) {
  .smallViewportOnly {
    display: block;
    margin-left: 0;
    margin-bottom: var(--spacing-sm);
  }

  .largeViewportOnly {
    display: none;
  }
}
