.gallery {
  margin-top: 1.7rem;
}

.galleryContainer {
  width: 100%;
}

.galleryRow {
  display: flex;
  margin-bottom: -9px;
  justify-content: center;
}

.galleryPhoto {
  cursor: pointer;
  position: relative;
}

.img {
  height: auto;
  width: 100%;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  display: inline-block;
}
