.gallery {
  display: 'flex';
}

.galleryContainer {
  width: 100%;
}

.galleryRow {
  display: flex;
  margin-bottom: -9px;
  justify-content: center;
}

.galleryPhoto {
  cursor: pointer;
  position: relative;
}

.img {
  height: auto;
  width: 100%;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 100%;
  height: 100%;
  color: #fff;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  display: inline-block;
}
