@import 'app/styles/variables.css';

.pageContainer {
  position: relative;
  margin-top: -2em;
}

.banner {
  width: 100%;
  max-width: 55rem;
  display: block;
  margin: 1rem auto;
  object-fit: scale-down;
}

.statisticsContainer {
  margin-bottom: 2.5em;
  margin-top: 1em;
}

.emailContainer {
  margin-top: -2em;
  margin-bottom: 30px;
}

.title {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 0.4rem;
}

.abakusInNumbers {
  display: none;
  color: var(--lego-font-color);
  font-size: 1.7rem;
  text-align: center;
  font-family: RalewayBold, sans-serif;
  text-transform: uppercase;
}

.contactTitle {
  color: var(--lego-font-color);
  font-size: 1.7rem;
  text-align: center;
  font-family: RalewayBold, sans-serif;
  text-transform: uppercase;
  margin: 3rem auto 1.5rem;
}

.contactUsLink {
  color: var(--lego-red);
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 1.5em;
  font-size: 1.3rem;
  position: absolute;
  right: 0;
  top: 0;
}

.emailIcon {
  margin-right: 1rem;
  margin-top: 10px;
}

.soMeIcon {
  margin-right: 1rem;
}

.houseIcon {
  margin-right: 1rem;
  margin-top: -5px;
}

.organizationIcon {
  margin-right: 1rem;
}

.emails {
  margin-top: 30px;
}

.organization {
  margin-top: 25px;
}

.socialMediaContainer {
  margin-top: -2em;
  margin-bottom: 30px;
}

.socialMediaType {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.3333% - 12px);
  margin: 6px;
  align-items: center;

  @media (--mobile-device) {
    flex-direction: row;
    flex-basis: 100%;
    margin: auto;
    padding: 0.8rem;
  }
}

.socialMediaTypeLinks {
  display: flex;
  flex-direction: column;
  margin: 4px;
  align-items: center;
  line-height: 25px;

  @media (--mobile-device) {
    margin-left: 10px;
    align-items: flex-start;
  }
}

.socialMediaLink {
  margin-top: 5px;
  line-height: 18px;
}

.snapchatIcon {
  margin-left: -3.75px;
}

@media (--mobile-device) {
  .abakusInNumbers {
    display: block;
  }

  .whoWhatWhyContainer {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .locationContainer {
    flex-wrap: wrap;
  }

  .emails {
    margin-top: 0;
  }

  .emailIcon,
  .houseIcon,
  .organizationIcon {
    display: none;
  }

  .emailContainer {
    margin-left: 8px;
    margin-top: 0;
  }

  .contactUsLink {
    margin-bottom: 2px;
    top: 0.5em;
    font-size: 1.2em;
  }

  .pageContainer {
    padding: 0;
    padding-top: 2em;
  }

  .statisticsContainer {
    display: flex;
  }
}
