@import 'app/styles/variables.css';

.pageContainer {
  position: relative;
  margin-bottom: 3rem;
  margin-top: -2em;
}

.topContainer {
  display: flex;
}

.banner {
  width: 100%;
  max-width: 55rem;
  display: block;
  margin: auto auto 3rem;
  object-fit: scale-down;
}

.statisticsContainer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

.whoWhatWhyContainer {
  display: flex;
}

.locationContainer {
  display: flex;
}

.emailContainer {
  display: flex;
}

.committeeEmails {
  display: flex;
  flex-wrap: wrap;
}

.organizationContainer {
  display: flex;
}

.title {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 0.4rem;
}

.contactTitle {
  color: var(--lego-red);
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
}

.contactTitleContainer {
  width: 100%;
  padding-bottom: 0.3rem;
  max-width: 15rem;
  margin: 2em auto 2rem;
  border-bottom: 2px solid var(--lego-red);
}

.contactUsLink {
  color: var(--lego-font-color);
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 1.5em;
  font-size: 1.3rem;
}

.emailIcon {
  margin-right: 1rem;
}

.emails {
  margin-top: 30px;
}

.organization {
  margin-top: 25px;
}

@media (--mobile-device) {
  .whoWhatWhyContainer {
    flex-wrap: wrap;
  }

  .locationContainer {
    flex-wrap: wrap;
  }

  .emailContainer {
    flex-wrap: wrap;
  }

  .emails {
    margin-top: 0;
  }

  .emailIcon {
    display: none;
  }

  .contactUsLink {
    margin-bottom: 2px;
  }
}
