@import url('~app/styles/variables.css');

div .cont {
  padding: 0;
}

.root {
  composes: container from '~app/styles/utilities.css';
}

.title {
  font-size: 28px;
  margin: 0;
}

.page {
  margin: 0;
  width: 100%;
}

.navTab {
  position: relative;
  margin-top: -30px;
}

.detail {
  flex: 1;
  width: 100%;
  padding: 1em;
}

.headWrapper {
  display: flex;
  flex-flow: column wrap;
  margin-top: -15px;
}

.header {
  text-align: center;
  margin: 0 auto;
}

.skeletonHeader {
  width: 18rem;
  height: 3rem;
}

.skeletonBody1 {
  margin-top: 2rem;
  width: 60%;
  height: 80px;
}

.skeletonBody2 {
  margin-top: 1rem;
  width: 40%;
  height: 65px;
}

.skeletonBody3 {
  margin-top: 1rem;
  width: 80%;
  height: 70px;
}

.main {
  width: 100%;
}

.mainTxt {
  margin-top: 1em;
  padding: 2em 1.5em;
  flex-grow: 1;
}

.action {
  margin-left: 20px;
}

.coverImage {
  width: 100%;
  height: 300px;
  object-fit: scale-down;
}

.coverImage img {
  height: 300px;
  width: 100%;
  object-fit: scale-down;
}

.banner {
  padding-bottom: 2px;
  aspect-ratio: 3.3;
}

.banner img {
  max-height: 275px;
  width: 100%;
  object-fit: contain;
}

.heading {
  text-align: center;
  color: var(--lego-link-color);
  margin: 50px 0 20px;
}

.leaderBoard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.members {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
}

.membersSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebarOpenBtn {
  background-color: var(--color-red-6);
  width: 40px;
  height: 65px;
  position: sticky;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  border-left: 0;
  color: var(--lego-font-color);
  z-index: 10;

  @media (--mobile-device) {
    display: flex;
  }
}

@media (--mobile-device) {
  .page {
    margin-top: -65px;
  }

  .mainTxt {
    padding: 1em;
    padding-bottom: 1em;
  }

  .header {
    text-align: center;
    word-break: break-word;
    margin-top: 0;
  }

  .banner img {
    height: 150px;
  }

  .navTab {
    display: flex;
  }

  .leaderBoard {
    flex-direction: column;
    align-self: center;
  }
}
