@import url('~app/styles/variables.css');

.header {
  text-align: center;
  margin: 0 auto;
}

.skeletonHeader {
  width: 18rem;
  height: 3rem;
}

.skeletonBody1 {
  margin-top: var(--spacing-xl);
  width: 60%;
  height: 80px;
}

.skeletonBody2 {
  margin-top: var(--spacing-md);
  width: 40%;
  height: 65px;
}

.skeletonBody3 {
  margin-top: var(--spacing-md);
  width: 80%;
  height: 70px;
}

.heading {
  text-align: center;
  color: var(--lego-link-color);
  margin: 50px 0 20px;
}

.leaderBoard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.members {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
}

.membersSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (--mobile-device) {
  .header {
    text-align: center;
    word-break: break-word;
    margin-top: 0;
  }

  .leaderBoard {
    flex-direction: column;
    align-self: center;
  }
}
