@import '~app/styles/variables.css';

.sidebar {
  display: flex;
  flex-direction: column;

  @media (--mobile-device) {
    margin-left: 1.5em;
  }
}

.pageList {
  text-align: left;
  line-height: 28px;
  width: 100%;
}

.pageList a {
  font-size: 17px;
}

.pageList a:hover {
  color: var(--lego-link-color);
}

.dropdownBtn {
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-large);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: var(--lego-text-gray);
  margin-top: 1.4em;
}

.back > i {
  padding-right: 10px;
  color: var(--lego-link-color);
}

.links {
  margin: 8px 0 10px 8px;
  padding-bottom: 6px;  
  padding-top: 6px;
  border-bottom: 2px solid var(--border-gray);
}

.links:first-child {
  margin-top: 15px;
}

.links:last-child {
  margin-bottom: -5px;
}

.nonSelected {
  color: var(--lego-text-gray);
  font-weight: normal;
}

.selected {
  color: var(--lego-link-color);
  font-weight: bold;
}

.selected::before {
  content: '\25CF ';
  color: var(--lego-red);
  margin-right: 5px;
  margin-left: -15.5px;
}

.dropdownContainer {
  display: block;
}

.dropdownIcon {
  align-self: flex-end;
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}

@media (--mobile-device) {
  .pageList {
    width: 90%;
  }
}
