.root {
  composes: container from '~app/styles/utilities.css';
}

.title {
  width: 100%;
  padding: 2px 0;
}

.submitButton {
  margin-left: 20px;
}

.coverImage {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: #000;
  margin-bottom: 20px;
  position: relative;
}
