@import 'app/styles/variables.css';

.sidebar {
  display: flex;
  flex-direction: column;

  /* border-left: 1px solid #ddd; */
}

.pageList {
  text-align: left;
  line-height: 18px;

  & li {
    margin-bottom: 10px;
  }
}

.pageList a {
  font-size: 18px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  font-size: var(--font-size-large);
}

.back > i {
  padding-right: 10px;
  color: var(--lego-link-color);
}

.links {
  margin-left: 10px;
}
