@import url('~app/styles/variables.css');

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0 -0.2em;

  @media (--mobile-device) {
    margin-left: 1.5em;
  }
}

.pageList {
  text-align: left;
  line-height: 18px;
}

.pageList a {
  font-size: 18px;
  color: var(--lego-font-color);
}

.dropdownBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-large);
  font-family: Inter, sans-serif;
  font-weight: bold;
  color: var(--lego-font-color);
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
  width: 100%;
}

.dropdownBtn:hover {
  background-color: var(--color-red-hightlight);
}

.back > i {
  padding-right: 10px;
  color: var(--lego-link-color);
}

.links {
  margin-left: 0.5em;
  width: 93%;
  border-radius: 6px;
}

.links:hover {
  background-color: var(--color-red-hightlight);;
}

.nonSelected {
  font-weight: normal;
  padding: 8px 8px 8px 8px;
  margin: 0 0 10px 0;
  border-radius: 6px;
}

.selected {
  padding: 8px 8px 8px 8px;
  margin: 0 0 10px 0;
  border-radius: 6px;
  color: var(--color-absolute-white);
  background-color: var(--color-red-3);
}

.dropdownContainer {
  display: block;
  margin-left: 0em;
  margin-bottom: 1em;

}

.dropdownIcon {
  padding-left: 8px;
}
