@import url('~app/styles/variables.css');

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (--mobile-device) {
    margin-left: 1.5em;
  }
}

.pageList {
  text-align: left;
  line-height: 16px;
}

.pageList a {
  font-size: var(--font-size-md);
  color: var(--lego-font-color);
}

.dropdownBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-lg);
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: var(--lego-font-color);
  margin-bottom: 0.8em;
  border-radius: var(--border-radius-md);
  padding: 7px 8px;
  width: 100%;
}

.dropdownBtn:hover {
  background-color: rgba(255, 0, 0, var(--color-red-hover-alpha));
}

.back > i {
  padding-right: 10px;
  color: var(--lego-link-color);
}

.links {
  margin-left: 0.5em;
  width: 93%;
  border-radius: var(--border-radius-md);
}

.links:hover {
  background-color: rgba(255, 0, 0, var(--color-red-hover-alpha));
}

.nonSelected {
  font-weight: normal;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: var(--border-radius-md);
}

.selected {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: var(--border-radius-md);
  color: var(--color-absolute-white);
  background-color: var(--color-red-3);
}

.dropdownContainer {
  display: block;
  margin-bottom: 1em;
}

.dropdownIcon {
  transition: var(--easing-medium);
}

@media (--mobile-device) {
  .dropdownBtn:hover {
    background-color: transparent;
  }
}
