@import 'app/styles/variables.css';

.cont {
  padding: 0;
}

.root {
  composes: container from 'app/styles/utilities.css';
}

.title {
  font-size: 28px;
  margin: 0;
}

.page {
  margin: 0;
}

.detail {
  flex: 1;
  min-width: 300px;
  width: 100%;
}

.header {
  margin: 10px 0;
}

.header1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}

.side {
  width: 25%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-right: 2px solid var(--lego-red);
}

.sidebar {
  min-width: 150px;
  max-width: 230px;
  margin: 0 2em;
  padding: 20px;
  display: flex;
  flex-direction: column;

  @media (--mobile-device) {
    margin: 0;
  }
}

.sidebarPicture {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarBottom {
  margin-top: 60px;
}

.main {
  width: 100%;
}

.mainTxt {
  width: 75%;
  padding: 20px;
}

.action {
  margin-left: 20px;
}

.coverImage {
  width: 100%;
  height: 300px;
  object-fit: scale-down;
}

.coverImage img {
  height: 300px;
  width: 100%;
  object-fit: scale-down;
}

.oldImg {
  filter: grayscale(100%);
}

.pictureInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  height: 275px;
  width: 100%;
  object-fit: contain;
}

.heading {
  text-align: center;
  color: #c0392b;
  margin: 50px 0 20px;
}

.leader {
  margin: auto;
}

.members {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.membersSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
