@import url('~app/styles/variables.css');

.sidebar {
  display: flex;
  flex-direction: column;
  width: 290px;
  flex-shrink: 0;
  padding: 1.1em;
  padding-bottom: 4.4em;
  background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 2%);
  border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
  z-index: 11;
}

.sidebarHeader {
  margin: 1em 0 1.4em;
  align-self: center;
  text-align: center;
  padding-bottom: 0.6em;
  width: 93%;
  border-bottom: 2px solid var(--border-gray);
}

.sidebarCloseButton {
  display: none;
}

@media (--mobile-device) {
  .sidebar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    background-color: var(--lego-card-color);
    overflow-y: auto;
    overscroll-behavior: none;
  }

  .sidebarClosed {
    display: none;
  }

  .sidebarCloseButton {
    display: flex;
    align-self: flex-end;
    color: var(--lego-font-color);
  }
}
