@import '~app/styles/variables.css';

.side {
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-right: 2px solid var(--lego-red);
  margin-bottom: 5em;
  width: 270px;
}

.sidebar {
  min-width: 150px;
  max-width: 230px;
  margin: 0 1.5em;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  @media (--mobile-device) {
    margin: 0;
  }
}

.sidebarHeader {
  letter-spacing: 1.5px;
  font-size: 2em;
  font-weight: 900;
  margin-bottom: -10px;
  font-family: RalewayBold, sans-serif;
}

.sidebarSubtitle {
  margin-top: 0;
  padding-top: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
}

.sidebarPicture {
  margin-top: 30px;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarBottom {
  margin-top: 1.5em;
}

.oldImg {
  filter: grayscale(100%);
}

.pictureHeader {
  margin-top: -15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: RalewayBold, sans-serif;
  letter-spacing: 1px;
}

.pictureInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarCloseBtn {
  width: 40px;
  height: 25px;
  display: none;
  align-items: right;
  justify-content: flex-end;
  color: var(--lego-font-color);
  font-size: 0.75em;
  z-index: 10;

  @media (--mobile-device) {
    display: inline-block;
    position: absolute;
    right: 0.7em;
    top: 0.5em;
  }
}

@media (--mobile-device) {
  .side,
  .sidebarPicture {
    display: none;
  }

  .side.isOpen {
    display: block;
    position: absolute;
    z-index: 11;
    width: 90%;
    box-shadow: 10px 10px 27px -15px rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.75);
    height: 100%;
  }

  .sidebar {
    width: 100%;
    max-width: 100%;
    background-color: #f6f6f6;
    height: 100%;
  }

  .sidebarWrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgba(
      var(--rgb-min),
      var(--rgb-min),
      var(--rgb-min),
      0.07
    );
    z-index: 10;
  }
}
