@import url('styles/custom-media.css');

section.wrapper {
  display: grid;
  grid-template:
    'filter-search request-inbox'
    'item-index request-inbox'
    / 2.75fr 1.25fr;
  padding: 0 var(--spacing-md);
  gap: var(--spacing-lg);

  @media (--mobile-device) {
    gap: var(--spacing-md);
    grid-template:
      'filter-search'
      'request-inbox'
      'item-index';
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-gray);
}

@media (--mobile-device) {
  .divider {
    margin-top: var(--spacing-md);
  }
}

.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-md);
}

.requestInbox {
  grid-area: request-inbox;
}

.filterSearch {
  grid-area: filter-search;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.itemIndex {
  grid-area: item-index;
}
