@import url('styles/custom-media.css');

.thumbnail {
  min-width: 212px;
  flex-shrink: 0;
  @media (--small-viewport) {
    align-self: center;
    min-width: 66%;
  }
}

.detailsContainer {
  flex: 1;
  padding: 0 var(--spacing-md);
  min-width: 0;
  @media (--small-viewport) {
    padding: 0;
  }
}

.fields {
  display: flex;
  @media (--small-viewport) {
    flex-direction: column;
  }
}

.nameLocation {
  display: flex;
  gap: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  @media (--small-viewport) {
    padding: var(--spacing-md) 0;
  }
}
