@import url('styles/custom-media.css');

.lendableObjectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: var(--spacing-xl);

  @media (width <= 60em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--small-viewport) {
    grid-template-columns: repeat(1, 1fr);
  }
}

div.lendableObjectCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  height: 100%;
}

img.lendableObjectImage {
  object-fit: cover;
  height: 100%;
}

.lendableObjectFooter {
  display: flex;
  justify-content: center;
  color: var(--lego-font-color);
}

.lendingRequestsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.lendingRequestCard {
  color: var(--lego-font-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);
}

img.lendingRequestImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}

.divider {
  border-bottom: 2px solid var(--border-gray);
  margin: var(--spacing-md) 0;
}

.statusTag {
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  justify-content: center;
  font-size: var(--font-size-md);
  gap: var(--spacing-md);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.statusTag .rotate {
  animation: spinner 5s linear infinite;
}
