@import url('styles/custom-media.css');

section.wrapper {
  display: grid;
  grid-template-columns: 2.75fr 1.25fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'topText topText'
    'filter-search request-inbox'
    'item-index request-inbox';
  gap: var(--spacing-lg);
  padding: 0 var(--spacing-md);
  height: 100%;
  min-height: 67vh;
}

@media (--mobile-device) {
  section.wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: var(--spacing-xs);
    grid-template-areas:
      'topText'
      'request-inbox'
      'filter-search'
      'item-index';
  }
}

.requestInbox {
  grid-area: request-inbox;
}

.filterSearch {
  grid-area: filter-search;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.itemIndex {
  grid-area: item-index;
}

.topText {
  margin-bottom: var(--spacing-xl);
  grid-area: topText;
  grid-column: 1 / -1;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-xl);

  @media (--mobile-device) {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-sm);
  }
}

.heartIcon {
  float: left;
  margin-right: var(--spacing-md);
  margin-bottom: var(--spacing-xs);

  svg {
    width: 110px;
    height: 110px;
  }
}

.infoText::after {
  content: '';
  display: block;
  clear: both;
}

.actionButtons {
  display: flex;
  gap: var(--spacing-xs);
}

@media (--mobile-device) {
  .heartIcon {
    margin-right: var(--spacing-sm);

    svg {
      width: 50px;
      height: 50px;
    }
  }
}

.divider {
  height: 2px;
  padding: 0 var(--spacing-md);
  margin-bottom: var(--spacing-xl);
  background-color: var(--border-gray);

  @media (--mobile-device) {
    margin-bottom: var(--spacing-xs);
  }
}

.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topHeader {
  padding: 0 var(--spacing-md);
}
