@import url('styles/custom-media.css');

.lendableObjectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: var(--spacing-xl);

  @media (width <= 60em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--small-viewport) {
    grid-template-columns: repeat(1, 1fr);
  }
}

div.lendableObjectCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  height: 100%;
}

.lendableObjectImageContainer {
  width: 100%;
  height: 100%;

}

img.lendableObjectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lendableObjectInfobox {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 100%;
  padding: 5px 10px 10px 10px;
}

.lendableObjectInfobox h3 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.lendableObjectInfobox p {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

.lendableObjectInfobox svg {
  margin-right: 4px;
}

.lendableObjectInfoboxStatus {
  position: absolute;
  bottom: 13px;
  right: 8px;
}

.lendableObjectFooter {
  border-top: 1.5px solid var(--border-gray);
  width: 100%;
  height: 100px;
  color: var(--lego-font-color);
}

.lendingRequestsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.lendingRequestCard {
  color: var(--lego-font-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);

  @media (--small-viewport) {
    flex-direction: column;
  }
}

img.lendingRequestImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}

.divider {
  border-bottom: 2px solid var(--border-gray);
  margin: var(--spacing-md) 0;
}

.tagContainer {
  margin-left: auto;
  width: 100%;
}

.tagContainer > div {
  width: 100%;
}

.statusTag {
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  justify-content: center;
  font-size: var(--font-size-md);
  gap: var(--spacing-md);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.statusTag .rotate {
  animation: spinner 5s linear infinite;
}
