@import url('styles/custom-media.css');

.lendableObjectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: var(--spacing-lg);

  @media (--small-viewport) {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);
  }
}

div.lendableObjectCard {
  aspect-ratio: 3 / 4;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 200px;
}

.lendableObjectImageContainer {
  width: 100%;
  height: 225px;
}

img.lendableObjectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.defaultObjectImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--color-gray-2);
}

.lendableObjectInfobox {
  flex-direction: column;
  flex-grow: 1;
  color: var(--lego-font-color);

  h3 {
    width: 0;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
  }

  svg {
    margin-right: var(--spacing-xs);
  }

  p {
    display: flex;
    align-items: center;
    font-size: var(--font-size-sm);
    line-height: var(--spacing-lg);
    margin: 0;
  }
}

.lendingRequestsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.lendingRequestEmpty {
  margin: var(--spacing-md) 0;
}

.lendingRequestCard {
  color: var(--lego-font-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);

  @media (--small-viewport) {
    flex-direction: column;
  }
}

img.lendingRequestImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}

.divider {
  border-bottom: 2px solid var(--border-gray);
  margin: var(--spacing-md) 0;
}

.tagContainer {
  margin-left: auto;
  width: 100%;
}

.tagContainer > div {
  width: 100%;
}

.statusTag {
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  justify-content: center;
  font-size: var(--font-size-md);
  gap: var(--spacing-md);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.statusTag .rotate {
  animation: spinner 5s linear infinite;
}

.lendingSubsection {
  margin-bottom: var(--spacing-md);
}
