.lendingRequestWrapper {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--spacing-lg);
  height: auto;
}

.lendingRequestsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.lendingRequestEmpty {
  padding: var(--spacing-lg);
  border: 1px solid var(--color-gray-2);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-sm);
}

.loadMoreButton {
  display: flex;
  justify-content: center;
  position: relative;
  top: -17px;
}

.lendingRequestCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--lego-font-color);
  gap: var(--spacing-md);

  @media (--small-viewport) {

  }
}

img.lendingRequestImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}

.thumbnail {
  width: 250px;
  flex-shrink: 0;
}

.detailsContainer {
  flex: 1;
}
