@import url('../Event.css');

.star {
  color: var(--color-orange-6);
  margin-right: 10px;
}

.descriptionHeader {
  margin-top: 20px;
  margin-bottom: 10px;
}

.meta h3 {
  margin: 5px 0;
}

.title {
  cursor: pointer;
}

.tagRow {
  margin-top: 16px;
}

.paymentInfo {
  margin-top: 10px;
}

.line {
  margin: 18px 0;
  background-color: var(--border-gray);
  height: 1px;
}

.simulateLink {
  color: var(--lego-link-color);
  cursor: pointer;
}

.infoList tr {
  & td {
    width: unset;
  }

  &:last-of-type td {
    border-bottom: none;
  }
}

.infoIconLocation {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.mapButton {
  max-width: 120px;
  max-height: 30px;
  gap: 5px;
  font-size: var(--font-size-sm);
}

.mazemapImg {
  width: 25px;
  margin-left: -8px;
}
