@import url('~app/styles/variables.css');
@import url('../Event.css');

.star svg {
  color: var(--color-orange-6);
}

.eventType {
  height: 100%;
  display: flex;
  align-items: flex-end;

  strong {
    margin-bottom: calc(-1 * var(--spacing-sm));
  }

  @media (--small-viewport) {
    display: none;
  }
}

.tagRow {
  margin-top: 16px;
}

.sidebarInfo {
  min-height: var(--spacing-lg);
}

.paymentInfo {
  margin-top: 10px;
}

.line {
  margin: var(--spacing-sm) 0;
  background-color: var(--border-gray);
  height: 1px;
}

.infoList tr {
  & td {
    width: unset;
  }

  &:last-of-type td {
    border-bottom: none;
  }
}

.mapButton {
  gap: 4px;
  font-size: var(--font-size-sm);
}

.mazemapImg {
  width: 30px;
  margin-left: -4px;
}

.card {
  margin: 0;
}
