@import '../Event.css';

.star {
  color: var(--color-event-red);
  margin-right: 10px;
}

.descriptionHeader {
  margin-top: 20px;
  margin-bottom: 10px;
}

.meta h3 {
  margin: 5px 0;
}

.title {
  cursor: pointer;
}

.paymentInfo {
  margin-top: 10px;
}

.mazemap {
  min-height: 500px;
}
