.root {
  composes: container from 'app/styles/utilities.css';
}

.registeredThumbnails {
  flex-wrap: wrap;
  width: 300px;
}

.coverImage {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;

  img {
    object-fit: cover;
  }
}

.description {
  background: #fff;
  padding: 20px;
  flex: 2;
}

.meta {
  flex: 1;
  background: #ba1414;
  padding: 20px;
  color: #fff;
}

.openFor {
  background: #CACACA;
  flex: 1;
  padding: 20px;
  min-width: 340px;
}

.join {
  background: #AAA;
  flex: 2;
  padding: 20px;
}

.joinHeader {
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.summary {
  flex-wrap: wrap;
}

.tagRow {
  margin-top: 16px;
}

.mainSections {
  flex-wrap: wrap;
}

.registrationSection {
  flex-wrap: wrap-reverse;
}
