.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  border-bottom: 1px solid
    rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.09);
}

.activityHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 20px;
}

.activityHeaderItem {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.activityContent {
  padding: 0 20px;
}

.activityFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 20px;
  border-top: 1px solid
    rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.09);
}
