@import url('../Event.css');

.descriptionEditor {
  background: inherit;
  color: var(--lego-font-color);
}

.formField {
  margin: 1px;
  margin-left: 3px;
}

.registrationDeadlineHours {
  color: var(--secondary-font-color);
  font-size: var(--font-size-sm);
}

.metaField {
  margin-bottom: 0;
}

.metaFieldInformation {
  margin-bottom: 0;
  font-size: small;
}

.metaField input {
  padding-bottom: 5px;
  padding-top: 5px;
}

.metaList {
  display: flex;
  align-items: center;
}

.metaList > span {
  display: flex;
}

.poolHeader {
  text-align: center;
}

.tagRow {
  margin-top: 16px;
}

.poolBox {
  background-color: var(--additive-background);
  border-radius: var(--border-radius-lg);
  padding: 10px;
  margin-top: 10px;
}

.centeredButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.subSection {
  margin-left: 10px;
  border-left: 4px solid var(--lego-red-color);
  padding: 0 0 10px 10px;
}

.imageGallery {
  width: 60%;
}

.imageGalleryEntry {
  border-radius: var(--border-radius-md);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.65;
  }
}

.imageGalleryContainer {
  margin: 1em;
}

.closeButton {
  position: relative;
  float: right;
  right: -1em;
  top: 0.5em;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.65;
  }
}
