@import url('../Event.css');

.fieldShadow {
  box-shadow: 0 0 10px var(--color-gray-3);
}

.title {
  font-size: 24px;
  color: var(--lego-font-color);
  font-weight: 600;
}

.editors {
  border: 1px solid var(--border-gray);
  border-radius: 3px;
  padding: 10px;
}

.descriptionEditor {
  background: inherit;
}

html[data-theme='dark'] .descriptionEditor {
  color: var(--lego-font-color);
}

.formField {
  margin: 1px;
  margin-left: 3px;
}

.registrationDeadlineHours {
  font-size: 100%;
  margin: 0;
  font-style: italic;
}

.metaField {
  margin-bottom: 0;
}

.metaFieldInformation {
  margin-bottom: 0;
  font-size: small;
}

.metaField input {
  padding-bottom: 5px;
  padding-top: 5px;
}

.metaList {
  display: flex;
  align-items: center;
}

.metaList > span {
  display: flex;
}

.poolHeader {
  text-align: center;
}

.poolBox {
  background: rgba(200, 200, 200, 50%);
  padding: 10px;
  margin-top: 10px;
}

[data-theme='dark'] .poolBox {
  background: rgba(50, 50, 50, 50%);
}

.centeredButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.subSection {
  margin-left: 10px;
  border-left: 4px solid var(--lego-red);
  padding: 0 0 10px 10px;
}
