.detailTitle {
  margin-bottom: 0;

  & h1 {
    margin-bottom: 0;
  }
}

.statusButtons {
  margin-bottom: 10px;
}

.meetingReactions {
  display: flex;
  flex-direction: row;
  margin: var(--spacing-sm) 0;
}
