@import '~app/styles/variables.css';

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.heading {
  color: #777;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

.sideBySideBoxes {
  display: flex;
  justify-content: space-between;

  @media (--small-viewport) {
    flex-direction: column;
  }

  > div {
    flex: 0 0 49%;
  }
}
