@import '~app/styles/variables.css';

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.heading {
  justify-content: space-between;
  flex-wrap: wrap;
}

.detailTitle {
  margin-bottom: 0;

  & h1 {
    margin-bottom: 0;
  }
}

.statusButtons {
  display: flex;
  margin-bottom: 10px;
}

/* The ghostly danger styled button looked ugly next to the filled green Accept button */
.declineBtn {
  background: var(--color-red-2);
  border: none;
  color: var(--color-white) !important;

  &:hover:not(:disabled) {
    background: var(--color-red-1);
  }
}

/* stylelint-disable no-descending-specificity */
html[data-theme='dark'] .declineBtn {
  background: var(--color-red-1);
  color: var(--color-black) !important;

  &:hover:not(:disabled) {
    background: var(--color-red-2) !important;
  }
}
