@import '~app/styles/variables.css';

.root {
  composes: contentContainer from '~app/styles/utilities.css';
  margin-top: 2rem;
}

.heading {
  color: #777;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

.meetingItem {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.meetingItemTitle {
  color: #333;
  font-weight: 700;
  margin: 0;
}

.meetingGroup {
  margin-bottom: 40px;
}

.meetingTime {
  color: #777;
}

.logo {
  width: 80px;
  height: 80px;
}
