@import url('~app/styles/variables.css');

.heading {
  color: var(--color-gray-5);
  font-weight: 500;
  text-transform: uppercase;
  font-size: var(--font-size-md);
  border-bottom: 1px solid var(--border-gray);
}

.meetingItem {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.meetingItemTitle {
  color: var(--lego-font-color);
  font-weight: 600;
}

.meetingTime {
  color: var(--secondary-font-color);
}

.noDataMessage {
  color: var(--secondary-font-color);
  text-align: center;
}
