@import '../../../variables.css';

.root {
  composes: container from '../../../Root.css';
  margin-top: 2rem;
}

.heading {
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 0;
}

.mainContent {
  flex-wrap: wrap;
  padding: 20px;
  display: flex;
}

.meetingItem {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.reportContent {
  min-width: 300px;
  padding: 20px;
}

.statusContent {
  min-width: 250px;
}

.statusButtons {
  display: flex;
  justify-content: space-around;
}

.meetingItemTitle {
  color: #333;
  font-weight: 700;
  margin: 0;
}

.meetingGroup {
  margin-bottom: 40px;
}

.meetingTime {
  color: #777;
}
