@import '~app/styles/variables.css';

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.heading {
  justify-content: space-between;
  flex-wrap: wrap;
}

.detailTitle {
  margin-bottom: 0;

  & h1 {
    margin-bottom: 0;
  }
}

.statusButtons {
  display: flex;
  margin-bottom: 10px;
}

.mazemap {
  min-height: 400px;
}
