@import url('~app/styles/variables.css');

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.sideBySideBoxes {
  display: flex;
  justify-content: space-between;

  @media (--small-viewport) {
    flex-direction: column;
  }

  > div {
    flex: 0 0 49%;
  }
}
