.root {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.section {
  flex: 1;
  display: flex;
  align-items: center;

  &:last-of-type {
    justify-content: flex-end;
  }

  &:first-of-type {
    justify-content: flex-start;
  }
}
