@import 'app/styles/variables.css';

.container {
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-basis: 33.33333%;
}

.recipient {
  margin-bottom: -8px;
}

.logo {
  width: 40px;
  margin-right: 0.5em;
}
