.root {
  composes: container from '../../../Root.css';
}

.interestGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000px;
  margin-top: 30px;
}

.content {
  display: flex;
  flex-direction: row;
}

.contentDetail {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

.heading {
  color: #777;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

.interestPic {
  width: 200px;
  max-height: 200px;
  border-style: solid;
  margin-left: 20px;
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
 }

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}

.textInput {
  margin-bottom: 10px;
}

.textEditor { height: 250px; }

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button { font-size: 12px; }

.detail {
  font-size: 30px;
  color: #777;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}

.interestPicDetail {
  width: 300px;
  border-style: solid;
  margin: 10px;
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.paragraphDetail {
  margin-top: 20px;
}
