.list {
  width: 100%;
  min-height: 100px;
  max-height: calc(100vh - 210px);
  padding: 0 30px;
  margin-bottom: 5px;
  overflow-y: auto;
}

.list > li {
  border-bottom: 1px solid var(--color-mono-gray-3);
}

.list > li:last-child {
  border-bottom: none;
}

.row {
  display: flex;
  height: 50px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.row i {
  margin-right: 5px;
}
