@import 'app/styles/variables.css';

.logo {
  max-height: 500px;
  max-width: 500px;
  height: 50%;
}

.logoSmall {
  max-height: 100px;
  max-width: 100px;
  border-radius: 100%;
}

.description {
  font-size: 18px;
  font-style: italic;
}

.listItem {
  margin: 8px;
  padding-left: 4px;
  background: white;
}

.listItemContent {
  padding: 4px;
}

.textEdit {
  background: none;
  border: none;
  border-bottom: 1px solid #888;
  margin: 8px;
  padding: 4px;
}

.deleteButton {
  margin-bottom: 16px;
}

.showMemberList {
  color: var(--lego-link-color);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
