@import url('~app/styles/variables.css');

.logo {
  max-height: 500px;
  max-width: 500px;
}

.logoMedium {
  max-height: 100px;
  max-width: 100px;
  border-radius: 100%;
  flex-shrink: 0;
}

.logoSmall {
  max-height: 50px;
  max-width: 50px;
  border-radius: 100%;
  filter: grayscale(100%);
  opacity: 0.7;
  flex-shrink: 0;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: var(--lego-font-color);
  border-radius: var(--border-radius-lg);
  padding: 15px 20px;
  margin: 3px 0 12px;
  transition: background-color var(--easing-fast);

  &:hover {
    background-color: rgba(255, 0, 0, var(--low-alpha));
  }
}

.inactiveListItem:hover {
  background-color: rgba(123, 123, 123, var(--low-alpha));
}

.listItemName {
  margin: 0 0 10px;
  color: var(--lego-font-color);
}

.inactiveListItem .listItemName {
  margin: 0;
  color: var(--color-gray-4);
}

.listItemContent {
  opacity: 0.8;
}

.inactiveHeader {
  margin: 30px 0;
}

.textEdit {
  background: none;
  border: none;
  border-bottom: 1px solid var(--border-gray);
  margin: 8px;
  padding: 4px;
}

.deleteButton {
  margin-bottom: 16px;
}

.showMemberList {
  color: var(--lego-link-color);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.sommerfest {
  width: 40px;
  position: absolute;
  left: 355px;
  top: 80px;
}
