.root {
  composes: container from '../../../Root.css';
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
}

.wrapper p {
  margin: 10px auto;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  margin: 0 auto;
}

.interestPic {
  width:200px;
  border-style: solid;
  margin: 10px;
  -moz-box-shadow: 0 0 5px #000000;
  -webkit-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}
.textInput {
  margin-bottom: 10px;
}

.textEditor {
  height: 250px;
}

.button {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

.detail {
  text-align: center;
  font-size: 30px;
}

.interestPicDetail {
  width:300px;
  border-style: solid;
  margin: 10px;
  -moz-box-shadow: 0 0 5px #000000;
  -webkit-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
}
