@import url('~app/styles/variables.css');

.logo {
  max-height: 500px;
  max-width: 500px;
}

.logoMedium {
  max-height: 100px;
  max-width: 100px;
  border-radius: 100%;
}

.logoSmall {
  max-height: 50px;
  max-width: 50px;
  border-radius: 100%;
  filter: grayscale(100%);
  opacity: 0.7;
}

.description {
  font-size: 18px;
  font-style: italic;
}

.listItem {
  margin: 8px;
  padding-left: 4px;
  background: var(--color-white);
}

.listItemContent {
  padding: 4px;
}

.textEdit {
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-dark-mono-gray-4);
  margin: 8px;
  padding: 4px;
}

.deleteButton {
  margin-bottom: 16px;
}

.showMemberList {
  color: var(--lego-link-color);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
