.video {
  display: block;
  margin: 0 auto;
  width: 75%;
  height: 35rem;
}

.box {
  margin: 50px auto;
  height: 70px;
  width: 400px;
  size: 100px;
}

.text {
  font-size: clamp(1.2rem, 2vw, 5rem);
  text-align: center;
  width: 80%;
  margin: 3rem auto;
  word-break: break-word;
}
