.tabContainer {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.tab {
  display: inline-block;
  color: var(--lego-font-color);
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  outline: none;
}

.tab.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.tabIndicator {
  position: absolute;
  bottom: -2px;
  height: 2px;
  background-color: var(--color-black);
  transition:
    transform var(--easing-medium),
    width var(--easing-medium);
}
