
.tooltip {
  background: #eff1f4;
  text-transform: uppercase;
  margin: 2px 0;
  padding: 6px 12px;
  font-size: 18px;
  color: #333;
  outline: none;
  display: inline-block;
  border: 1px solid #ccc;
  letter-spacing: 1px;
  border-radius: 999em;
  position: absolute;
  z-index: 500;
}

.tooltipSeperator {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  margin: 0 6px;
  height: 32px;
  background: rgba(5,5,5,.9);
}

.tooltipButton {
  margin: 0px 3px;
  cursor: pointer;
  vertical-align: -webkit-baseline-middle;
}

.tooltipButtonActive > i {
  color: #C24538;
}

input.urlInput {
  font-size: 16px;
  width: 260px;
  margin-right: 5px;
  background-color: rgba(255,255,255,0);
  border: none;
  outline: 0;
  border-bottom: 1px solid darkgray;
  padding: 4px 0px;
  margin: 4px 4px;
}

.urlInputIcon {
  cursor: pointer;
}
