.notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 0;
}

.seeAllWrapper {
  text-align: center;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.seeAll {
  align-self: center;
}

.notification {
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;

  &:last-child {
    border-bottom: none;
  }
}

.innerNotification {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.unRead {
  background-color: rgba(255, 143, 131, 0.29);
}

.icon {
  padding-right: 15px;
}
