@import 'app/styles/variables.css';

.vision {
  display: flex;
  margin: 0 auto;
  max-width: 44rem;
}

.visionTitle {
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1rem;
}

.sectionLeft {
  flex-basis: 50%;
}

.sectionRight {
  flex-basis: 50%;
  margin-top: 1.5rem;
}

.divWithDots {
  margin-bottom: 2.2rem;
  margin-top: 1.2rem;
}

@media (--mobile-device) {
  .visionTitle {
    font-size: 30px;
    text-align: center;
  }

  .vision {
    flex-wrap: wrap;
  }

  .sectionRight {
    flex-basis: 100%;
    margin-top: 0;
  }

  .sectionLeft {
    flex-basis: 100%;
  }
}
