.member img {
  width: 90px;
  display: block;
  border-radius: 50%;
  border: 4px solid #b8b8b8;
  margin: auto;
}

.member.leader img {
  border-color: var(--color-orange-6);
}

.member.coLeader img {
  border: 4px solid #b8b8b8;
}

.member {
  margin: 15px 10px;
  flex: 1;
  min-width: 120px;
  font-style: italic;
  line-height: 20px;
  flex-grow: 0;
  max-width: 100px;
}

.testing.leader {
  max-width: 140px;
}

.title {
  font-size: 12px;
  font-style: normal;
  margin: 5px -3px 0;
  display: flex;
  justify-content: center;
}

.name {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}
