@import 'app/styles/variables.css';

.box {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

.label:hover::before {
  border: 1px solid #999 !important;
  transition: border 0.5s;
}

.checked,
.unchecked {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  z-index: 1;
  transform: scale(1.5);
  opacity: 0;
}

.checked + label::after {
  content: '\2713';
  position: absolute;
  top: 4px;
  left: 3px;
  font-size: 16px;
  line-height: 0.8;
  color: white;
  transition: all 0.2s;
}

.checked + label::after {
  opacity: 1;
  transform: scale(1);
}

.unchecked + label::before {
  background: #f8f8f8;
}

.unchecked + label::after {
  opacity: 0;
  transform: scale(0);
}

.checked:focus + label::before,
.unchecked:focus + label::before {
  cursor: pointer;
}

.checked + label::before,
.unchecked + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.checked + label::before {
  background: var(--lego-link-color);
  border-color: var(--lego-link-color);
}

.unchecked + label,
.checked + label {
  position: relative;
  cursor: pointer;
}
