@import '~app/styles/variables.css';

.label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

.label:hover::before {
  border: 1px solid var(--color-dark-mono-gray-5) !important;
  transition: border 0.5s;
}

.checked,
.unchecked {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  z-index: 1;
  transform: scale(1.5);
  opacity: 0;
}

.checked + label::after {
  content: '\2713';
  position: absolute;
  top: 4px;
  left: 3px;
  font-size: 16px;
  line-height: 0.8;
  color: var(--color-white);
  transition: all 0.2s;
  opacity: 1;
  transform: scale(1);
}

.unchecked + label::before {
  background: var(--color-white);
}

.unchecked + label::after {
  opacity: 0;
  transform: scale(0);
}

.checked + label::before {
  background: var(--lego-link-color);
  border-color: var(--lego-link-color);
}

.checked + label::before,
.unchecked + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid var(--color-mono-gray-1);
  border-radius: 3px;
}

/* CheckBox uses label for its clickable square, so these values are tuned for
  checkboxes */
.checkboxField > label label::before {
  top: 6px;
}

.checkboxField > label label::after {
  top: 9px;
}

.checked:focus + label::before,
.unchecked:focus + label::before {
  cursor: pointer;
}

.unchecked + label,
.checked + label {
  position: relative;
  cursor: pointer;
}

.box {
  display: inline-block;
  width: 21px;
  height: 18px;
  margin-right: 10px;
  margin-bottom: -3px;
}

.box input:disabled + label::before {
  background: var(--color-mono-gray-4);
  border: 1px solid var(--color-mono-gray-2);
}

.box input:disabled + label::after {
  color: var(--color-dark-mono-gray-4);
}

.checkboxField > label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
