.calendar th,
.calendar td {
  width: calc(100% / 7);
  text-align: center;
  font-size: var(--font-size-md);
  padding: var(--spacing-xs);
  transition: background var(--easing-blazingly-fast);
}

.dropdown {
  width: auto;
  max-width: 335px;
  padding: 0 var(--spacing-md) var(--spacing-sm);
  z-index: 20;
}

.inputField {
  cursor: pointer;
}

.header {
  font-size: var(--font-size-lg);
  padding: var(--spacing-sm);
  text-transform: capitalize;
}

.calendarItem {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-sm);
  color: var(--lego-font-color);
  text-align: center;
  font-size: var(--font-size-md);
  padding: var(--spacing-xs);
  transition: background var(--easing-blazingly-fast);

  &:hover:not(.today, .selectedDate) {
    background: var(--additive-background);
  }
}

.prevOrNextMonth:not(.selectedDate) {
  opacity: 0.3;
}

.selectedDate {
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--lego-font-color);
}

.today:not(.selectedDate) {
  color: var(--lego-font-color);
  background-color: var(--additive-background);
}
