:root {
  --calendar-border: 1px solid var(--border-gray);
}

.calendar {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 0 10px;
}

.dropdown {
  width: auto;
  max-width: 320px;
  padding: 0 20px 10px;
  flex: 1;
}

.inputField {
  cursor: pointer;
}

.header {
  font-size: var(--font-size-lg);
  text-align: center;
  padding: 10px;
}

.calendarItem {
  flex: 0 14.2857%;
  border-right: var(--calendar-border);
  border-bottom: var(--calendar-border);
  background: var(--color-white);
  color: var(--lego-font-color);
  text-align: center;
  font-size: var(--font-size-md);
  padding: 5px;

  &:nth-child(7n + 1) {
    border-left: var(--calendar-border);
  }

  &:nth-child(-n + 7) {
    border-top: var(--calendar-border);
  }

  &:hover {
    background: var(--additive-background);
  }
}

.prevOrNextMonth {
  opacity: 0.3;
}

.selectedDate {
  font-weight: 600;
}

.arrowIcon {
  color: var(--lego-font-color);
}
