@import url('~app/styles/variables.css');

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.inputWithError {
  border: 1.5px solid var(--danger-color) !important;
}

.inputWithWarning {
  border: 1.5px solid var(--color-orange-6) !important;
}

.fieldError {
  min-height: 35px;
  padding: 5px 10px;
  margin-top: 3px;
  background: var(--danger-color);
  color: var(--color-absolute-white);
  font-size: 0.9rem;
  border-radius: var(--border-radius-md);
}

.fieldWarning {
  min-height: 35px;
  padding: 5px 10px;
  margin-top: 3px;
  background: var(--color-orange-6);
  color: var(--color-absolute-white);
  font-size: 0.9rem;
  border-radius: var(--border-radius-md);
}

.label {
  font-size: 18px;
}

.required {
  color: var(--danger-color);
  font-weight: 600;
  margin-left: 2px;
}

:global {
  /* stylelint-disable-next-line selector-class-pattern */
  .Select.is-disabled > .Select-control {
    background-color: var(--additive-background) !important;
    color: var(--color-gray-5);
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .Select--multi.is-disabled .Select-value-label {
    background-color: var(--additive-background) !important;
    color: var(--color-gray-5);
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .Select--multi.is-disabled .Select-value {
    border: none !important;
  }
}
