@import url('~app/styles/variables.css');

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field:not(.withoutMargin) {
  margin-bottom: 1rem;
}

.inputWithError {
  border: 1.5px solid var(--danger-color);
  border-radius: var(--border-radius-md);
}

.fieldError {
  min-height: 35px;
  padding: 5px 10px;
  margin-top: 3px;
  background: var(--danger-color);
  color: var(--color-absolute-white);
  font-size: var(--font-size-sm);
  border-radius: var(--border-radius-md);
}

.label {
  font-size: var(--font-size-lg);
}

.description {
  margin-left: 7px;
}

.required {
  color: var(--danger-color);
  font-weight: 600;
  margin-left: 2px;
}
