.input input {
  padding: 10px;
  font-size: var(--font-size-md);
  border: 1px solid var(--border-gray);
  border-radius: var(--border-radius-md);
  width: 100%;
  color: var(--lego-font-color);
  background-color: var(--color-white);
}

.input input:focus {
  outline: none;
  border-color: var(--color-gray-4);
}

.input input::placeholder {
  color: var(--color-gray-5);
}
