.box {
  display: inline-block;
  width: 21px;
  height: 21px;
}

.span {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

/* Base for label styling */
[type='radio']:not(:checked),
[type='radio']:checked {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  transform: scale(1.6);
  margin-top: 4px;
  margin-left: 5px;
  opacity: 0;
}

[type='radio']:not(:checked) + span,
[type='radio']:checked + span {
  position: relative;
  cursor: pointer;
}

/* radio aspect */
[type='radio']:not(:checked) + span::before,
[type='radio']:checked + span::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 11px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* checked mark aspect */
[type='radio']:not(:checked) + span::after,
[type='radio']:checked + span::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #d13c32;
  transition: all 0.2s;
}

/* checked mark aspect changes */
[type='radio']:not(:checked) + span::after {
  opacity: 0;
  transform: scale(0) translate(11px, 11px);
}

[type='radio']:checked + span::after {
  opacity: 1;
  transform: scale(1) translate(3px, 3px);
}

/* disabled radio */
[type='radio']:disabled:not(:checked) + span::before,
[type='radio']:disabled:checked + span::before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type='radio']:disabled:checked + span::after {
  color: #999;
}

[type='radio']:disabled + span {
  color: #aaa;
}

/* accessibility */
[type='radio']:checked:focus + span::before,
[type='radio']:not(:checked):focus + span::before {
  cursor: pointer;
}

/* hover style just for information */
span:hover::before {
  border: 1px solid #999 !important;
  transition: border 0.5s;
}
