.box {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  margin-bottom: -3px;
}

/* Base for label styling */
.input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  transform: scale(1.6);
  margin-top: 4px;
  margin-left: 5px;
  opacity: 0;
}

.label {
  position: relative;
  cursor: pointer;
}

.input:disabled,
.input:disabled + .label {
  cursor: default;
}

/* radio aspect */
.label::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid var(--color-mono-gray-1);
  background: var(--color-white);
  border-radius: 11px;
  box-shadow: inset 0 1px 3px rgba(var(--color-black), 0.3);
}

/* checked mark aspect */
.label::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #d13c32;
  transition: all 0.2s;
}

/* checked mark aspect changes */
.input:not(:checked) + .label::after {
  opacity: 0;
  transform: scale(0) translate(11px, 11px);
}

.input:checked + .label::after {
  opacity: 1;
  transform: scale(1) translate(3px, 3px);
}

/* disabled radio */
.input:disabled:not(:checked) + .label::before,
.input:disabled:checked + .label::before {
  box-shadow: none;
  border-color: var(--color-mono-gray-2);
  background-color: var(--color-mono-gray-4);
}

.input:disabled:checked + .label::after {
  color: var(--color-dark-mono-gray-5);
}

.input:disabled + .label {
  color: var(--color-mono-gray-1);
}

/* hover style just for information */
.input:not(:disabled):hover + .label::before {
  border: 1px solid var(--color-dark-mono-gray-5) !important;
  transition: border 0.5s;
}

.radioField > label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* Radio buttons use span for their clickable circle */
.radioField > label span::before {
  top: 5px;
}

.radioField > label span::after {
  top: 5px;
}
