.box {
  display: inline-block;
  width: 21px;
  height: 21px;
}

.label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

/* Base for label styling */
[type='radio']:not(:checked),
[type='radio']:checked {
  position: absolute;
  z-index: 1;
  transform: scale(1.6);
  margin-top: 4px;
  margin-left: 5px;
  opacity: 0;
}

[type='radio']:not(:checked) + label,
[type='radio']:checked + label {
  position: relative;
  cursor: pointer;
}

/* radio aspect */
[type='radio']:not(:checked) + label::before,
[type='radio']:checked + label::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 9.5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* checked mark aspect */
[type='radio']:not(:checked) + label::after,
[type='radio']:checked + label::after {
  content: '\2022';
  position: absolute;
  top: -25px;
  left: -5px;
  width: 20px;
  height: 20px;
  font-size: 88px;
  line-height: 0.8;
  color: #d13c32;
  transition: all 0.2s;
}

/* checked mark aspect changes */
[type='radio']:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}

[type='radio']:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

/* disabled radio */
[type='radio']:disabled:not(:checked) + label::before,
[type='radio']:disabled:checked + label::before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type='radio']:disabled:checked + label::after {
  color: #999;
}

[type='radio']:disabled + label {
  color: #aaa;
}

/* accessibility */
[type='radio']:checked:focus + label::before,
[type='radio']:not(:checked):focus + label::before {
  cursor: pointer;
}

/* hover style just for information */
label:hover::before {
  border: 1px solid #999 !important;
  transition: border 0.5s;
}
