.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-gray);
  border-radius: 3px;
  width: 100%;
  background-color: inherit;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--color-gray-3);
  border-color: var(--color-gray-4);
}

.input::placeholder {
  color: var(--color-gray-4);
}

html[data-theme='dark'] .input {
  background-color: var(--color-white);
  color: var(--lego-font-color);
}

span.suffix {
  padding: 0 4px;
  color: var(--color-gray-5);
  text-align: center;
  background-color: var(--additive-background);
  border: 1px solid var(--border-gray);
  border-radius: 3px;
  position: relative;
  display: table-cell;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

span.inputGroup > input {
  display: table-cell;
}

input.suffix {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

span.inputGroup {
  position: relative;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
