.input {
  font-size: var(--font-size);
  border: 1.5px solid var(--border-gray);
  border-radius: var(--border-radius-md);
  color: var(--lego-font-color);
  background-color: inherit;
  overflow: hidden;

  &:focus-within {
    border-color: var(--color-gray-4);
  }
}

.centered input {
  text-align: center;
}

.spacing:not(.centered) input,
.prefix {
  color: var(--color-gray-5);
  padding-left: 10px;
}

/* stylelint-disable no-descending-specificity */
.input input {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--lego-font-color);

  &:focus {
    border: none;
    box-shadow: none;
  }

  &::placeholder {
    color: var(--color-gray-5);
  }

  &:focus::placeholder {
    transition: opacity var(--easing-medium);
    opacity: 0;
  }
}

.textInput {
  height: 38px;
}

.disabled {
  opacity: 0.5;
}

span.suffix {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: fit-content;
  height: inherit;
  margin-left: auto;
  padding: 0 10px;
  color: var(--color-gray-5);
  text-align: center;
  background-color: var(--additive-background);
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: var(--font-size-sm);
}

.removeBorder {
  border: none;
}
