.toggleSwitch {
  --width: 2.6rem;
  --height: 1.3rem;
  --thumb-size: 0.9rem;
  --border-hover: var(--color-gray-4);

  position: relative;
  width: var(--width);
  height: var(--height);
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--border-gray);
  transition: var(--easing-medium);
  transition-property: background-color, box-shadow;
  border-radius: var(--height);
}

.slider::before {
  content: '';
  position: absolute;
  left: 2.5px;
  top: 50%;
  transform: translateY(-50%);
  height: var(--thumb-size);
  width: var(--thumb-size);
  background-color: white;
  transition: var(--linear-medium);
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--lego-red-color);
}

input:focus-visible + .slider {
  box-shadow: 0 0 0 2px var(--border-hover) inset;
}

input:disabled + .slider {
  opacity: 0.5;
  cursor: not-allowed;
}

.toggleSwitch:hover input:not(:disabled) + .slider {
  box-shadow: 0 0 0 1.5px var(--border-hover) inset;
}

input:checked + .slider::before {
  transform: translate(calc(var(--width) - var(--thumb-size) - 5px), -50%);
}
