.deleteFile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & i:hover {
    cursor: pointer;
  }

  & div {
    display: inline;
  }

  & span {
    max-width: 200px;
  }
}

.surveyContainer {
  display: flex;
  justify-content: center;
}

.companyContactInput {
  min-width: 130px;
}

.companyContactActions {
  min-width: 150px;
}
