@import '~app/styles/variables.css';

.root {
  composes: withShadow from '~app/styles/utilities.css';
  background: var(--lego-card-color);
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 20px 5px;

  @media (--mobile-device) {
    padding: 5px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  border-bottom: 2px solid var(--color-red-3);
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.playerRow {
  align-items: center;
  margin-top: 5px;
}

.init {
  font-weight: bold;
  margin-right: 10px;
}

.talking {
  display: flex;
  align-items: center;

  @media (--mobile-device) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.published {
  background: var(--color-red-5);
  padding: 5px;
  color: var(--color-white);
  border-radius: 5px;
}

.names {
  padding: 10px;

  @media (--mobile-device) {
    padding: 2px;
  }

  &:hover {
    font-weight: bold;
  }
}

.playButton {
  background: var(--color-red-3) !important;
  color: var(--color-white) !important;
  border-radius: 50px !important;

  @media (--mobile-device) {
    margin-right: 0;
  }
}

.volume {
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 15px !important;
  background: none;

  @media (--mobile-device) {
    margin-right: 0;
  }
}

.volume button {
  color: var(--color-red-3);
}

.volume::-webkit-slider-thumb {
  height: 15px !important;
  width: 15px !important;
  overflow: auto !important;
  border-radius: 15px !important;
  background: var(--color-red-3) !important;
  cursor: pointer !important;
  margin-top: -6px !important;
  -webkit-appearance: none !important;
}

.progress {
  height: 30px !important;
  width: 100% !important;
  border-radius: 5px !important;
  opacity: 0.9 !important;
}

.progressInner {
  background: var(--color-red-3) !important;
}

.timer {
  display: block;
  text-align: right;
  padding-right: 10px;
  margin-top: -38px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;
}

.more {
  padding: 20px;
}

.extra {
  margin-top: 10px;
  justify-content: space-evenly;
}

.showMore {
  display: flex;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  width: 100%;
}

.arrow {
  &:hover {
    transform: scale(1.5);
    color: var(--color-red-3);
    transition: transform 0.2s;
  }
}
