@import '~app/styles/variables.css';

.root {
  display: flex;
  justify-content: space-between;
}

.podcast {
  composes: withShadow from '~app/styles/utilities.css';
  display: flex;
  justify-content: space-between;
  background: var(--lego-card-color);
  width: 100%;
  margin-bottom: 5px;
  padding: 0 15px;
}

.edit {
  text-transform: uppercase;
  color: var(--lego-link-color);
  margin-left: 20px;
  cursor: pointer;
  white-space: nowrap;
}
