.dot {
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background-color: var(--color-gray-4);
  margin-right: 0.75rem;
}
.attendTopInfo {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  padding: var(--spacing-xs) var(--spacing-md);
  border: 1px solid var(--color-gray-2);
  border-radius: var(--spacing-md);
  background-color: var(--color-gray-1);
}
.attendButton {
  background-color: var(--color-black);
  font-weight: 600;
  border-radius: 24px;
  color: var(--color-white);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  padding: var(--spacing-md);
  width: 100%;
}
.attendBottomInfo {
  background-color: var(--color-orange-2);
  padding: var(--spacing-xs) var(--spacing-sm);
  border: 1px solid var(--color-orange-4);
  border-radius: var(--spacing-md);
  color: var(--color-orange-8);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
.timeInfoIcon {
  width: 14px;
}
