@import '@webkom/lego-bricks/dist/style.css';

.container {
  padding: 0;
  contain: paint;

  border: 0;
  border-radius: var(--border-radius-md);
  color: var(--lego-font-color);
  background-color: inherit;
  overflow: hidden;

  .content {
    border: 1.5px solid var(--border-gray);
    border-bottom-right-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-md);
    padding: 10px;
    background: var(--color-white);
  }

  &:focus-within {
    .content {
      border: 1.5px solid var(--color-gray-4);
      transition: border-color var(--easing-medium);
    }
  }
}

.content {
  color: var(--lego-font-color);

  div {
    outline: none;
  }

  /* Placeholder */
  p.editorEmpty:first-child::before {
    color: var(--placeholder-color);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  a {
    cursor: text;
  }

  code {
    background-color: var(--additive-background);
    border-radius: var(--border-radius-sm);
    padding: 2px 5px;
    font-family: sans-serif;
    font-size: var(--font-size-md);
  }

  pre {
    background-color: var(--additive-background);
    border-radius: var(--border-radius-md);
    padding: 10px;
    margin: 10px 0;
    overflow: scroll;

    & code {
      background-color: transparent;
    }
  }

  blockquote {
    color: var(--secondary-font-color);
    border-left: 4px solid var(--additive-background);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }

  ul {
    list-style: disc;
    padding-inline-start: 20px;
    padding-left: 20px;

    ul {
      list-style: circle;

      ul {
        list-style: square;
      }
    }
  }

  ol {
    list-style: number;
    padding-inline-start: 20px;
    padding-left: 20px;

    ol {
      list-style: lower-alpha;

      ol {
        list-style: lower-roman;
      }
    }
  }

  li {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  p {
    line-height: 1.3;
    word-break: break-word;
    margin: 1em 0;
  }

  figure {
    border-radius: var(--border-radius-md);
    width: fit-content;
    padding: 0;
    margin: auto;
    overflow: hidden;
    background: var(--additive-background);

    figcaption {
      text-align: center;
      padding: var(--spacing-xs);
      color: var(--secondary-font-color);
    }

    img {
      border-radius: 0;
    }
  }

  img {
    max-width: 100%;
    max-height: 40em;
    border-radius: var(--border-radius-md);

    &:global(.ProseMirror-selectednode) {
      outline: 2px solid var(--color-blue-6);
      -moz-outline-radius: 3px;
    }
  }
}
