@import url('~app/styles/variables.css');

.visionLine {
  border-left: 3px solid var(--lego-red-color);
  display: flex;
  flex-direction: column;
  margin: 10px 2rem;
  position: relative;
}

.dot {
  height: 9px;
  width: 9px;
  background-color: var(--lego-red-color);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: -6px;
}

.dotBottom {
  height: 9px;
  width: 9px;
  background-color: var(--lego-red-color);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 0;
}

@media (--mobile-device) {
  .visionLine {
    display: none;
  }
}
