@import url('~app/styles/variables.css');

.pollsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

  @media (--mobile-device) {
    grid-template-columns: 1fr;
  }
}

.pollListItem {
  color: var(--lego-font-color);
}

.icon {
  color: var(--lego-red-color);
}

.heading {
  margin-left: 15px;
}
