@import url('~app/styles/variables.css');

.optionField {
  display: flex;
}

.deleteOption {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2rem;
  padding-top: 5px;
}

.actionButtons {
  margin-top: 15px;
}
