@import '~app/styles/variables.css';

.optionField {
  display: flex;
}

.deleteOption {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2rem;
  padding-top: 5px;
}

.submitButton {
  margin-top: 15px;
  display: inline;
}
