
.infoBubble {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.bubble {
  margin: -30px auto 10px auto;
  order: 0;
  width: 70px;
  position: relative;
}

.circle {
  color: #d13c32;
  font-size: 80px;
  position: absolute;
}

.data, .meta {
  line-height: 25px;
  margin: 0 auto;
}

.icon {
  font-size: 35px;
  color: white;
  position: absolute;
  width: 70px;
  top: 50px;
  display: flex;
}

.icon i {
  margin: 0 auto;
}

.data {
  order: 1;
  font-size: 25px;
  margin-top: 100px;
}

.meta {
  order: 2;
  font-size: 18px;
  font-weight: 200;
}
