.attendanceBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0.3rem;
  margin: 10px 0;
  overflow: hidden;
}

.poolBox {
  display: flex;
  flex: 1;
  max-width: 100%;
  min-width: 25%;
  flex-direction: column;
  align-items: center;
  background-color: rgba(200, 200, 200, 30%);
}

html[data-theme='dark'] .poolBox {
  background-color: rgba(80, 80, 80, 30%);
}
