.modal {
  height: calc(100vh - 400px);
}

.search {
  width: 60%;
  height: 35px;
  padding: 10px;
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  color: var(--color-gray-5);

  &:focus-within {
    border-color: var(--color-gray-4);
  }
}

/* Search icon */
.search > div {
  color: var(--color-gray-4);
}

.search input {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 0.9rem;

  &:focus {
    border: none;
    box-shadow: none;
  }

  &::placeholder {
    color: var(--color-gray-4);
  }
}

html[data-theme='dark'] .search input {
  background: none;
}

.list {
  position: relative;
  width: 100%;
  min-height: 100px;
  height: 80%;
  overflow-y: auto;
  /* stylelint-disable indentation */
  background:
  /*
  Shadow cover TOP
  */ linear-gradient(
        var(--color-white) 30%,
        rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 0%)
      )
      center top,
    /*
  Shadow cover BOTTOM
  */
      linear-gradient(
        rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 0%),
        var(--color-white) 70%
      )
      center bottom,
    /*
  Shadow TOP
  */
      radial-gradient(
        farthest-side at 50% 0,
        rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 15%),
        rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0%)
      )
      center top,
    /*
  Shadow BOTTOM
  */
      radial-gradient(
        farthest-side at 50% 100%,
        rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 15%),
        rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0%)
      )
      center bottom;
  /* stylelint-enable indentation */
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.list > li:nth-child(even) {
  background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 3%);
}

.row {
  height: 50px;
}

.row > img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.nav {
  margin: 5px auto;
  height: 40px;
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  font-size: 0.9rem;
}

.navButton {
  height: 100%;
  color: var(--lego-font-color);
  border-radius: inherit;
  text-align: center;
  padding: 5px 15px;
  font-weight: 500;
}

.activeItem {
  background-color: var(--color-red-8);
  box-shadow: 0 0 0 1px var(--color-red-3);
  color: var(--color-red-3);
}

html[data-theme='dark'] .activeItem {
  background-color: var(--color-red-0);
  box-shadow: 0 0 0 1px var(--color-red-3);
  color: var(--color-red-3);
}
