.attendanceBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  border-radius: var(--border-radius-md);
  margin: 10px 0;
  overflow: hidden;
}

.poolBox {
  flex-grow: 1;
  min-width: 25%;
  flex-direction: column;
  align-items: center;
  padding: 7px 0;
  background-color: var(--additive-background);
}
