.attendanceBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
}

.poolBox {
  display: flex;
  flex: 1;
  background-color: rgba(200, 200, 200, 0.5);
  max-width: 100%;
  min-width: 25%;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
