.list {
  width: 100%;
  min-height: 100px;
  max-height: calc(100vh - 210px);
  padding: 0 30px;
  margin-bottom: 5px;
  overflow-y: auto;
}

.list > li {
  border-bottom: 1px solid var(--color-mono-gray-3);
}

.list > li:last-child {
  border-bottom: none;
}

.nav {
  display: flex;
  flex: 1;
  padding: 5px;
  width: 100%;
  justify-content: center;
}

.navButton {
  display: flex;
  height: 30px;
  min-width: 75px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
}

.navButton:last-child {
  border-right: none;
}

.row {
  display: flex;
  height: 50px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navButton:hover,
.activeItem {
  color: #1c1c1c;
  border-bottom: 1px solid #c24538;
  border-radius: 5px;
}
