@import '~app/styles/variables.css';

.button {
  font-weight: 600;
  background-color: var(--color-mono-gray-4);
  background-image: linear-gradient(
    -180deg,
    var(--color-mono-gray-5) 0%,
    var(--color-mono-gray-4) 90%
  );
  padding: 10px 20px;
  color: var(--color-dark-gray-3);
  outline: none;
  border: 1px solid var(--color-mono-gray-3);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: inline-flex;

<<<<<<< HEAD
=======
  &:hover:not(:disabled) {
    box-shadow: 0 1px 2px
      rgba(var(--rgba-max), var(--rgba-max), var(--rgba-max), 0.1);
    opacity: 0.9;
  }

>>>>>>> ce5a1487... Add themeutils and make changes to theme
  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    color: var(--color-dark-mono-gray-4);
  }

  + .button {
    margin-left: 16px;
  }

  &:hover:not(:disabled) {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
  }

  > i {
    margin-right: 4px;
  }

  > a {
    color: var(--color-dark-gray-3);
  }
}

.loading {
  margin-left: 8px;
}

.dark {
  background: var(--color-red-3);
  color: var(--color-white);
  border-color: var(--color-red-1);

  &.fa {
    color: var(--color-white);
  }

  &:active {
    color: var(--color-white);
  }

  &:disabled {
    color: rgba(var(--rgba-max), var(--rgba-max), var(--rgba-max), 0.3);
  }
}

.small {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.normal {
  font-size: inherit;
}

.large {
  font-size: 1.4rem;
}

.flatButton {
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  color: var(--lego-link-color);
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
