:global {
.Button {
  border: 0;
  font-weight: 700;
  cursor: pointer;
  background: #ddd;
  text-transform: uppercase;
  margin: 2px 0;
  padding: 0 20px;
  color: #333;
  height: 40px;
  line-height: 40px;
}

.Button--dark {
  background: #C0392B;
  color: #fff;
}

.Button--normal {
  font-size: inherit;
}

.Button--large {
  font-size: 1.4rem;
}
}
