.button {
  font-weight: 700;
  cursor: pointer;
  background: #eff1f4;
  text-transform: uppercase;
  margin: 2px 0;
  padding: 10px 20px;
  color: #333;
  outline: none;
  border: 1px solid #ccc;
  letter-spacing: 1px;
  border-radius: 999em;

  &:hover {
    border: 1px solid #bbb;
  }

  &:active {
    box-shadow: 0 0 2px #aaa;
    color: #555;
  }
}

.dark {
  background: #C0392B;
  color: #fff;
}

.normal {
  font-size: inherit;
}

.large {
  font-size: 1.4rem;
}
