.field {
  width: 100%;
  position: relative;
}

.inputWithError {
  border: 1.5px solid var(--danger-color);
  border-radius: var(--border-radius-md);
}

.fieldError {
  min-height: 35px;
  padding: var(--spacing-xs) var(--spacing-sm);
  margin-top: var(--spacing-xs);
  background: var(--danger-color);
  color: var(--color-absolute-white);
  font-size: var(--font-size-sm);
  border-radius: var(--border-radius-md);
}

.fieldErrorOverlay {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: none;
}
