.label {
  font-size: var(--font-size-sm);
}

.labelRow {
  margin-bottom: var(--spacing-sm);
}

.inlineRow {
  margin-bottom: 0;
}

.inline {
  cursor: pointer;

  .label {
    font-size: inherit;
  }
}

.required {
  color: var(--danger-color);
  font-weight: 600;
  margin-left: 2px;
}

.description {
  display: inline-block;
  vertical-align: top;
}

.screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
