@import 'minireset.css/minireset.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import './variables.css';

@font-face {
  font-family: 'OCR A Extended';
  src: url('./assets/fonts/ocraext.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 1rem;
}

body {
  line-height: 1.8;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, sans-serif;
  background: var(--lego-background-color);
  color: var(--lego-font-color);
  position: relative;
}

a {
  color: var(--lego-link-color);
  cursor: pointer;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

p + p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.container {
  max-width: var(--lego-max-width);
  margin: 0 auto;
}

:global {
  .u-container {
    max-width: var(--lego-max-width);
    margin: 0 auto;
  }
}
