@import url('~app/styles/variables.css');

.overlay {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 45px;
  background: var(--color-white);
  margin: 0 35%;
  border: 10px solid #fbfbfb;
  border-radius: var(--border-radius-lg);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--linear-slow), visibility var(--linear-slow);

  @media (--mobile-device) {
    margin: 0 5%;
  }
}

.scannerModal {
  text-align: center;
}

.scannerButton {
  margin-bottom: 1rem;
}

.qrIcon {
  display: flex;
  align-items: center;
  margin-right: 0.2rem;
}

.overlay i {
  font-size: 10em;
  color: var(--color-green-6);
}

.shown {
  visibility: visible;
  opacity: 1;
}
