@import url('~app/styles/variables.css');

.scannerModal {
  text-align: center;
}

.scannerButton {
  margin-bottom: 1rem;
}

.qrIcon {
  display: flex;
  align-items: center;
  margin-right: 0.2rem;
}
