img {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.box {
  margin: 50px auto;
  height: 70px;
  width: 400px;
  size: 100px;
}

.text {
  font-size: 24pt;
  margin: 50px;
  text-align: center;
}
