.blue {
  background-color: rgb(196, 128, 151);
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Style the topnav */
.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

/* Style links in topnav */
.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
