.badge {
  position: absolute;
  top: -12px;
  right: -8px;
  background-color: var(--lego-red-color);
  color: var(--color-white);
  border-radius: 50%;
  min-width: 22px;
  font-size: var(--font-size-sm);
  padding: 2px;
  opacity: 0.9;
  z-index: 1;
}

.danger {
  color: var(--danger-color);
  transition: color var(--easing-fast);
  cursor: pointer;

  &:hover {
    color: var(--color-red-7);
  }
}

.success {
  color: var(--color-green-6);
  transition: color var(--easing-fast);
  cursor: pointer;

  &:hover {
    color: var(--color-green-7);
  }
}

.edit {
  color: var(--color-orange-6);
  transition: color var(--easing-fast);
  cursor: pointer;

  &:hover {
    color: var(--color-orange-7);
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    color: var(--color-orange-6);
  }
}
