.badge {
  position: absolute;
  top: -12px;
  right: -8px;
  background-color: var(--lego-red-color);
  color: var(--color-white);
  border-radius: 50%;
  min-width: 22px;
  font-size: 15px;
  padding: 2px;
  opacity: 0.9;
  z-index: 1;
}
