.badge {
  position: absolute;
  top: -14px;
  right: -10px;
  background: linear-gradient(45deg, #842219, #e55649);
  color: var(--color-white);
  border-radius: 8px;
  min-width: 28px;
  font-size: 16px;
  padding: 5px;
  opacity: 0.9;
}
