.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: linear-gradient(45deg, #842219, #e55649);
  color: #fff;
  border-radius: 8px;
  min-width: 28px;
  font-size: 16px;
  padding: 0 5px;
}

.icon {
  color: #444;
}
