
.wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background: rgba(0,0,0,0.6);
  border-radius: 8px;
  padding: 2px 10px;
}

.tooltipButton {
  padding: 0 5px;
}

.tooltipIcon {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.activeTooltipIcon,
.tooltipIcon:hover {
  color: rgba(255, 255, 255, 1);
}

.blockLayoutRight {
  width: 50%;
  float: right;
}

.blockLayoutLeft {
  width: 50%;
  float: left;
}

.blockLayoutFull {
  width: 100%;
}

.loader {
  height: 2px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #ddd;
}

.loader::before {
  display: block;
  position: absolute;
  content: '';
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 1s linear infinite;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay span {
  text-align: center;
}

@keyframes loading {
  from {
    left: -200px;
    width: 50%;
  }

  50% {
    width: 70%;
  }

  70% {
    width: 95%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}
