.link {
  display: block;
  margin: 0 var(--spacing-md);
}

.header {
  text-align: center;
  margin-bottom: var(--spacing-xl);
  animation-name: wiggle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  transition: var(--easing-fast);
}

.subHeader {
  color: var(--secondary-font-color);
}

.header > h1 {
  margin: 0;
}

div.red {
  color: var(--color-red-7);
  background-color: var(--lego-background-color);
  border: 3px solid var(--color-red-7);

  &:hover {
    background-color: var(--color-red-7);
    color: var(--color-white);
  }
}

div.gray {
  background-color: var(--color-gray-4);
  color: var(--color-white);
}

div.white {
  color: var(--color-black);
}

div.lightBlue {
  background-color: var(--color-blue-5);
  color: var(--color-white);
}

div.itdageneBlue {
  background-color: var(--color-background-color);
  color: #0778bc;
  border: 3px solid #0778bc;

  &:hover {
    background-color: #0778bc;
    color: var(--color-white);
  }
}

div.buddyweek2024 {
  border: 5px dashed var(--lego-red-color);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-1.5deg);
  }

  10% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(1.5deg);
  }

  20% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
