.link {
  display: block;
  margin: 0 var(--spacing-md);
}

.header {
  text-align: center;
  margin-bottom: var(--spacing-xl);
  animation-name: wiggle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  transition: var(--easing-fast);
}

.subHeader {
  color: var(--secondary-font-color);
}

.header > h1 {
  margin: 0;
}

div.red {
  color: var(--color-red-7);
  background-color: transparent;
  border: 3px solid var(--color-red-7);

  &:hover {
    background-color: var(--color-red-7);
    color: var(--color-white);
  }
}

div.gray {
  background-color: var(--color-gray-4);
  color: var(--color-white);
}

div.white {
  color: var(--color-black);
}

div.lightBlue {
  background-color: var(--color-blue-5);
  color: var(--color-white);
}

div.itdageneBlue {
  background-color: transparent;
  color: #0778bc;
  border: 3px solid #0778bc;

  &:hover {
    background-color: #0778bc;
    color: var(--color-white);
  }
}

div.buddyweek2024 {
  border: 5px dashed var(--lego-red-color);
}

.countdown {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  font-size: var(--font-size-md);
  font-weight: 600;
  color: inherit;
  transition: var(--easing-fast);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}

.countdownPrefix,
.countdownTime,
.countdownSuffix {
  display: inline-block;
  margin: 0 var(--spacing-xs);
}

.countdownRow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.headerTitle {
  text-align: center;
  margin: 0;
  z-index: 1;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-1.5deg);
  }

  10% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(1.5deg);
  }

  20% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
