:global {
.Comment__text:empty:before {
  content: 'Skriv en kommentar...';
  color: grey;
}

.Comment__submit {
  margin-top: 20px;
  width: auto;
}

.Comment__text:focus {
  outline: 0px solid transparent;
}
}
