.form {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
}

.inlineForm {
  flex-direction: row;
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.activeForm {
  flex-direction: column;
  align-items: flex-start;
}

.header {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.fields {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 15px;
}

.author {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 18px;
  margin-left: 25px;
  font-weight: 500;
  color: #ba1414;
}

.activeFields {
  margin-top: 10px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 2;
}

.submit {
  max-width: 150px;
  margin-top: 30px;
}
