.content {
  width: 100%;
  padding: var(--spacing-xl);

  @media (max-width: 45em) {
    padding: 1rem;
  }

  .back {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: var(--spacing-sm);
  }

  span.backLabel {
    font-weight: 500;
    margin-left: var(--spacing-xs);
  }

  .backIcon {
    transition: transform var(--easing-medium);
  }

  .back:hover > .backIcon {
    transform: translateX(calc(-1 * var(--spacing-xs)));
  }
}

.title {
  grid-area: title;
  max-width: 100vw;

  h1 {
    margin: 0;
  }
}

.buttonGroup {
  flex-grow: 1;
  justify-content: flex-end;
}

.description {
  color: var(--secondary-font-color);
}
