.content {
  width: 100%;
  padding: var(--spacing-xl);

  @media (max-width: 45em) {
    padding: 1rem;
  }
}

.backButton {
  margin: calc(-1 * var(--spacing-md)) 0 0 calc(-1 * var(--spacing-md));
  color: var(--lego-red-color);
}

.title {
  grid-area: title;
  max-width: 100vw;

  h1 {
    margin: 0;
  }
}

.buttonGroup {
  flex-grow: 1;
  justify-content: flex-end;
}

.description {
  color: var(--secondary-font-color);
}
