.sidebar {
  position: relative;
  max-width: calc(var(--lego-max-width) / 4);
  min-width: 14rem;
  height: 100%;
  padding: 1rem;
  background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 2%);
}

.desktop {
  @media (max-width: 45em) {
    display: none;
  }
}

.sidebarTrigger {
  display: none;

  @media (max-width: 45em) {
    display: inline;
  }
}

.close {
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
  cursor: pointer;
}

.title {
  text-align: center;
  margin-bottom: var(--spacing-lg);
}
