@import '../../../custom-media.css';

.sidebar {
  position: relative;
  max-width: calc(var(--lego-max-width) / 4);
  min-width: 14rem;
  height: 100%;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 2%);
}

.sidebarTrigger.mobileOnly {
  display: none;

  @media (--medium-viewport) {
    display: inline;
  }
}

.close {
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
  cursor: pointer;
}

.title {
  margin-bottom: var(--spacing-md);
}
