@import '../../custom-media.css';

.baseCard {
  background: var(--lego-card-color);
  border-radius: var(--border-radius-lg);
  border: 1.5px solid var(--border-gray);
  line-height: 1.3;
  overflow: hidden;
}

.padded {
  padding: var(--spacing-lg);
}

.withIcon {
  gap: var(--spacing-md);

  @media (--small-viewport) {
    flex-direction: column;
    gap: var(--spacing-sm);
  }
}

.header {
  font-weight: 600;
  font-size: var(--font-size-lg);
  margin-bottom: var(--spacing-sm);
}

.shadow {
  box-shadow: var(--shadow-sm);
}

.isHoverable:hover {
  transition: box-shadow var(--easing-fast);
  box-shadow: var(--shadow-md);
}

.danger {
  background-color: var(--color-red-1);
  border-color: var(--danger-color);
  color: var(--danger-color);
}

html[data-theme='dark'] .danger {
  color: var(--color-red-8);
  border-color: var(--color-red-8);
}

.dangerIcon {
  color: var(--danger-color);
}

.danger a {
  color: var(--color-red-8);
  text-decoration: underline;

  &:hover {
    color: var(--color-red-7);
  }
}

html[data-theme='dark'] .danger a:hover {
  color: var(--color-red-3);
}

/* stylelint-disable no-descending-specificity */
.info {
  background-color: var(--color-blue-1);
  border-color: var(--color-blue-7);
  color: var(--color-blue-7);
}

.info a {
  color: var(--color-blue-8);
  text-decoration: underline;

  &:hover {
    color: var(--color-blue-7);
  }
}

.infoIcon {
  color: var(--color-blue-7);
}

.success {
  background-color: var(--color-green-2);
  border-color: var(--color-green-7);
  color: var(--color-green-7);
}

.success a {
  color: var(--color-green-8);
  text-decoration: underline;

  &:hover {
    color: var(--color-green-7);
  }
}

.successIcon {
  color: var(--color-green-7);
}

.warning {
  background-color: var(--color-orange-1);
  border-color: var(--color-orange-7);
  color: var(--color-orange-7);
}

.warning a {
  color: var(--color-orange-8);
  text-decoration: underline;

  &:hover {
    color: var(--color-orange-7);
  }
}

.warningIcon {
  color: var(--color-orange-7);
}

.footer {
  padding: var(--spacing-sm);

  &.background {
    background-color: var(--additive-background);
  }

  &.border {
    border-top: 1px solid var(--border-gray);
  }
}
