@import url('~app/styles/variables.css');

.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.headingText {
  font-size: 24px;
  margin-bottom: 0;
}

.headingDeadline {
  font-size: var(--font-size-md);

  @media (--mobile-device) {
    display: none;
  }
}

.joblistingList {
  flex: 3;

  @media (width <= 321px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
