.root {
  composes: container from 'app/styles/utilities.css';
}

.meta {
  flex: 1;
  background: #ba1414;
  padding: 20px;
  color: #fff;
}

.description {
  background: #fff;
  padding: 20px;
  flex: 2.5;
}

.applicationUrl {
  color: #FFF;
  text-decoration: underline;
}
