@import 'app/styles/variables.css';

.box {
  min-height: 350px;
  background: #f2ece8;
  border: 1px solid #ddd;
  flex: 1;
  margin: auto 40px;
}

.rightHeader {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  border-bottom: 1px solid #999;
  letter-spacing: 2px;
  margin-bottom: 2%;
  margin-top: 8%;
  padding-left: 0;
}

.createButton {
  font-weight: 700;
  cursor: pointer;
  background: #eff1f4;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #333;
  outline: none;
  border: 1px solid #ccc;
  letter-spacing: 1px;
  border-radius: 4px;

  @media (--small-viewport) {
    display: block;
  }

  &:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  &:active {
    color: #555;
    transform: translateY(1px);
  }

  &:disabled {
    color: #888;
  }
}
