@import '../../../variables.css';

.root {
  composes: container from '../../../Root.css';
  margin-top: 2rem;
}

.heading {
  color: #777;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  font-size: 24px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 2% 5%;
}

.textfield {
  width: 80%;
}

.submit {
  width: 130px;
}
