@import '~app/styles/variables.css';

.root {
  composes: container from '~app/styles/utilities.css';
  margin-top: 2rem;
}

.heading {
  color: #777;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  font-size: 24px;
}

.submit {
  width: 130px;
}

.descriptionField,
.textField {
  border: 1px;
  padding: 20px;
}
