@import 'app/styles/variables.css';

.root {
  composes: container from 'app/styles/utilities.css';
  margin-top: 2rem;
}

.heading {
  color: #777;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.headingText {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
}

.headingDeadline {
  font-size: 16px;
}

.joblistingItem {
  margin-bottom: 12px;
  padding-bottom: 5px;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  line-height: 1.3;
  border-bottom: 1px solid #ddd;
}

.companyLogo {
  width: 120px;
  height: 80px;
  background: #eee;
  margin-right: 20px;
}

.joblistingItemTitle {
  color: #111;
  font-weight: 550;
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  border-bottom: 1px solid #999;
  letter-spacing: 2px;
}

.companyJobtype {
  color: #777;
}

.deadLine {
  align-self: center;
}
