@import '~app/styles/variables.css';

.joblistingRightNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 350px;
  border-left: 1px solid var(--color-mono-gray-4);
  border-right: 1px solid var(--color-mono-gray-4);
  flex: 1;
  margin-left: 30px;
  padding: 30px;
  padding-top: 0;
  margin-top: 0;
  min-width: 225px;
  max-width: 250px;

  @media (--small-viewport) {
    align-items: center;
    justify-content: space-around;
    max-width: none;
    min-height: 0;
    margin-left: 0;
    margin-bottom: 20px;
    padding-bottom: 0;
  }
}

.optionsTitle {
  color: var(--lego-text-color);
  display: flex;
  border-top: 1px solid var(--color-mono-gray-4);
  border-bottom: 1px solid var(--color-mono-gray-4);
  width: 95%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

/* Caret */
.optionsTitle i {
  margin-left: 5px;
  transition: transform 200ms ease-in-out;
}

.rotateCaret {
  transform: rotate(-90deg);
}

.optionsTitle h2 {
  display: flex;
  align-items: center;
}

.options {
  margin-top: 20px;

  @media (--small-viewport) {
    width: 100%;
  }
}

.rightHeader {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  border-bottom: 1px solid var(--color-mono-gray-4);
  letter-spacing: 2px;
  margin-bottom: 2%;
  margin-top: 8%;
  padding-left: 0;
}
