@import url('~app/styles/variables.css');

.heading {
  color: var(--color-dark-mono-gray-3);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
  display: flex;
  border-bottom: 1px solid var(--color-mono-gray-4);
  justify-content: space-between;
  align-items: flex-end;
}

.headingText {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
}

.headingDeadline {
  font-size: 16px;

  @media (--mobile-device) {
    display: none;
  }
}

.joblistingList {
  flex: 3;

  @media (max-width: 321px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.joblistingItem {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 12px;
  padding: 15px;
  line-height: 1.3;
  min-width: 280px;
  border-radius: 5px;
  color: var(--lego-font-color);
  transition: background-color var(--easing-fast);

  &:hover {
    background-color: rgba(255, 0, 0, 8%);
  }

  @media (--mobile-device) {
    padding: 5px;
  }
}

.companyLogo {
  width: 120px;
  max-height: 80px;
  min-width: 120px;
  object-fit: contain;
  margin-right: 20px;
  background: white;
}

.listItem {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 15px;

  @media (--mobile-device) {
    flex-direction: column;
  }
}

.joblistingItemTitle {
  color: var(--color-dark-gray-1);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.deadLine {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 145px;

  @media (--mobile-device) {
    justify-content: flex-start;
  }
}
