@import url('~app/styles/variables.css');

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.page {
  margin-top: 2rem;
  justify-content: space-around;

  @media (--small-viewport) {
    flex-direction: column-reverse;
  }
}
