@import 'app/styles/variables.css';

.root {
  composes: container from 'app/styles/utilities.css';
  margin-top: 2rem;
}

.heading {
  color: #777;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
  display: flex;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  align-items: flex-end;
}

.headingText {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
}

.headingDeadline {
  font-size: 16px;

  @media (max-width: 900px) {
    display: none;
  }
}

.joblistingList {
  flex: 3;

  @media (max-width: 321px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.joblistingItem {
  margin-bottom: 12px;
  padding-bottom: 5px;
  margin-top: 3px;
  line-height: 1.3;
  border-bottom: 1px solid #ddd;
  min-width: 280px;
}

.companyLogo {
  width: 120px;
  height: 80px;
  margin-right: 20px;
  min-width: 120px;
  object-fit: contain;

  @media (max-width: 767px) {
    display: none;
  }
}

.listItem {
  flex: 1;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.joblistingItemTitle {
  color: #111;
  font-weight: 550;
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}

.companyJobtype {
  color: #777;
}

.deadLine {
  display: flex;
  align-self: center;
  flex-direction: row;

  @media (max-width: 900px) {
    align-self: flex-start;
  }
}

.deadLineLabel {
  @media (min-width: 900px) {
    display: none;
  }
}
