@import url('~app/styles/variables.css');

.optionsTitle {
  color: var(--lego-font-color);
  display: flex;
  gap: var(--spacing-sm);
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
  width: 95%;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-sm);
  cursor: pointer;
}

/* Caret */
.optionsTitle i {
  font-size: var(--spacing-lg);
  transition: transform var(--easing-medium);
}

.optionsTitle h2 {
  display: flex;
  align-items: center;
}

.options {
  margin-top: var(--spacing-md);

  @media (--small-viewport) {
    width: 100%;
  }
}

.rightHeader {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-xs);
}
