@import 'app/styles/variables.css';

.box {
  display: flex;
  justify-content: center;
  min-height: 350px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  flex: 1;
  margin: 30px;
  padding: 30px;
  padding-top: 0;
  margin-right: 0;
  min-width: 150px;
  max-width: 250px;
}

.rightHeader {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  border-bottom: 1px solid #999;
  letter-spacing: 2px;
  margin-bottom: 2%;
  margin-top: 8%;
  padding-left: 0;
}

.createButton {
  flex: 1;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  background: #eff1f4;
  text-transform: uppercase;
  padding: 5px 10px;
  color: #333;
  outline: none;
  border: 1px solid #ccc;
  letter-spacing: 1px;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  &:active {
    color: #555;
    transform: translateY(1px);
  }

  &:disabled {
    color: #888;
  }
}
