@import url('~app/styles/variables.css');

.heading {
  margin-bottom: var(--spacing-md);
}

.headingDeadline {
  margin-right: var(--spacing-md);

  @media (--mobile-device) {
    display: none;
  }
}

.joblistingList {
  flex: 3;

  @media (--mobile-device) {
    margin: 0 var(--spacing-sm);
  }
}
