@import '~app/styles/variables.css';

.box {
  display: flex;
  justify-content: flex-start;
  min-height: 350px;
  border-left: 1px solid var(--color-mono-gray-4);
  border-right: 1px solid var(--color-mono-gray-4);
  flex: 1;
  margin-left: 30px;
  padding: 30px;
  padding-top: 0;
  margin-top: 0;
  min-width: 225px;
  max-width: 250px;

  @media (max-width: 630px) {
    align-items: center;
    justify-content: space-around;
    max-width: none;
    min-height: 0;
    margin-left: 0;
    margin-bottom: 5px;
    padding-bottom: 0;
  }
}

.optionsTitle {
  display: flex;
  border-top: 1px solid var(--color-mono-gray-4);
  border-bottom: 1px solid var(--color-mono-gray-4);
  width: 95%;
  justify-content: center;

  @media (max-width: 630px) {
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  &:hover {
    cursor: pointer;
  }
}

.options {
  margin-top: 20px;

  @media (max-width: 630px) {
    width: 100%;
  }
}

.filters {
  @media (max-width: 630px) {
    flex-flow: row wrap;
  }
}

.filters > div {
  margin: 10px;
}

.sortNav {
  @media (max-width: 630px) {
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.rightHeader {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  border-bottom: 1px solid var(--color-mono-gray-4);
  letter-spacing: 2px;
  margin-bottom: 2%;
  margin-top: 8%;
  padding-left: 0;
}

.sortHeader {
  @media (max-width: 630px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.createButton {
  flex: 1;
  align-self: center;
  justify-content: center;

  @media (max-width: 630px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
