@import 'app/styles/variables.css';

.root {
  composes: contentContainer from 'app/styles/utilities.css';
}

.page {
  margin-top: 2rem;
  justify-content: space-around;

  @media (max-width: 630px) {
    flex-direction: column-reverse;
  }
}
