@import url('~app/styles/variables.css');

.content {
  width: 70%;
  line-height: 1.3;
}

.quoteSource {
  margin-top: 5px;
  font-style: italic;
  color: var(--secondary-font-color);
}

.quoteText {
  font-weight: 500;
}

.quoteReactions {
  margin-top: 5px;
}

.actions {
  margin: 5px 5px 5px 15px;
}

.fetchNew {
  margin-bottom: 5px;
}

.rotateIcon {
  transform: rotate(360deg);
  transition: var(--easing-slow);
}
