/*
.quoteSource,
.quoteText {
  display: block;
  line-height: 20px;
}
*/
.quoteSource {
  margin-top: 5px;
  font-style: italic;
}

.quoteText {
  font-weight: 600;
}

.quoteReactions {
  margin-top: 5px;
}

.actions {
  margin: 5px 5px 5px 10px;
}

.add {
  margin-top: 5px;
}
