.quoteSource {
  margin-top: 5px;
  font-style: italic;
}

.quoteText {
  font-weight: 600;
}

.quoteReactions {
  margin-top: 5px;
}

.actions {
  margin: 5px 5px 5px 15px;
}

.add {
  margin-top: 5px;
}
