@import '~app/styles/variables.css';

.quoteSource {
  margin-top: 5px;
  font-style: italic;
}

.quoteText {
  font-weight: 600;
}

.quoteReactions {
  margin-top: 5px;
}

.actions {
  margin: 5px 5px 5px 15px;
}

.fetchNew {
  margin-bottom: 5px;
}
