@import '~app/styles/variables.css';

.quoteSource {
  color: var(--lego-font-color);
  font-style: italic;
  margin-top: 5px;
}

.quoteText {
  color: var(--lego-font-color);
  font-weight: 600;
}

.quoteText:hover {
  color: var(--lego-link-color);
}

.quoteReactions {
  margin-top: 5px;
}

.actions {
  margin: 5px;
}

.actions * {
  line-height: 0;
  margin-bottom: 5px;
}

.actions > * + * {
  margin-left: 20px;
}

.bubbleArrow {
  color: white;
  position: absolute;
  bottom: -35px;
  left: calc(50% + 60px);
}

html[data-theme='dark'] .bubbleArrow {
  color: var(--lego-placard-color);
}
