@import 'app/styles/variables.css';

:root {
  --calendar-border: 1px solid #ddd;
}

.root {
  composes: container from 'app/styles/utilities.css';
  margin-top: 2rem;
}

.grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem;
}

.dayNumber {
  position: absolute;
  top: 5px;
  right: 8px;
}

.headingItem {
  flex: 0 14.28571%;
  color: #444;
  text-align: right;
  padding-right: 8px;
  border-bottom: 2px solid #ddd;
}

.day {
  flex: 0 14.28571%;
  border-right: var(--calendar-border);
  border-bottom: var(--calendar-border);
  background: #fff;
  position: relative;
  min-height: 100px;
  padding: 20px 10px;
  overflow-x: hidden;

  &:nth-child(7n+1) {
    border-left: var(--calendar-border);
  }

  &:nth-child(-n+7) {
    border-top: var(--calendar-border);
  }
}

.prevNextMonthDay {
  color: #bbb;
}
