@import url('~app/styles/variables.css');

.eventFooter {
  width: 100%;
  padding-top: 20px;

  & h3 {
    margin: 0;
  }
}

.eventFooterSections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (--small-viewport) {
    flex-direction: column;
  }
}

.section {
  flex: 2;
  padding: 0 20px;

  &:last-of-type {
    flex: 1;
  }
}

.eventType {
  padding-left: 10px;
}

.sommerfest {
  width: 40px;
  position: absolute;
  left: 1300px;
  top: 900px;
}
