@import url('~app/styles/variables.css');

.sectionDividerTitle {
  margin-top: var(--spacing-md);
  margin-bottom: 0;
}

.sectionDividerDescription {
  color: var(--secondary-font-color);
  margin-bottom: var(--spacing-md);
}

.noRegistrationsText {
  text-align: center;
  color: var(--secondary-font-color);
}

.chartContainer {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-md);
  padding: 6px;

  @media (--mobile-device) {
    grid-template-columns: 1fr;
  }
}

.graphCard {
  margin-top: var(--spacing-md);
}

.filterContainer {
  margin: var(--spacing-md) 0;
}

.filterContainer > label {
  margin-top: var(--spacing-md);
}
