.root {
  composes: container from '../../../Root.css';
}

.registeredThumbnails {
  flex-wrap: wrap;
  width: 300px;
}

.coverImage {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: #000;
  position: relative;
}

.coverImage img {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.coverImageOverlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent 10%, #F5F5F4);
}

.description {
  background: #fff;
  padding: 20px;
  flex: 2;
}

.meta {
  flex: 1;
  background: #ba1414;
  padding: 20px;
  color: #fff;
}

.openFor {
  background: #CACACA;
  flex: 1;
  padding: 20px;
}

.join {
  background: #AAAAAA;
  flex: 2;
  padding: 20px;
}

.joinToggle {
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}
