@import 'app/styles/variables.css';

.root {
  composes: contentContainer from 'app/styles/utilities.css';
}

.heading {
  color: #777;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.noEvents {
  color: #777;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

.eventItem {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.eventItemTitle {
  color: #333;
  font-weight: 700;
  margin: 0;
  word-break: break-word;
}

.eventGroup {
  margin-bottom: 40px;
}

.eventTime {
  color: #777;
}

.companyLogo {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.companyLogo img {
  min-width: 120px;
  height: 80px;
  object-fit: contain;
}

.bottomBorder {
  margin-top: 40px;
  border-top: 1px solid #ddd;
}
