@import url('~app/styles/variables.css');

.root {
  composes: contentContainer from '~app/styles/utilities.css';
  margin-top: 12px;
}

.heading {
  font-size: 18px;
  border-bottom: 2px solid var(--border-gray);
  font-weight: 500;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.noEvents {
  color: var(--color-gray-5);
  font-weight: 400;
  font-size: 20px;
}

.eventGroup {
  margin-bottom: 40px;
}

.bottomBorder {
  margin-top: 40px;
  border-top: 2px solid var(--border-gray);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -46px;
  margin-right: -2px;

  @media (--mobile-device) {
    margin-bottom: 0;
  }
}

.filter ion-icon {
  flex-shrink: 0;
}

.select {
  width: 200px;
  margin-left: 15px;
}

.checkbox {
  margin-right: 0;
  margin-left: 10px;
}

.filterButtons {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.filterButtons label {
  display: flex;
  align-items: center;
}
