@import url('~app/styles/variables.css');

.eventGroup {
  margin-bottom: var(--spacing-lg);
}

.bottomBorder {
  margin-top: var(--spacing-lg);
  border-top: 1px solid var(--border-gray);
}

.select {
  width: 200px;
}

.checkbox {
  margin-right: 0;
  margin-left: 10px;
}

.filterButtons label {
  display: flex;
  align-items: center;
}
