@import url('~app/styles/variables.css');

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.heading {
  font-size: var(--font-size-lg);
  border-bottom: 1px solid var(--border-gray);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.noEvents {
  color: var(--secondary-font-color);
  font-weight: 400;
  font-size: var(--font-size-lg);
}

.eventGroup {
  margin-bottom: 40px;
}

.bottomBorder {
  margin-top: 40px;
  border-top: 1px solid var(--border-gray);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -36px;
  margin-right: -2px;
  gap: 0.5rem;

  @media (--mobile-device) {
    margin-bottom: 0;
  }
}

.filter ion-icon {
  flex-shrink: 0;
}

.select {
  width: 200px;
}

.checkbox {
  margin-right: 0;
  margin-left: 10px;
}

.filterButtons {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

.filterButtons label {
  display: flex;
  align-items: center;
}
