.eventFooter {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  border-top: 1px solid #ddd;
  composes: container from 'app/styles/utilities.css';

  h3 {
    margin: 0;
  }
}

.section {
  flex: 1;
  padding: 20px;
}

.eventType {
  padding-left: 10px;
}
