@import 'app/styles/variables.css';

.registeredThumbnails {
  flex-wrap: wrap;
  max-height: 138px;
  overflow: hidden;
}

.mainRow {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.meta {
  flex: 1;
  padding: 20px;
  padding-top: 0;
  border-left: 1px solid var(--border-gray);
  margin-left: 3em;

  @media (--small-viewport) {
    border-left: none;
    margin-left: 0;
    padding: 0;
  }
}

.openFor {
  background: var(--color-gray-5);
  padding: 20px;
  border-radius: 5px;
  margin-left: 1em;
  flex: 1;

  @media (--small-viewport) {
    margin-left: 0;
    margin-bottom: 1em;
  }
}

.join {
  flex: 2;
}

.joinHeader {
  font-size: 20px;
  color: var(--lego-color-gray);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.summary {
  flex-wrap: wrap;
}

.tagRow {
  margin-top: 16px;
}

.mainSections {
  flex-wrap: wrap;
}

.registrationSection {
  flex-wrap: wrap-reverse;
}
