@import 'app/styles/variables.css';

.root {
  composes: contentContainer from 'app/styles/utilities.css';

  @media (--small-viewport) {
    padding: 0;

    .coverImage {
      padding: 0;
    }

    > div {
      padding: 0 10px;
    }
  }
}

.registeredThumbnails {
  flex-wrap: wrap;
  width: 300px;
}

.coverImage {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;

  img {
    object-fit: cover;
  }
}

.mainRow {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.description {
  border-radius: 5px;
  flex: 2;
  background: var(--lego-color-gray-light);
}

.meta {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  margin-left: 1em;

  @media (--small-viewport) {
    margin-left: 0;
  }
}

.openFor {
  background: var(--color-gray-5);
  padding: 20px;
  min-width: 340px;
  border-radius: 5px;
  margin-left: 1em;
  flex: 1;

  @media (--small-viewport) {
    margin-left: 0;
  }
}

.join {
  background: var(--lego-color-gray-light);
  border-radius: 5px;
  flex: 2;
}

.join > * {
  margin: 20px 20px 0;
}

.join > *:last-child {
  margin-bottom: 20px;
}

.joinHeader {
  font-size: 20px;
  color: var(--lego-color-gray);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.summary {
  flex-wrap: wrap;
}

.tagRow {
  margin-top: 16px;
}

.mainSections {
  flex-wrap: wrap;
}

.registrationSection {
  flex-wrap: wrap-reverse;
}

.companyPresentation {
  background: var(--color-company-presentation);
  color: var(--color-black);
}

.lunchPresentation {
  background: var(--color-lunch-presentation);
  color: var(--color-black);
}

.course {
  background: var(--color-course);
  color: var(--color-black);
}

.party {
  background: var(--color-party);
  color: var(--color-black);
}

.social {
  background: var(--color-social);
  color: var(--color-white);
}

.event {
  background: var(--color-event);
  color: var(--color-white);
}

.other {
  background: var(--color-other);
  color: var(--color-white);
}
