@import url('~app/styles/variables.css');

.feedbackLabel {
  display: flex;
  flex: 1;
}

.feedbackField {
  display: flex;
  flex: 1;
  margin-bottom: 0;
  min-height: 40px;
}

.feedbackText {
  min-height: 40px;
  min-width: 200px;
  max-width: 893px;
  max-height: 300px;
  resize: vertical;
}

.feedbackUpdateButton {
  margin-left: 10px;
  height: 40px;
}

.registeredThumbnails {
  flex-wrap: wrap;
  max-height: 130px;
  overflow: hidden;
}

.mainRow {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.meta {
  flex: 1;
  padding: 20px;
  padding-top: 0;
  border-left: 1px solid var(--border-gray);
  margin-left: 3em;

  @media (--small-viewport) {
    border-left: none;
    margin-left: 0;
    padding: 0;
  }
}

.openFor {
  background: var(--color-gray-5);
  padding: 20px;
  border-radius: 5px;
  margin-left: 1em;
  flex: 1;

  @media (--small-viewport) {
    margin-left: 0;
    margin-bottom: 1em;
  }
}

.joinHeader {
  margin-top: 20px;
  font-size: 20px;
  color: var(--lego-color-gray);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.summary {
  flex-wrap: wrap;
}

.tagRow {
  margin-top: 16px;
}

.mainSections {
  flex-wrap: wrap;
}

.registrationBtn {
  margin-bottom: 20px;
  margin-right: 10px;
}

.registrationSection {
  flex-wrap: wrap-reverse;
}

.registrationPending {
  background-color: var(--lego-card-color);
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: rgba(149, 157, 165, 20%) 0 8px 24px;
  padding: 5px;
  text-align: center;
}

.registrationPendingHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.eventWarning {
  padding: 10px;
  border-radius: 10px;
  background: var(--color-red-4);
  text-align: center;
  margin-bottom: 0.5rem;
}

.eventWarning > p {
  color: white;
  font-weight: bold;
  margin: 0;
}

.eventWarning a {
  font-weight: bold;
  color: var(--color-event-red);
}

.eventWarning a:hover {
  color: #6b0d06;
}

.eventPrice {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.eventPrice::after {
  width: 70%;
  display: block;
  content: '';
  margin: 0 auto;
  border-bottom: 1px solid #6772e585;
}
