@import '~app/styles/variables.css';

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.heading {
  color: var(--color-dark-mono-gray-3);
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid var(--color-mono-gray-4);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.noEvents {
  color: var(--color-dark-mono-gray-3);
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

.eventGroup {
  margin-bottom: 40px;
}

.bottomBorder {
  margin-top: 40px;
  border-top: 1px solid var(--color-mono-gray-4);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -36px;
  margin-right: -2px;
}

.select {
  width: 200px;

  @media (--mobile-device) {
    width: 100px;
  }
}

.checkbox {
  margin-right: 0;
  margin-left: 10px;
}

.filterButtons {
  display: flex;
  flex-wrap: wrap;

  @media (--mobile-device) {
    margin-bottom: 40px;
  }
}

.filterButtons label {
  display: flex;
  align-items: center;
}