@import url('~app/styles/variables.css');

.summary {
  white-space: pre;
  color: var(--secondary-font-color);
  margin-top: 10px;

  > * {
    min-height: 1.5rem;
  }
}

.registrationList {
  color: var(--lego-link-color);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
