@import url('~app/styles/variables.css');

.summary {
  white-space: pre;
  color: var(--secondary-font-color);
  margin-top: var(--spacing-sm);

  > * {
    min-height: var(--spacing-lg);
  }
}

.registrationList {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
