@import url('~app/styles/variables.css');

.summary {
  flex-wrap: wrap;
  white-space: pre;
}

.registrationList {
  color: var(--lego-link-color);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
