.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 0.4);
  z-index: 2;
}

.overlayParent {
  position: relative;
}
