@import url('~app/styles/variables.css');

.stripeLabel {
  color: var(--color-gray-5);
  font-weight: 300;
  letter-spacing: 0.025em;
}

.stripeButton {
  width: 100%;
}

.elementsFieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #6772e585;
  border-radius: var(--border-radius-lg);
}

.elementsLedgend {
  text-align: center;
  padding: 0 1em;
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.formSeparator {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.stripeElement {
  display: block;
  margin: 10px 0 20px;
  max-width: 500px;
  padding: 10px 14px;
  font-size: var(--font-size-md);
  font-family: 'Source Code Pro', monospace;
  box-shadow: var(--shadow-sm);
  border: 0;
  outline: 0;
  border-radius: var(--border-radius-md);
  background: white;
}

.error {
  background: #c24538;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 1em;
  border-radius: var(--border-radius-sm);
}

.success {
  background: var(--color-green-6);
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  margin-top: 3px;
  border-radius: var(--border-radius-sm);
  transition: background var(--easing-slow);
}
