@import url('~app/styles/variables.css');

.root {
  display: grid;
  grid-template: 'time list calendar create' 1fr / 1fr 1fr 1fr 1fr;
  white-space: nowrap;
  margin-bottom: 20px;

  @media (--mobile-device) {
    grid-template:
      'time create'
      'list calendar';
  }
}

.list {
  grid-area: list;
}

.calendar {
  grid-area: calendar;
}

.pickerItem {
  text-align: center;
  color: var(--lego-font-color);
  padding: 5px 20px;
  font-size: var(--font-size-lg);
  border-bottom: 1px solid var(--border-gray);
  transition: all var(--easing-medium);
}

.active {
  font-weight: 600;
  border-bottom: 1px solid var(--color-gray-5);
}

.timeNow {
  font-size: var(--font-size-lg);
  color: var(--secondary-font-color);
}
