.root {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.section {
  flex: 1;
  display: flex;
  align-items: center;

  &:last-of-type {
    justify-content: flex-end;
  }

  &:first-of-type {
    justify-content: flex-start;
  }
}

.buttons {
  composes: section;
  flex: 2;
  justify-content: center;
}

.pickerItem {
  text-align: center;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
  font-size: 18px;
  border-bottom: 3px solid #f5f5f5;
}

.active {
  font-weight: 700;
  border-bottom: 3px solid #ddd;
}

.timeNow {
  font-size: 18px;
  color: #666;
}
