@import url('~app/styles/variables.css');

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.create {
  margin-top: 2px;
}

.picker {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-self: flex-end;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap: nowrap;
}

.title {
  font-size: 24px;
  justify-self: start;
}

.pickerItem {
  text-align: center;
  color: var(--lego-font-color);
  padding: 5px 5px;
  font-size: 20px;
  transition: all var(--easing-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pickerItem::after {
  content: '';
  height: 4px;
  width: 4px;
  background-color: transparent;
  border-radius: 100%;
  margin-top: 5px;
}

.active {
  font-weight: 600;
}

.active::after {
  content: '';
  height: 4px;
  width: 4px;
  background-color: var(--lego-font-color);
  border-radius: 100%;
  margin-top: 5px;
}