@import url('~app/styles/variables.css');

.root {
  display: grid;
  grid-template: 'time list calender create' 1fr / 1fr 1fr 1fr 1fr;
  white-space: nowrap;
  margin-bottom: 20px;

  @media (--mobile-device) {
    grid-template:
      'time create'
      'list calender';
  }
}

.time {
  grid-area: time;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.create {
  grid-area: create;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.list {
  grid-area: list;
}

.calender {
  grid-area: calender;
}

.pickerItem {
  text-align: center;
  color: var(--lego-color-gray);
  padding: 5px 20px;
  font-size: 20px;
  border-bottom: 1px solid var(--color-almost-white-5);
  transition: all var(--easing-medium);
}

.pickeritem:hover,
html[data-theme='dark'] .pickerItem {
  border-bottom: 1px solid var(--color-mono-gray-4);
}

.active {
  font-weight: 700;
  border-bottom: 1px solid var(--color-mono-gray-4);
}

html[data-theme='dark'] .active,
html[data-theme='dark'] .pickerItem:hover {
  border-bottom: 1px solid #f5f5f5;
}

.timeNow {
  font-size: 18px;
  color: var(--color-dark-mono-gray-2);
}
