.label {
  font-size: var(--font-size-lg);
}

.allergies {
  margin-bottom: 0;
}

.button {
  margin-left: 10px;
}

.update {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
