.blockingText {
  z-index: 5;
  font-size: var(--font-size-lg);
  text-align: center;
  color: #111;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
