.eventItem {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.eventItemTitle {
  color: var(--lego-color-gray);
  font-weight: 700;
  margin: 0;
  word-break: break-word;
}

.eventTime {
  color: var(--color-dark-mono-gray-3);
}

.companyLogo {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.companyLogo img {
  min-width: 120px;
  height: 80px;
  object-fit: contain;
}
