.eventItem {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.eventItemCompact {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.eventItemRow {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.eventItemColumn {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 10px;
}

.eventItemTitle {
  color: var(--lego-color-gray);
  font-weight: 700;
  margin: 0;
  word-break: break-word;
}

.eventTime {
  color: var(--color-dark-mono-gray-3);
}

.companyLogo {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.companyLogoExtraCompact {
  composes: companyLogo;
  width: 90px;
}

.companyLogo img {
  min-width: 120px;
  max-height: 80px;
  object-fit: contain;
  background: white;
}

.companyLogoExtraCompact img {
  min-width: 90px;
  height: 30px;
  object-fit: contain;
  background: white;
}
