.eventItem {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.eventItemCompact {
  composes: eventItem;
  flex-direction: column;
  justify-content: space-between;
}

.time {
  color: var(--secondary-font-color);
}

.eventItemTitle {
  color: var(--lego-font-color);
  margin: 0;
  word-break: break-word;
}

.eventTime {
  color: var(--secondary-font-color);
}

.companyLogo {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.companyLogoExtraCompact {
  composes: companyLogo;
  width: 90px;
}

.companyLogo img {
  min-width: 120px;
  max-height: 80px;
  object-fit: contain;
  background: white;
}

.companyLogoCompact img {
  min-width: 120px;
  max-height: 100%;
  object-fit: contain;
  background: white;
}

.companyLogoExtraCompact img {
  min-width: 90px;
  height: 30px;
  object-fit: contain;
  background: white;
}

.textWithIcon {
  font-size: var(--font-size-sm);
}
