.card {
  background: var(--lego-card-color);
  padding: 20px;
  border-radius: var(--border-radius-lg);
}

.tight {
  padding: 0;
}

.shadow {
  box-shadow: var(--shadow-sm);
}

.isHoverable:hover {
  transition: box-shadow var(--easing-medium);
  box-shadow: var(--shadow-md);
}
