.card {
  background: var(--color-white);
  border: 1px solid
    rgba(var(--rgba-min), var(--rgba-min), var(--rgba-min), 0.09);
  padding: 20px;
  border-radius: 3px;
  flex: 1;
}

.dark {
  background: var(--lego-color-gray);
  color: var(--color-white);
}

.tight {
  padding: 0;
}

.shadow {
  box-shadow: 0 1px 4px
    rgba(var(--rgba-min), var(--rgba-min), var(--rgba-min), 0.04);
}
