.card {
  background: var(--lego-card-color);
  padding: 20px;
  border-radius: var(--border-radius-lg);
}

.shadow {
  box-shadow: var(--shadow-sm);
}

.isHoverable:hover {
  transition: box-shadow var(--easing-medium);
  box-shadow: var(--shadow-md);
}

.danger {
  margin: 20px 0;
  background-color: var(--color-red-1);
  border: 1.5px solid var(--danger-color);
  color: var(--danger-color);
}

html[data-theme='dark'] .danger {
  color: var(--color-red-8);
  border-color: var(--color-red-8);
}

.warningIcon {
  color: var(--danger-color);
}

.danger a {
  color: var(--color-red-8);
  text-decoration: underline;

  &:hover {
    color: var(--color-red-7);
  }
}

html[data-theme='dark'] .danger a:hover {
  color: var(--color-red-3);
}

/* stylelint-disable no-descending-specificity */
.info {
  margin: 20px 0;
  background-color: var(--color-blue-1);
  border: 1.5px solid var(--color-blue-7);
  color: var(--color-blue-7);
}

.info a {
  color: var(--color-blue-8);
  text-decoration: underline;

  &:hover {
    color: var(--color-blue-7);
  }
}

.infoIcon {
  color: var(--color-blue-8);
}

.header {
  font-weight: 600;
  font-size: var(--font-size-lg);
  line-height: 1.3;
}
