.card {
  background: var(--lego-card-color);
  padding: 20px;
  border-radius: 1rem;
}

.dark {
  background: var(--lego-color-gray);
  color: var(--color-white);
}

.tight {
  padding: 0;
}

.shadow {
  box-shadow: 0 2px 8px 2px rgba(104, 112, 118, 7%),
    0 2px 4px -1px rgba(104, 112, 118, 4%);
}
