.member.leader img {
  border: 3px solid var(--color-orange-6);
  border-radius: 50%;
  background: radial-gradient(rgba(255, 140, 0, 0.2), rgba(255, 140, 0, 0));
  box-shadow: 0 0 10px rgba(255, 140, 0, 0.5);
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.6);
  }
}

.member.coLeader img {
  border: 3px solid var(--color-gray-6);
  border-radius: 50%;
  background: linear-gradient(rgba(128, 128, 128, 0.2), rgba(128, 128, 128, 0));
  box-shadow: 0 0 8px rgba(128, 128, 128, 0.4);
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 0 15px rgba(214, 214, 214, 0.6);
  }
}

.member img {
  border: 4px solid var(--border-gray);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.07);
  }
}

.member {
  flex: 1;
  flex-grow: 0;
  min-width: 120px;
  max-width: 100px;
  margin: var(--spacing-md) var(--spacing-sm);
  line-height: 1.3;
}

.title {
  font-size: var(--font-size-xs);
  color: var(--secondary-font-color);
  text-align: center;
}

.name {
  text-align: center;
}
