@import url('styles/custom-media.css');

div.achievementGroup {
  @media (--mobile-device) {
    flex-wrap: wrap;
  }
}

div.currentContainer {
  width: 60%;
  @media (--mobile-device) {
    width: 100%;
  }
}

.achievementGroup div.allAchievements {
  width: 40%;
  @media (--mobile-device) {
    width: 100%;
    justify-content: flex-start;
  }
}

.achievementGroup div.achievementImageCard {
  padding: var(--spacing-sm);
  cursor: pointer;
  line-height: 0;
}

img.achievement {
  height: 50px;
  width: 50px;
}

img.achievement.current {
  height: 100px;
  width: 100px;
}

div.unachieved {
  color: var(--secondary-font-color);
}

img.unachieved {
  opacity: 0.25;
}
