@import '~app/styles/variables.css';

.header {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px
    rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.5);
  border: 1px solid rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.1);
  border-radius: 3px;
  font-weight: bold;
  font-size: 2em;
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 5s;
}

.red {
  background-color: var(--color-red-3);
  color: var(--color-white);
}

.gray {
  background-color: var(--color-dark-mono-gray-5);
  color: var(--color-white);
}

.white {
  color: var(--color-black);
}

.lightBlue {
  background-color: var(--color-blue-5);
  color: var(--color-white);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-1.5deg);
  }

  10% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(1.5deg);
  }

  20% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }

  5% {
    -webkit-transform: rotate(-1.5deg);
  }

  10% {
    -webkit-transform: rotate(0deg);
  }

  15% {
    -webkit-transform: rotate(1.5deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}
