@import '~app/styles/variables.css';

.header {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px
    rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.5);
  border: 1px solid rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.1);
  border-radius: 3px;
  font-weight: bold;
  font-size: 2em;
}

.red {
  background-color: var(--color-red-3);
  color: var(--color-white);
}

.black {
  background-color: var(--color-dark-mono-gray-5);
  color: var(--color-white);
}

.white {
  color: var(--color-black);
}
