@import url('~app/styles/variables.css');

.link {
  display: block;
  margin: 0 var(--lego-default-padding);

  @media (--mobile-device) {
    margin: 0 1rem;
  }
}

.header {
  text-align: center;
  margin-bottom: var(--lego-default-padding);
  animation-name: wiggle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}

.header > h1 {
  margin: 0;
}

.red {
  background-color: var(--color-red-5);
  color: var(--color-absolute-white);
}

.gray {
  background-color: var(--color-gray-4);
  color: var(--color-white);
}

.white {
  color: var(--color-black);
}

.lightBlue {
  background-color: var(--color-blue-5);
  color: var(--color-white);
}

.itdageneBlue {
  background-color: #0778bc;
  color: var(--color-white);
}

.buddyweek2022 {
  background-color: #dd6e4b;
  color: white;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-1.5deg);
  }

  10% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(1.5deg);
  }

  20% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
