@import url('~app/styles/variables.css');

.root {
  composes: contentContainer from '~app/styles/utilities.css';
  max-width: 500px;
}

.toggleButton {
  color: var(--lego-link-color);
  font-size: var(--font-size-sm);
}

.window {
  width: 600px;

  @media (--mobile-device) {
    width: 100%;
  }
}

.detailTitle {
  margin-bottom: 0;
  width: 100%;
}

& h1 {
  margin-bottom: 0;
}
