@import url('~app/styles/variables.css');

.content {
  padding: 0;
  width: var(--lego-max-width);
  max-height: calc(100vh - 100px);
}

.pictureContainer {
  display: grid;
  justify-content: center;
  min-height: 600px;
}

.pictureDescription {
  margin: 25px 0;
  width: 100%;
}

.galleryThumbnail {
  width: 60px;
  margin-right: 10px;
  height: 60px;
  border-radius: 50%;
}

.dropdown {
  margin-top: 20px;
  padding: 0 1px;
  color: var(--color-black);
}

.dropdownContent {
  z-index: 4;
}

.dropdownLink {
  color: var(--lego-font-color);
}

.form {
  width: 100%;
}
