span.detail + span.detail {
  margin-left: 10px;
}

span.detail + span.detail::before {
  margin-right: 10px;
  content: '•';
}

.largeDetails {
  font-size: 18px;
}

.smallDetails {
  font-size: 14px;
}
