@import 'app/styles/variables.css';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  right: 0;
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  font-size: 18px;
}

.content {
  max-width: none;
  padding: 0;
  background: none;
  overflow: hidden;
  height: calc(100vh - 200px);
  width: calc(100% - 100px);

  @media (max-width: 800px) {
    top: 40px;
    height: calc(100vh - 80px);
    width: calc(100% - 20px);
  }
}

.pictureContainer {
  background: black;
  flex-basis: calc(100% - 400px);
  order: 1;
  height: inherit;

  @media (max-width: 800px) {
    flex-basis: 100%;
    height: calc(60vh - 40px);
  }
}

.container {
  flex-flow: row wrap;
  height: inherit;
}

.picture {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture img {
  margin-bottom: -9px;
}

.contentContainer {
  width: 400px;
  padding: 8px;
  height: inherit;
  background-color: white;
  order: 2;

  @media (max-width: 800px) {
    flex-basis: 100%;
    height: calc(40vh - 40px);
  }
}

.pictureDescription {
  margin: 25px 0;
  width: 100%;
}

.galleryThumbnail {
  width: 60px;
  margin-right: 10px;
  height: 60px;
  border-radius: 50%;
}

.dropdown {
  margin-top: 20px;
  font-size: 27px;
  padding: 0 1px;
}

.form {
  width: 100%;
}
