.detailRow {
  color: var(--secondary-font-color);
}

span.detail + span.detail {
  margin-left: 10px;
}

span.detail + span.detail::before {
  margin-right: 10px;
  content: '•';
}

.smallDetails {
  font-size: var(--font-size-sm);
}
