@import url('~app/styles/variables.css');

.content {
  width: var(--lego-max-width);
  max-height: calc(100vh - 100px);
}

.pictureContainer {
  display: grid;
  justify-content: center;
  min-height: 600px;
}

.pictureDescription {
  text-align: center;
}

.galleryThumbnail {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--spacing-sm);
}

.dropdown {
  margin: var(--spacing-md) var(--spacing-md) 0 0;
}

.dropdownLink {
  color: var(--lego-font-color);
}

.form {
  width: 100%;
}
