@import '~app/styles/variables.css';

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.gallery {
  width: 220px;
}

.headerDetail {
  font-size: 18px;
  font-weight: 100;
  color: var(--color-gray-1);
  margin-right: 15px;
}

.header {
  margin-bottom: 0;
}

.galleryInfo {
  line-height: 1.3;
  margin-bottom: 10px;
}

.galleryTitle {
  font-weight: bold;
}

.galleryDescription {
  font-size: 14px;
}

.descriptionRow {
  padding-bottom: 20px;
}

.galleryActions {
  display: inline-flex;
}

.galleryActions > button {
  margin-left: 10px;
}

.overlay {
  padding: 0.1rem 0.4rem;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.overlay:hover {
  background: linear-gradient(
    var(--color-black),
    rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 30%)
  );
}

.overlaySelected {
  background: linear-gradient(
    var(--color-black),
    rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 30%)
  );
}

.icon {
  font-size: 32px;
  position: absolute;
}

.iconSelected {
  color: green;
}

.createState {
  width: 100%;
  text-align: center;
}

.createStateIcon {
  font-size: 120px;
}

.form {
  width: 100%;
}

.actionsContainer {
  padding: 0 20px;
  height: 66px;
  color: var(--color-white);
  background: var(--lego-red);
  border-radius: 4px;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.actionIcon {
  font-size: 40px;
  vertical-align: middle;
}

.action {
  margin-left: 10px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}

.infoOverlay {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 12px;
}

.buttonRow {
  padding-bottom: 20px;
}

.detailTitle {
  margin-bottom: 0;
  width: 100%;

  & h1 {
    margin-bottom: 0;
  }
}

.selectedElements {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Required for migrating react-collapse v4 -> v5 */
/* stylelint-disable-next-line selector-class-pattern */
:global(.ReactCollapse--collapse) {
  transition: height 500ms;
}
