@import url('~app/styles/variables.css');

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.gallery {
  width: 220px;
}

.galleryInfo {
  line-height: 1.3;
  margin-bottom: 10px;
}

.galleryTitle {
  font-weight: bold;
}

.galleryDescription {
  font-size: var(--font-size-sm);
}

.descriptionRow {
  padding-bottom: 20px;
}

.galleryActions {
  display: inline-flex;
}

.galleryActions > button {
  margin-left: 10px;
}

.overlay {
  padding: 0.1rem 0.4rem;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.overlay:hover,
.overlaySelected {
  background: linear-gradient(
    rgba(255, 0, 0, calc(var(--color-red-hover-alpha) + 35%)),
    rgba(255, 0, 0, var(--color-red-hover-alpha))
  );
}

.icon {
  font-size: 32px;
  position: absolute;
}

.iconSelected {
  color: var(--color-green-6);
}

.createState {
  width: 100%;
  text-align: center;
}

.form {
  width: 100%;
}

.actionsContainer {
  height: 66px;
  margin-bottom: 1rem;
}

.infoOverlay {
  font-size: var(--font-size-sm);
  margin-bottom: 12px;
}

.buttonRow {
  margin-bottom: 20px;
}

.detailTitle {
  margin-bottom: 0;
  width: 100%;

  & h1 {
    margin-bottom: 0;
  }
}

.selectedElements {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Required for migrating react-collapse v4 -> v5 */
/* stylelint-disable-next-line selector-class-pattern */
:global(.ReactCollapse--collapse) {
  transition: height var(--linear-slow);
}
