@import 'app/styles/variables.css';

.root {
  composes: contentContainer from 'app/styles/utilities.css';
}

.gallery {
  width: 220px;
}

.headerDetail {
  font-size: 18px;
  font-weight: 100;
  color: gray;
  margin-right: 15px;
}

.header {
  margin-bottom: 0;
}

.galleryInfo {
  line-height: 1.3;
  margin-bottom: 10px;
}

.galleryTitle {
  font-weight: bold;
}

.galleryDescription {
  font-size: 14px;
}

.descriptionRow {
  padding-bottom: 20px;
}

.galleryActions {
  display: inline-flex;
}

.galleryActions > button {
  margin-left: 10px;
}

.overlay {
  padding: 0 16px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.overlay:hover {
  background: linear-gradient(rgba(199, 69, 89, 1), rgba(255, 255, 255, .3))
}

.overlaySelected {
  background: linear-gradient(rgba(199, 69, 89, 1), rgba(255, 255, 255, .3))
}

.icon {
  font-size: 32px;
}

.iconSelected {
  color: green;
}

.createState {
  width: 100%;
  text-align: center;
}

.createStateIcon {
  font-size: 120px;
}

.form {
  width: 100%;
}

.actions {
  height: 66px;
  background: dimgray;
  padding: 0 20px;
}

.actionsContainer {
  padding-bottom: 10px;
  height: 88px;
  color: white;
}

.deselectIcon {
  font-size: 40px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 20px;
}

.actionIcon {
  font-size: 40px;
  vertical-align: middle;
}

.actionBar {
  padding: 20px 0;
}

.action {
  margin-left: 10px;
  cursor: pointer;
}

.infoOverlay {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 12px;
}

.buttonRow {
  padding-bottom: 20px;
}

.detailTitle {
  margin-bottom: 0;
  width: 100%;

  & h1 {
    margin-bottom: 0;
  }
}
