@import url('~app/styles/variables.css');

.poll {
  background-color: var(--lego-card-color);
  width: 100%;
  min-width: 250px;
  max-width: 500px;
  min-height: 120px;
  margin: 0 auto;
  overflow-y: hidden;
  border-radius: var(--border-radius-lg);
  line-height: 1.3;
}

.topBar {
  width: 100%;
  z-index: 2;
  background-color: var(--lego-red-color);
}

.pollIcon {
  color: var(--color-absolute-white);
  padding: var(--spacing-sm) 0 var(--spacing-lg);
}

.titleLink {
  position: relative;
  display: block;
  width: 80%;
  top: -1.25rem;
  margin-bottom: -2.25rem;
  border-radius: var(--border-radius-lg);
  color: var(--lego-font-color);
  background-color: var(--lego-card-color);
  box-shadow: var(--shadow-md);
  z-index: 3;
}

.title {
  padding: var(--spacing-md);
  font-weight: 500;
  text-align: center;
}

.contentWrapper {
  width: 100%;
}

.optionWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-sm) 0;
  margin-top: var(--spacing-lg);
}

.description {
  width: 90%;
  padding-bottom: var(--spacing-sm);
  color: var(--secondary-font-color);
  text-align: center;
}

/* Options visible & voting */

.voteButton {
  display: flex;
  flex-grow: 1;
  margin: calc(var(--spacing-xs) / 2);
}

/* Options visible & !voting */

.pollTable {
  width: 100%;
  font-size: var(--font-size-sm);
}

.pollTable td {
  border: 0;
  padding: var(--spacing-xs);
}

.pollTable .textColumn {
  border-right: 1.5px solid var(--border-gray);
  text-align: right;
  padding-right: var(--spacing-md);
}

.pollTable .graphColumn {
  width: auto;
  min-width: 200px;
  padding-left: var(--spacing-md);
}

.pollGraph {
  animation: graph var(--easing-fast);
  background-color: var(--lego-red-color);
  padding: var(--spacing-xs);
  border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
  color: var(--color-absolute-white);
  height: 30px;
}

.fullGraph {
  background-color: var(--additive-background);
}

@keyframes graph {
  from {
    width: 1px;
  }

  to {
    width: 100%;
  }
}

.ratioOutsideBar {
  margin: var(--spacing-xs);
}

.totalVotes {
  font-weight: 500;
}

.success {
  color: var(--success-color);
}

.registrationCount {
  margin-bottom: var(--spacing-sm);
}

.bottomBar {
  position: relative;
  background-color: var(--lego-red-color);
  width: 100%;
  padding: 6.25rem 0 var(--spacing-md);
  top: -4.75rem;
  margin-bottom: -5.25rem;
  transition:
    padding-top var(--linear-slow),
    margin-bottom var(--linear-slow),
    top var(--linear-slow);
  z-index: 1;
}

.bottomBar.expanded {
  top: 0;
  padding-top: var(--spacing-md);
  margin-bottom: 0;
}

.arrowIcon {
  color: var(--color-absolute-white);
}
