.carousel
  position relative

  img
    width 100%

  .carousel-text
    position absolute
    color #fff
    height 50%
    overflow auto
    left 30px
    right 0
    top 0
    bottom 0
    margin auto

    h3
      margin 0
      color #fff


