.feed-container
  width 80%

.sidebar
  position absolute
  right 0
  top 0
  bottom 0
  background #edf1f2 repeat
  width 20%
  padding 20px

  h2
    font-size 16px
    text-transform uppercase
    margin 0
    color #777
    text-align left
    margin-left 20px

  .sidebar-block-content
    padding 20px
    margin-bottom 10px

    img
      width 150px
      margin 0 auto
      display block

  ul li a
    display block

  .fa-star
    color #EDC943
    margin-right 10px
