.feed-container
  overflow hidden
  padding-right 20px


.sidebar
  display block
  float right
  width 300px
  margin-top 20px

  h2
    font-size 16px
    text-transform uppercase
    margin 0
    color #777
    text-align left
    margin-left 20px

  .sidebar-block-content
    background #fff
    padding 20px
    margin-bottom 10px

    img
      width 150px
      margin 0 auto
      display block

  ul li a
    display block

  .fa-star
    color #EDC943
    margin-right 10px
