.event-open-for
  span
    display inline-block
    background #ccc
    padding 2px 10px
    border-radius 10px
    font-weight 700
    color #777
    font-size 14px
    text-transform uppercase
    margin-right 5px

    &:last-child
      margin-right 0

.event-page
  h3
    margin-top 20px
    font-size 20px
