.feed
  li
    padding 5px 0


    &.notification-item
      background rgba(255, 255, 255, .9)
      border-right 4px solid #ccc
      padding-left 10px
      margin 5px 0

.feed-container h2
  color #ccc
  text-transform uppercase
  font-size 18px
  margin 20px 0
  text-align center

  &:after, &:before
    content '~'


h3
  font-size 24px
  font-weight 700
  margin 10px 0
  color #222

.feed-event-box
  background #fff
  display table
  margin-bottom 10px
  color #444
  border-right 4px solid #ddd

  &.party
    border-color $partyevent

  &.course
    border-color $courseevent

  &.company-presentation
    border-color $companypresentationevent

  &.other
    border-color $otherevent

  &.regular
    border-color $regularevent


.feed-event-image
  display table-cell
  width 100px
  border-collapse collapse
  vertical-align middle

  img
    width 130px

.feed-event-description
  display table-cell
  padding 10px 20px
  font-size 14px

  h3
    font-size 18px
    margin 0

  button, .button
    cursor pointer
    background linear-gradient(#eee, #ddd)
    color #333
    border 0
    border-radius 4px
    font-size 14px
    font-weight 700
    padding 8px 14px
    box-shadow 0 0 1px #999
    outline none

    &:hover
      box-shadow 0 0 1px #333
      background linear-gradient(#eee, #ccc)


  &:first-letter
    text-transform capitalize

.event-time-location
  color #888
  margin-top 6px


.event-grid
  clearfix()
  h3
    font-size 16px
    margin 0

  .feed-event-box
    float left
    padding 20px
    display block
    width 50%
    background transparent
    border-right 0
    height 300px

    &:nth-child(even)
      float right
