.feed
  li
    padding 5px 0

    &.notification-item
      background rgba(255, 255, 255, .9)
      border-right 4px solid #ccc
      padding-left 10px
      margin 5px 0

.feed-container h2
  color #ccc
  text-transform uppercase
  font-size 1 8px
  margin 20px 0
  text-align center

  &:after, &:before
    content '~'

h3
  font-size 24px
  font-weight 700
  margin 10px 0
  color #222

.feed-events
  margin 20px
  column-count 2

.feed-event-box
  display inline-block
  margin 20px
  background #fff
  margin-bottom 10px
  color #444

.feed-event-image
  position relative

  .event-banner
    border-radius 6px 6px 0 0
    width 100%

  .event-avatar
    position absolute
    width 70px
    height 70px
    bottom -35px
    border-radius 35px
    border 3px solid white
    left 35px

  h3
    position absolute
    font-size 18px
    margin 0 auto
    color #fff
    bottom 0
    left 0
    right 0
    width 50%
    text-align center
    border-radius 6px 6px 0 0
    background rgba(35, 35, 35, 0.25)

.feed-event-description
  color #67737a
  position relative
  padding 10px 20px
  font-size 14px
  border-radius 0 0 6px 6px
  border 2px solid $lightblue
  border-top-width 0

  .event-bottom
    position absolute
    bottom 0
    left 0
    width 100%
    height 30px
    background-color $lightblue
    text-align center

    .event-time
      vertical-align center
      font-size 16px
      color #67737a

  .event-description-text
    margin-top 30px
    margin-bottom 40px

  .event-time-location
    position absolute
    color #888
    margin 0 auto
    left 0
    top 0
    right 0
    bottom 0
    text-align center

    .event-location
      margin-left 10px

  &:first-letter
    text-transform capitalize



.event-grid
  clearfix()
  h3
    font-size 16px
    margin 0

  .feed-event-box
    float left
    padding 20px
    display block
    width 50%
    background transparent
    border-right 0
    height 300px

    &:nth-child(even)
      float right
