header
  background #222
  height 80px
  line-height @height
  color #eee
  padding 0 20px

  ul
    display table
    table-layout fixed
    width 100%

  .logo
    width 160px
    a
      display inline-block
      background url('images/logo.png') 20px center no-repeat
      background-size 100px 20px
      color transparent
      width 100%

  .partner-logo
    width 180px

    a
      display inline-block
      width 100%
      background url('http://open.bekk.no/Content/Images/BEKK_logo.svgz') center center no-repeat
      color transparent

  li
    display table-cell
    line-height 80px

  .search-box
    width 400px

@import 'search'

.gravatar
  width 32px
  height @width
  border-radius (@width/2)
  display inline
  vertical-align middle
  margin-right 10px
