nav
  height 50px
  line-height @height
  background #ddd

  ul
    display flex
    flex-direction row

  li
    flex 1

    a
      display block
      text-transform uppercase
      font-weight 700
      text-align center

      &:hover, &.active
        background $backgroundcolor
        
    &.expand-menu
      margin-left auto
      flex 0 1 60px
      
      a
        color #333
        
        &.active
          background #333
          color #fff
        
        i
          line-height 50px
          

.overlay-menu
  background #333
  color #fff
  display none
  padding 20px
  position absolute
  right 0
  left 0
  
  &.open
    display block
        

@media all and (max-width: 500px)
  nav
    height auto
    line-height 2

    ul
      flex-direction column
      
    .expand-menu
      display none
