nav
  width 100%
  height 85px
  background #2c353a

  ul
    display table
    table-layout fixed
    width 100%

  li
    display table-cell
    float left
    height @height

    a
      display table-cell
      vertical-align middle
      text-align center
      color #848e92
      padding 15px 30px
      font-weight 700

      span
        display block

      &:hover, &.active
        color #fff
        text-decoration none
        background #222b2f
