nav
  height 50px
  line-height @height
  background #ddd

  ul
    display flex
    flex-direction row

  li
    flex 1

    a
      display block
      text-transform uppercase
      font-weight 700
      text-align center

      &:hover, &.active
        background $backgroundcolor
        
    &.expand-menu
      margin-left auto
      flex 0 1 60px
      
      a
        color #333
        
        &.active
          background rgba(0,0,0,.9)
          color #fff
        
        i
          line-height 50px
          

.overlay-menu
  background rgba(0,0,0,.9)
  color #fff
  display none
  padding 20px
  position absolute
  right 0
  left 0
  
  &.open
    display flex
    flex-wrap wrap
    
  a
    display block
    flex 0 0 25%
    color #ffff
    text-decoration none
    font-weight 700
    padding 10px
    text-align center
    transition background .2s
    
    &:hover
      background #333

@media all and (max-width: 500px)
  nav
    height auto
    line-height 2

    ul
      flex-direction column
      
    .expand-menu
      display none
