@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700')
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700')

global-reset()

$headerheight = 50px
$maxwidth = 960px
$backgroundcolor = #F5F5F4

@import 'animate.css'

*
  box-sizing border-box
  font-smoothing antialiased

a
  text-decoration none
  color #c0392b
  cursor pointer

  &:hover
    text-decoration underline

img
  max-width 100%
  max-height 100%

body
  font-size 16px
  line-height 1.8
  font-family 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif
  margin 0 auto
  color #444
  background $backgroundcolor
  position relative

.content
  max-width $maxwidth
  margin 0 auto

@import 'layout'
@import 'header'
@import 'navigation'
@import 'login'
@import 'dashboard'
@import 'events'
@import 'overview'
@import 'loading'
@import 'event'


h1
  font-size 2.2em
  font-weight 700

h2
  font-size 1.6em
  font-weight 700
  margin 20px 0

blockquote
  border-left 4px solid #ddd
  padding 10px 20px

footer
  padding 20px
  text-align center
  color #777

input, select, textarea, button
  display block
  border 0
  padding 10px
  font-size 16px

button
  cursor pointer
