@import '~app/styles/variables.css';

.notificationDropdownEl {
  width: 22rem;

  @media (--small-viewport) {
    width: 100%;
  }
}

.notifications {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--small-viewport) {
    &::before,
    &::after {
      display: none;
    }
  }
}

html[data-theme='dark'] .notifications {
  background-color: var(--lego-card-color);
}

.notification {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  padding: 15px;
  color: var(--lego-font-color);
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 4%);
  }

  &:active {
    background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.1);
  }
}

.innerNotification {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 15px;
  word-break: break-word;
  white-space: pre-line;
}

.unRead {
  background-color: rgba(255, 143, 131, 29%);
}

.icon {
  padding-right: 15px;
}

html[data-theme='dark'] .notificationBell {
  color: var(--color-light-gray-5);
  transition: color 0.1s;

  &:hover {
    color: var(--color-gray-5);
  }
}

.dropdownSection {
  padding: 28px;
  position: relative;
  z-index: 1;
  font-size: 1.1em;
}
