@import url('styles/custom-media.css');

.quoteTitle {
  color: var(--lego-font-color) !important;
}

.quoteDate {
  color: var(--secondary-font-color);
  font-size: var(--font-size-sm);
  flex-shrink: 0;
  margin-left: var(--spacing-xs);
}

.smallViewportOnly {
  display: none;
}

.largeViewportOnly {
  display: block;
}

.bottomBar {
  margin-top: var(--spacing-lg);
}

@media (--small-viewport) {
  .quoteDate {
    display: none;
  }

  .smallViewportOnly {
    display: block;
    margin-top: var(--spacing-xs);
  }

  .largeViewportOnly {
    display: none;
  }
}
