.metricHeader {
  color: var(--secondary-font-color);
  font-weight: 500;
}

.metricNumber {
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-variant-numeric: tabular-nums;
}

.datePickerLabel {
  font-size: var(--font-size-lg);
  margin-bottom: var(--spacing-sm);
}
