@import url('~app/styles/variables.css');

.link {
  color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 90%);
}

.body {
  text-align: center;
}

.image {
  object-fit: cover;
  width: 100%;
  height: auto;
  background: white;
}

.articleTitle {
  margin: 0 5px;
  line-height: 1.1;
  font-size: var(--font-size-lg);
  word-break: break-word;
}

.articleMeta {
  margin: 0 5px;
  font-weight: bold;
}

.infoWrapper {
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articleDescription {
  padding: 0 10px 10px;
}
