@import url('~app/styles/variables.css');

.link {
  color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 90%);
}

.body {
  text-align: center;
  line-height: 1.3;
  min-height: 140px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: auto;
  background: white;
}

.articleTitle {
  margin: 0 5px;
  font-size: var(--font-size-lg);
  word-break: break-word;
}

.articleMeta {
  margin: 0 5px;
  margin-bottom: 8px;
}

.infoWrapper {
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articleDescription {
  color: var(--secondary-font-color);
}
