@import '~app/styles/variables.css';

.link {
  color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 90%);
  flex: 1;
}

.wrapper {
  flex: 1;
  min-width: 300px;
  overflow: hidden;
  border-radius: 5px;
}

.bottomWrapper {
  background: var(--lego-background-color-middle);
  height: 100%;
  padding: 10px;
}

.title {
  color: var(--lego-font-color);
  font-weight: 800;
}

.tags {
  margin: 0;
  margin-left: 1px;
  padding: 0;
  padding-left: 10px;
  border-left: 1px solid var(--lego-font-color);
}
