.carousel {
  background: var(--lego-color-gray-light);
  width: 100%;
  display: flex;
}

.left {
  flex: 1;
  background: var(--lego-color-gray-light);
}

.right {
  flex: 2;
  background: var(--color-mono-gray-4);
}
