@import url('~app/styles/variables.css');

.compactEvents {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

.compactLeft {
  padding-right: 20px;
}

.compactLeft,
.compactRight {
  flex: 1;

  @media (--mobile-device) {
    padding: 0 10px 10px;
  }
}

.compactEvents li {
  display: flex;
  align-items: center;
}

.compactEvents a {
  color: var(--lego-font-color);
}

.compactEvents li > a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 0;
  flex-grow: 1;
  padding-right: 10px;
}

.compactEvents a:hover {
  color: var(--lego-link-color);
}

.showMoreLink {
  margin: 0 auto;
  font-size: var(--font-size-md);
}
