@import '~app/styles/variables.css';

.compactEvents {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

.compactEvents h3 {
  margin-bottom: 10px;
  padding: 0;
  font-weight: bolder;
}

.compactLeft {
  padding-right: 20px;
}

.compactMiddle {
  padding-right: 20px;
}

.compactLeft,
.compactMiddle,
.compactRight {
  flex: 1;
  padding-top: 5px;
  padding-bottom: 5px;

  @media (--mobile-device) {
    padding: 0 10px 10px;
  }
}

.compactEvents li {
  display: flex;
  align-items: center;
}

.compactEvents a {
  color: var(--lego-font-color);
}

.compactEvents h3:hover {
  transition: color 0.3s;
  color: var(--color-black);
}

.compactEvents li > a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 0;
  flex-grow: 1;
  padding-right: 10px;
}

.compactEvents a:hover {
  color: var(--lego-link-color);
}

.showMoreLink {
  margin: 0 auto;
  font-size: 16px;
}

.desktop {
  display: inherit;

  @media (--mobile-device) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (--mobile-device) {
    display: inherit;
  }
}
