@import 'app/styles/variables.css';

.link {
  color: rgba(0, 0, 0, 0.9);
  width: 100%;
}

.body {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  padding-bottom: 100px;
  width: 100%;
}

.image {
  object-fit: cover;
  background: white;
  border-radius: 5px 5px 0 0;
  height: 80px;
  width: 272px;

  @media (--mobile-device) {
    width: 100%;
    height: auto;
  }
}

.heading {
  composes: withShadow from 'app/styles/utilities.css';
  text-align: center;
  padding: 20px;
  height: 100%;
  flex: 1;
  border-radius: 0 0 5px 5px;
  background: rgba(245, 244, 244, 1);
}

.wrapper {
  width: 100%;
}

.attending {
  composes: withShadow from 'app/styles/utilities.css';
  background: rgba(245, 244, 244, 1);
  font-size: 1rem;
  font-weight: 600;
  width: 272px;
  color: rgba(0, 0, 0, 0.8);
}

.status {
  text-align: center;
}

.itemTitle {
  margin: 0;
  height: 40px;
  line-height: 1.1;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  word-break: normal;
}

.itemTitle > a {
  color: rgba(0, 0, 0, 0.9);
}

