@import '~app/styles/variables.css';

.link {
  color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 90%);
  width: 100%;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.image {
  object-fit: cover;
  background: var(--color-white);
  height: 80px;
  width: 390px;

  @media (--mobile-device) {
    height: auto;
    width: 100%;
  }
}

.imageFrontpage {
  object-fit: cover;
  background: var(--color-white);
  height: 80px;
  width: 270px;

  @media (--mobile-device) {
    height: auto;
    width: 100%;
  }
}

.right {
  composes: withShadow from '~app/styles/utilities.css';
  text-align: center;
  padding: 20px;
  height: 100%;
  flex: 1;
  border-radius: 0 0 5px;
  background: var(--lego-card-color);

  @media (--mobile-device) {
    background: var(--color-white);
    border: none;
  }
}

.wrapper {
  display: flex;
  width: 100%;

  @media (--mobile-device) {
    flex-direction: column;
  }
}

.left {
  composes: withShadow from '~app/styles/utilities.css';
  background: var(--lego-card-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  width: 390px;
  border-radius: 0 0 5px 5px;
  color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 80%);

  @media (--mobile-device) {
    width: 100%;
    border: none;
  }
}

.leftFrontpage {
  composes: withShadow from '~app/styles/utilities.css';
  background: var(--lego-card-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  width: 272px;
  border-radius: 0 0 5px 5px;
  color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 80%);

  @media (--mobile-device) {
    width: 100%;
    border: none;
  }
}

.info {
  background: var(--color-white);
  text-align: center;
  border-radius: 0 0 0 5px;
  color: var(--lego-font-color);
  padding: 3px 6px;

  @media (--mobile-device) {
    display: none;
  }
}

.itemTitle {
  margin: 0;
  height: 40px;
  line-height: 1.1;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  word-break: break-word;
  overflow: hidden;

  @media (--mobile-device) {
    height: auto;
  }
}

.itemTitle > a {
  color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 90%);
}
