.eventSidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px 50px;
  text-align: center;
}

.eventSidebar > h2 {
  margin: 0;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.events > h3 {
  margin: 0;
  font-size: 1.2em;
  color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.85);
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.itemTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 0;
  margin-left: 12px;
}

.later .itemTitle {
  font-size: 1rem;
}

.moreInfo {
  font-size: 0.9rem;
  font-weight: 600;
}
