@import '~app/styles/variables.css';

.root {
  padding: 0 10px 10px;
  flex: 1;
  min-width: 20em;
  whitespace: no-wrap;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.content {
  border: 1px solid rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.09);
  box-shadow: 0 1px 4px
    rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.04);
  border-radius: 3px;
  overflow-y: auto;
  height: 459px;
  flex: 1;
  background: var(--lego-card-color);

  @media (--mobile-device) {
    height: auto;
    max-height: 495px;
  }
}

@-moz-document url-prefix() {
  .content {
    height: 490px;
    flex: none;
  }
}

.icon {
  margin-right: 15px;
}

.item {
  border-bottom: 1px solid var(--lego-color-gray-light);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--lego-font-color);

  &:hover {
    background-color: rgba(
      var(--rgb-min),
      var(--rgb-min),
      var(--rgba-min),
      0.02
    );
  }

  &:active {
    border: 2px solid var(--color-light-gray-1);
  }

  &:first-child {
    padding-top: 20px;
  }
}

.noActivities,
.noActivities p {
  font-weight: bold;
  padding-top: 20px;
}

.wordBreak span {
  word-break: break-word;
}
