.root {
  padding: 0 10px 10px;
  flex: 1;
  min-width: 20em;
  whitespace: no-wrap;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.content {
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 20px;
  height: -webkit-fill-available;
  overflow-y: auto;
  background: #fff;
}

.heading {
  margin: 0;
  padding: 0 20px;
}

.icon {
  margin-right: 15px;
}

.item {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
