@import url('~app/styles/variables.css');

.latestReadme {
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: height var(--easing-medium);
}

.heading {
  font-size: 27px;
  width: 100%;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.thumb {
  width: 150px;
  transition: transform var(--easing-fast);
  display: block;
  object-fit: contain;

  @media (--mobile-device) {
    width: 48%;
    height: auto;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.expand {
  transition: transform var(--easing-medium);
}

.rotate {
  transform: rotate(90deg);
}
