.latestReadme {
  flex: 1;
  background: #555;
  color: #fff;
  border-radius: 3px;
  padding: 10px 20px;
}

.heading {
  font-size: 22px;
  color: #fff;
}

.thumb {
  width: 150px;
  height: 200px;
  transition: transform 0.2s;
  display: block;

  &:hover {
    transform: scale(1.1);
  }
}
