@import url('~app/styles/variables.css');

.latestReadme {
  flex: 1;
}

.heading {
  font-size: 27px;
  width: 100%;
  color: var(--lego-font-color);
}

.thumb {
  height: 200px;
  transition: transform var(--easing-medium);
  display: block;
  object-fit: contain;

  @media (--mobile-device) {
    width: 48%;
    height: auto;
  }

  &:hover {
    transform: scale(1.05);
  }
}
