@import url('~app/styles/variables.css');

.leftColumn {
  flex: 13;
  margin-right: 10px;
  padding: 0 20px;
}

.rightColumn {
  flex: 7;
}

.readMe {
  padding: 28px 0 0;
}

.itemInfo {
  color: var(--secondary-font-color);
}

.type {
  margin-right: 4px;
}

.tagline {
  display: inline-block;
  white-space: nowrap;
  transform: translateY(-7.5%);
  vertical-align: middle;
  overflow: hidden;
}

.otherItems {
  display: flex;
  padding: 0 10px;

  @media (--mobile-device) {
    flex-direction: column;
  }
}

.events {
  @media (--mobile-device) {
    margin-right: 0;
  }
}

.smallReadme {
  width: 150px;
}

.showMore {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
}

.desktopContainer {
  display: flex;

  @media (--mobile-device) {
    display: none;
  }
}

.mobileContainer {
  display: none;

  @media (--mobile-device) {
    display: grid;
  }
}
