@import 'app/styles/variables.css';

.item {
  text-align: justify;
  padding: 0 10px 60px;
  transition: opacity 0.2s;
  width: 530px;

  @media (--mobile-device) {
    width: 100%;
  }
}

.image {
  width: 510px;
  height: 150px;
  object-fit: cover;
  background: white;
  border-radius: 5px 5px 0 0;

  @media (--mobile-device) {
    width: 100%;
    height: auto;
  }
}

.heading {
  composes: withShadow from 'app/styles/utilities.css';
  text-align: center;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  background: rgba(245, 244, 244, 1);
}

.itemTitle {
  margin: 0;
  height: 40px;
  line-height: 1.1;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  word-break: normal;
}

.itemTitle > a {
  color: rgba(0, 0, 0, 0.9);
}

