@import '~app/styles/variables.css';

.tagline {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  height: 28px;
  width: 340px;
  margin: 0;
}

.tag {
  background-color: var(--color-mono-gray-4) !important;
}

.dot {
  margin: 0 5px;
  font-weight: 1000;
}

.header {
  padding: 0 0 0 10px;
  flex: 1;
  width: 100%;
  color: var(--color-dark-mono-gray-2);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;

  @media (--mobile-device) {
    padding: 0;
    margin-left: 10px;
  }
}

.topRow {
}

.midRow {
  position: relative;
  width: 100%;
}

.bottomRow {
  margin-top: 100px;
  margin-bottom: 15px;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardWrapper {
  width: 40%;
  align-items: center;
  margin: 20px 0px;
  @media (--mobile-device) {
    width: 100%;
  }
}

.pollWrapper {
  position: relative;
  overflow-y: visible;
}

.pollWrapper > * {
  position: absolute !important;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 25%);

  @media (--mobile-device) {
    position: relative !important;
  }
}

.readMe {
  padding: 28px 0 0;
}

.itemInfo {
  transition: color 0.2s;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.8);
}

.item:hover .itemInfo {
  color: black;
}

.otherItems {
  display: flex;
  padding: 0 10px;

  @media (--mobile-device) {
    flex-direction: column;
  }
}

.events {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;

  @media (--mobile-device) {
    margin-right: 0;
  }
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.boardWrapper {
  width: 100%;
}

.boardBackground {
  position: absolute;
  top: 0;
  right: 50%;
  margin: -20px 0;
  transform: translateX(50%);
  width: 100vw;
  height: 670px;
  z-index: -1;
  background-color: var(--color-mono-gray-4);
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 25%) inset;
}

.pinnedColumn {
  flex: 2;
  /* background-color: red; */
  margin-right: 10px;
}

.articlesColumn {
  flex: 1;
  justify-content: stretch;
  /* background-color: green; */
}

.pinnedColumn > *:not(:last-child),
.articlesColumn > *:not(:last-child) {
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 25%);
}

.pinned {
  flex: 1;
}

.weeklyArticles {
  border: 1px solid rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.09);
  box-shadow: 0 1px 4px
    rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.04);
  border-radius: 3px;
  background: var(--lego-card-color);

  @media (--mobile-device) {
    height: auto;
    max-height: 495px;
  }
}

.quote {
  position: relative;
  composes: withShadow from '~app/styles/utilities.css';
  background: var(--color-white);
  min-width: 350px;
  border-radius: 20px;
  padding: 15px 20px 8px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 25%));
}

@media only screen and (max-width: 855px) {
  .weeklyArticles {
    height: auto;
    max-height: 659px;
  }
}

@-moz-document url-prefix() {
  .content {
    height: 490px;
    flex: none;
  }
}

.showMore {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.desktopContainer {
  display: flex;

  @media (--mobile-device) {
    display: none;
  }
}

.mobileContainer {
  display: none;

  @media (--mobile-device) {
    display: flex;
  }
}
