.item {
  text-align: justify;
  flex: 1 0 33.3333%;
  min-width: 320px;
  padding: 10px;
  transition: opacity 0.2s;
}

.inner {
  composes: withShadow from 'app/styles/utilities.css';
  flex: 1;
}

.item:hover {
  opacity: 0.9;
}

.primaryItem {
  padding: 10px;
  flex: 1;
  width: 100%;
}

.innerPrimaryItem {
  composes: withShadow from 'app/styles/utilities.css';
}

.item:hover .itemInfo {
  color: black;
}

.pinnedHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(242, 241, 237, 0.8);
  padding: 20px;
  font-size: 30px;
  align-items: center;
}

.heading {
  text-align: center;
  background: rgba(242, 241, 237, 0.8);
  padding: 20px;
}

.image {
  border-radius: 3px 3px 0 0;
  object-fit: cover;
}

.itemTitle {
  margin: 0;
  line-height: 1.1;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  word-break: break-all;
}

.itemTitle > a {
  color: rgba(0, 0, 0, 0.9);
}

.itemInfo {
  transition: color 0.2s;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.itemDescription {
  margin: 0;
  font-family: 'skolar-latin';
  font-size: 1.1rem;
  -webkit-font-smoothing: initial;
  word-break: break-all;
  background: rgba(242, 241, 237, 0.3);
  padding: 20px;
  flex: 1;
}

.normal .itemDescription {
  font-size: 1rem;
}
