@import url('~app/styles/variables.css');

.leftColumn {
  flex: 13;
  margin-right: 10px;
  padding: 0 20px;
}

.rightColumn {
  flex: 7;
}

.readMe {
  padding: 28px 0 0;
}

.dot {
  margin: 0 6px;
}

.type {
  margin-right: 6px;
}

.tagline {
  margin: 0;
  display: inline-flex;
}

.otherItems {
  display: flex;
  padding: 0 10px;

  @media (--mobile-device) {
    flex-direction: column;
  }
}

.events {
  @media (--mobile-device) {
    margin-right: 0;
  }
}

.showMore {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.desktopContainer {
  display: flex;

  @media (--mobile-device) {
    display: none;
  }
}

.mobileContainer {
  display: none;

  @media (--mobile-device) {
    display: grid;
  }
}
