@import '~app/styles/variables.css';

.tagline {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  overflow: hidden;
  width: 340px;
  height: 28px;
  margin-left: 7px;

  @media (--mobile-device) {
    display: none;
  }
}

.tag {
  background-color: var(--color-mono-gray-4) !important;
}

.dot {
  margin: 0 5px;
  font-weight: 1000;
}

.bar {
  border-left: 1px solid var(--color-white);
  margin: 10px;
}

.header {
  flex: 1;
  color: var(--color-dark-mono-gray-2);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
  padding: 0 0 0 10px;

  @media (--mobile-device) {
    padding: 0;
    margin-left: 10px;
  }
}

.item:hover .itemInfo {
  color: black;
}

/* .topRow {
} */

.midRow {
  position: relative;
  width: 100%;
  height: 650px;
  margin-top: 10px;
}

.bottomRow {
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 15px;
}

.compactEvents {
  margin-bottom: 30px;
}

.cardWrapper {
  align-items: center;
  width: 40%;
  margin: 40px 0;

  &:first-child {
    margin: 20px 0;
  }

  &:nth-child(2) {
    margin: 20px 0;
  }

  @media (--mobile-device) {
    width: 100%;
  }
}

.otherItems {
  display: flex;
  padding: 0 10px;

  @media (--mobile-device) {
    flex-direction: column;
  }
}

.boardWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
}

.boardBackground {
  composes: midRow;
  position: absolute;
  top: 0;
  right: 50%;
  width: 100vw;
  margin: 0;
  z-index: -1;
  transform: translateX(50%);
  background-color: var(--color-mono-gray-4);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 13%) inset,
    0 -7px 7px rgba(0, 0, 0, 13%) inset;
}

html[data-theme='dark'] .boardBackground {
  background-color: var(--lego-placard-color);
}

.pinnedColumn {
  flex: 2;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.articlesColumn {
  flex: 1;
}

.articlesColumn,
.pinnedColumn {
  gap: 10px;
}

.pinned {
  flex: 1;
  width: 100%;
  min-height: 271px;

  @media (--mobile-device) {
    margin: 10px 0;
    min-height: 0;
  }
}

.pinnedColumn > * {
  align-items: flex-start;
}

.articles,
.pinnedComponentsWrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  & > * {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 20%);
  }
}

.articles {
  @media (--mobile-device) {
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
  }
}

.boardColumnTitle {
  color: var(--lego-font-color);
  background: var(--lego-background-color-middle);
  font-weight: bolder;
  min-height: auto;
  padding: 5px 10px;
  overflow: hidden;
  border-radius: 5px;
}

.boardColumnTitle a {
  color: var(--lego-font-color);

  &:hover {
    transition: color, 0.3s;
    color: var(--color-black);
  }
}

.pollWrapper {
  position: relative;
  overflow-y: visible;
}

.pollWrapper > * {
  position: absolute;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 25%);

  @media (--mobile-device) {
    position: relative;
  }
}

/* Selecting div only when loadingIndicator is not active */
.cardWrapper > div:not([class]) {
  display: flex;
  justify-content: center;
  width: 100%;
}

.quote {
  flex: 1;
  background: var(--color-white);
  position: relative;
  min-height: 170px;
  min-width: 350px;
  max-width: 500px;
  padding: 15px 20px 8px;
  border-radius: 20px;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 25%));
}

html[data-theme='dark'] .quote {
  background-color: var(--lego-placard-color);
}

.desktopContainer {
  display: flex;

  @media (--mobile-device) {
    display: none;
  }
}

.mobileContainer {
  display: none;

  @media (--mobile-device) {
    display: flex;
  }
}
