.frontpage {
  composes: container from '../../../Root.css';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.headline,
.normal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rest {
  flex-direction: column;
}

.item {
  text-align: justify;
  padding: 20px;
}

.headline > .item {
  width: 50%;
}

.normal > .item {
  width: auto;
  flex: 0 0 33.3333%;
}

.item:hover .itemInfo {
  color: black;
}

.imageLink {
  display: block;
  background: #eee;
  margin-bottom: 15px;
}

.heading {
  border-bottom: 2px solid #ddd;
  text-align: center;
}

.itemTitle {
  margin: 0;
  padding-top: 10px;
  line-height: 1.1;
  font-size: 1.4rem;
  text-transform: uppercase;
  word-break: break-all;
}

.normal .itemTitle {
  font-size: 1.2rem;
}

.itemTitle > a {
  color: rgba(0, 0, 0, 0.9);
}

.itemInfo {
  transition: color 0.2s;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.itemDescription {
  padding-top: 10px;
  margin: 0;
  font-family: 'skolar-latin';
  font-size: 1.1rem;
  -webkit-font-smoothing: initial;
}

.normal .itemDescription {
  font-size: 1rem;
}
