@import 'app/styles/variables.css';

.tagline {
  display: inline-block;
  margin: 0;
}

.tag {
  background-color: #dadada !important;
}

.dot {
  margin: 0 5px;
  font-weight: 1000;
}

.header {
  padding: 0 0 0 10px;
  flex: 1;
  width: 100%;
  color: #666;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;

  @media (--mobile-device) {
    padding: 0;
    margin-left: 10px;
  }
}

.item:hover .itemInfo {
  color: black;
}

.itemInfo {
  transition: color 0.2s;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.otherItems {
  display: flex;
  padding: 0 10px;

  @media (--mobile-device) {
    flex-direction: column;
  }
}

.events {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 20px;
  flex-wrap: wrap;

  @media (--mobile-device) {
    margin-right: 0;
  }
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.weeklyArticles {
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  overflow-y: auto;
  height: 489px;
  background: var(--lego-card-color);

  @media (--mobile-device) {
    height: auto;
    max-height: 495px;
  }
}

@media only screen and (max-width: 855px) {
  .weeklyArticles {
    height: auto;
    max-height: 659px;
  }
}

@-moz-document url-prefix() {
  .content {
    height: 490px;
    flex: none;
  }
}

.showMore {
  display: flex;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}
