@import '~app/styles/variables.css';

.wrapper {
  position: relative;
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
}

.titleAndTags {
  background-image: linear-gradient(rgba(0, 0, 0, 0%), #000);
  width: 100%;
  position: absolute;
  padding: 3px;
  bottom: 0px;
  left: 0px;
}

.title {
  color: var(--color-white);
  font-weight: 800;
  line-height: 1.4;
}

.tags {
  margin: 0;
  padding: 0;
  margin-left: 1px;
  padding-left: 10px;
  border-left: 1px solid #fff;
}

.tags * {
  color: var(--color-white);
}
