.profile {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  border-radius: 999em;
  width: 40px;
  height: 40px;
}

.user {
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  padding-left: 10px;
}

.dropdownList {
  text-align: right;
}

.dropdownList i {
  margin-left: 15px;
}

.dropdownList a {
  color: #333;
  font-size: 1.1rem;
  font-weight: 500;
}

.dropdownlist a:hover {
  color: #111;
}

.loginForm input {
  margin: 5px 0;
  background: #fff;
  border: 0;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: #333;
}

.loginForm input:focus {
  background: #ffedba;
  outline: none;
}

.loginForm button {
  margin-top: 10px;
  border-radius: 3px;
}
