@import url('~app/styles/variables.css');

.container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1.3fr;
  grid-auto-rows: auto;
  grid-template-areas: 'welcome welcome login' 'events events hsp' 'article article readme' 'links links facebook';

  @media (--mobile-device) {
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: 'welcome' 'login' 'events' 'hsp' 'article' 'readme' 'links' 'facebook';
  }
}

.rootCardStyle {
  composes: withShadow from '~app/styles/utilities.css';
  background: var(--lego-card-color);
  padding: 30px;

  @media (--mobile-device) {
    padding: 15px;
  }
}

.welcome {
  composes: rootCardStyle;
  grid-area: welcome;
}

.login {
  composes: rootCardStyle;
  grid-area: login;
}

.toggleButton {
  color: var(--lego-link-color);
  font-size: 14px;
}

.events {
  composes: rootCardStyle;
  grid-area: events;
}

.hsp {
  composes: rootCardStyle;
  grid-area: hsp;
  text-align: center;
}

.hspImage {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}

.article {
  composes: rootCardStyle;
  grid-area: article;
}

.readme {
  composes: rootCardStyle;
  grid-area: readme;
}

.links {
  composes: rootCardStyle;
  grid-area: links;
}

.facebook {
  composes: rootCardStyle;
  grid-area: facebook;
}

.facebookIframeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.facebookIframe {
  border: none;
  overflow: hidden;
  height: 500px;
  width: 340px;
}

.articleTitle {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.usefulLinks {
  composes: rootCardStyle;
  flex: 1.8;
  margin-right: 30px;
}

.usefulLinks a {
  font-size: 20px;
}

.usefulLinks li {
  margin-bottom: 15px;
}

.linkDescription {
  margin-left: 30px;
}
