@import 'app/styles/variables.css';

.root {
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 75px;

  @media (--mobile-device) {
    padding-bottom: 25px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sponsor {
  width: 90px;
}

.toggleButton {
  color: var(--lego-link-color);
  font-size: 14px;
}

.welcomeBox {
  composes: withShadow from 'app/styles/utilities.css';
  padding: 40px;
  background: #f9f9f9;
}

.bigWelcomeBox {
  composes: welcomeBox;
  background: #fff;
  flex: 1.55;

  @media (--mobile-device) {
    flex-basis: 20em;
  }
}

.smallWelcomeBox {
  composes: welcomeBox;
  flex: 1;
  box-shadow: inset 5px 0 5px #eee;
  padding: 30px 40px 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  @media (--mobile-device) {
    padding: 10px;
    flex-basis: 20em;
  }
}

.facebook {
  @media (--mobile-device) {
    width: 90%;
    max-width: 420px;
    margin: 15px auto 0;
  }
}

.bottomContainer {
  justify-content: space-between;

  @media (--mobile-device) {
    flex-direction: column;
  }
}

.usefulLinks {
  composes: contentContainer from 'app/styles/utilities.css';
  flex: 1;
  margin-right: 30px;

  @media (--mobile-device) {
    margin: 0 auto;
    padding: 20px 30px;
  }
}

.usefulLinks a {
  font-size: 20px;
}

.usefulLinks li {
  margin-bottom: 15px;
}

.linkDescription {
  margin-left: 30px;
}
