@import 'app/styles/variables.css';

.root {
}

.welcomeBox {
  flex: 1;
  composes: withShadow from 'app/styles/utilities.css';
  padding: 40px;
  background: #f9f9f9;
}

.bigWelcomeBox {
  composes: welcomeBox;
  background: #fff;
}

.smallWelcomeBox {
  composes: welcomeBox;
  transform: scale(0.8);
  margin-left: -60px;
  box-shadow: inset 5px 0 5px #eee;
  z-index: -1;
  padding-top: 65px;
}
