@import 'app/styles/variables.css';

.cardFlex {
  display: flex;
  flex-direction: row;

  @media (--mobile-device) {
    flex-direction: column;
  }
}

.rootCardStyle {
  composes: withShadow from 'app/styles/utilities.css';
  background: var(--lego-card-color);
  padding: 40px;
  margin-bottom: 30px;

  @media (--mobile-device) {
    margin: 0 10px 10px !important;
    padding: 15px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleButton {
  color: var(--lego-link-color);
  font-size: 14px;
}

.welcome {
  composes: rootCardStyle;
  flex: 1.8;
  margin-right: 30px;
}

.loginForm {
  composes: rootCardStyle;
  flex: 1;
}

.events {
  composes: rootCardStyle;
  flex: 1.95;
  margin-right: 30px;
  color: var(--lego-font-color);
  padding: 40px 10px 40px 20px;

  @media (--mobile-device) {
    padding: 15px 25px 15px 5px;
  }
}

.cooperator {
  composes: rootCardStyle;
  flex: 1;
  text-align: center;
}

.cooperator img {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 10px;

  @media (--mobile-device) {
    margin: 10px 0;
  }
}

.readme {
  composes: rootCardStyle;
  flex: 1;
}

.articles {
  composes: rootCardStyle;
  flex: 1.8;
  margin-right: 30px;
}

.innerArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.usefulLinks {
  composes: rootCardStyle;
  flex: 1.8;
  margin-right: 30px;
}

.facebook {
  composes: rootCardStyle;
  flex: 1;
}

.usefulLinks a {
  font-size: 20px;
}

.usefulLinks li {
  margin-bottom: 15px;
}

.linkDescription {
  margin-left: 30px;
}
