.container {
  display: grid;
  justify-content: center;
  height: 100vh;
  width: auto;
  max-width: 1600px;
  font-size: var(--font-size-lg);
  margin: 0 auto;
}

.contentContainer {
  display: grid;
  width: 80vw;
  grid-auto-flow: column;
  place-items: center center;
}

.leftContainer {
  width: 60%;
}

.description {
  font-weight: 400;
  margin: 15px 0;
}

.logo {
  flex: 1;
}

.logo > img {
  margin: 50px 0;
  max-width: 160px;
  max-height: 50vh;
}

.foolsImage {
  display: grid;
  height: 100%;
  align-items: center;
}

@media only screen and (width <= 1000px) {
  .leftContainer {
    width: 60vw;
  }

  .foolsImage {
    display: none;
  }
}

@media only screen and (width <= 500px) {
  .contentContainer {
    align-items: normal;
    font-size: var(--font-size-md);
  }

  .description {
    font-weight: 400;
    margin: 15px 0;
  }

  .leftContainer {
    width: 80vw;
  }
}

@media only screen and (width <= 400px) {
  .contentContainer {
    align-items: normal;
    font-size: var(--font-size-sm);
  }

  .description {
    font-weight: 400;
    margin: 15px 0;
  }
}
