@import url('~app/styles/variables.css');

.container {
  display: grid;
}

.header {
  display: grid;
  grid-auto-flow: column;
}

.whatIsThis {
  text-decoration: underline;
  font-size: 1rem;
}

.whatIsThis:hover {
  cursor: pointer;
}

.header .skip {
  display: grid;
  align-content: end;
  font-size: 0.8rem;
  opacity: 0.1;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: right;
}

.header .skip:hover {
  cursor: pointer;
}

.contentContainer {
  text-align: center;
  background-color: #eee7e7;
  padding: 20px;
  font-size: 14px;
  width: 100%;
}

/* Users in queue and expected access */
.contentContainer div:nth-child(n + 1) {
  line-height: 1.3;
}

/* Arrival time */
.contentContainer div:nth-child(3) {
  font-size: 18px;
  padding-top: 10px;
}

.progressBar {
  height: 25px;
  margin: 25px auto;
  background: #fff;
  border: 0;
  border-radius: var(--border-radius-lg);
  width: 70%;
}

.progressBar .progress {
  background-color: var(--lego-red-color);
  background-image: none;
  height: 100%;
  text-align: right;
  overflow: hidden;
  float: left;
  position: relative;
  min-width: 20px;
  border-radius: var(--border-radius-lg);
}

.progressBar .clear {
  clear: both;
  line-height: 0;
  min-height: 1px;
}

.progress .runner {
  height: 20px;
  width: 20px;
  margin-top: 2px;
  background-size: contain;
  right: 0;
  position: absolute;
}

/* Updated time */
.updateTime {
  font-size: 0.8rem;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: var(--lego-red-color);
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.footer {
  display: grid;
  grid-auto-flow: column;
  justify-items: space-between;
  font-size: 0.7rem;
}

/* Queue logo */
.footer div:nth-child(2) {
  text-align: right;
  opacity: 0.5;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

@media only screen and (width <= 500px) {
  .whatIsThis {
    font-size: 0.9rem;
  }

  /* Arrival time */
  .contentContainer div:nth-child(3) {
    font-size: 0.95rem;
  }

  .progressBar {
    width: 95%;
  }
}

@media only screen and (width <= 400px) {
  .contentContainer {
    font-size: 0.75rem;
  }

  .whatIsThis {
    font-size: 0.75rem;
  }

  /* Arrival time */
  .contentContainer div:nth-child(3) {
    font-size: 0.8rem;
    padding-top: 10px;
  }

  .progressBar {
    height: 25px;
    margin: 10px auto;
  }
}
