@import '~app/styles/variables.css';

.container {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.04);
  margin-bottom: 15px;
  padding: 25px;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (--mobile-device) {
    padding: 8px;
  }
}

.comment {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  :global {
    .md-RichEditor-editor .public-DraftEditor-content {
      min-height: 0;
    }
  }
}

.profileImage {
  margin-right: 45px;

  @media (--mobile-device) {
    margin-right: 5px;
  }
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  width: inherit;
}

.username {
  align-items: center;

  @media (--mobile-device) {
    flex-direction: column;
    padding-top: 16px;
    margin-right: 10px;
  }
}

.bullet {
  color: #888;
  padding: 0 8px;
  font-size: 15px;

  @media (--mobile-device) {
    display: none;
  }
}

.timestamp {
  color: #777;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (--mobile-device) {
    padding: none;
    font-size: 10px;
  }
}

.text {
  font-size: 1.1rem;
  margin: 0;
}

.links {
  flex-grow: 1;
  justify-content: space-between;
}

.delete {
  margin-left: 10px;
}
