.container {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.04);
  margin-bottom: 1em;
  padding: 25px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  :global {
    .md-RichEditor-editor .public-DraftEditor-content {
      min-height: 0;
    }
  }
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  flex-direction: row;
}

.bullet {
  color: #888;
  padding: 0 8px;
  font-size: 0.6rem;
}

.timestamp {
  color: #777;
  font-size: 0.9rem;
}

.text {
  font-size: 1.1rem;
  margin: 0;
}
