@import url('~app/styles/variables.css');

.comment {
  padding: 1rem;

  :global {
    /* stylelint-disable-next-line selector-class-pattern */
    .md-RichEditor-editor .public-DraftEditor-content {
      min-height: 0;
    }
  }
}

.username a {
  color: var(--lego-font-color);
  font-weight: 500;
}

.timestamp {
  font-size: var(--font-size-sm);
  color: var(--secondary-font-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
  margin: 1rem 0;
}
