:global {
.Comment {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 1em;
  padding: 10px;
}

.Comment__avatar {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 5px 20px 10px 10px;
}

.Comment__content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Comment__header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Comment__bullet {
  color: #888;
  padding: 0 8px;
  font-size: 0.6rem;
}

.Comment__timestamp {
  color: #777;
  font-size: 0.9rem;
}

.Comment__text {
  font-size: 1.1rem;
  margin: 0;
}
}
