@import url('~app/styles/variables.css');

.root h3 {
  margin: 5px 0 25px;
}

.fileForm {
  margin-top: 15px;
}

.root select {
  font-size: 100%;
  font-family: proxima-nova, 'Helvetica Neue', Arial, sans-serif;
  cursor: pointer;
  transition: color var(--linear-medium);
  text-indent: 1px;
  text-overflow: '';
  background-color: inherit;
  border: none;
  outline: none;

  &:hover {
    color: var(--secondary-font-color);
  }

  &:focus {
    border: none;
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }
}

.companyList table {
  border-collapse: collapse;
}

.rightSection a {
  display: block;
}

.companyList th {
  padding: 5px 0;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray) !important;
}

.companyList th,
.companyList td {
  padding-left: 7px;
  width: 140px;
  border-bottom: 1px dashed var(--border-gray);
  text-align: left;
  display: table-cell;

  &:first-child {
    width: 180px;
  }

  &:nth-child(5) {
    width: 190px;
  }

  &:nth-child(6) {
    width: 180px;
  }
}

.yearNavigator {
  margin-bottom: -5px;
  transition: color var(--easing-fast);
  color: var(--secondary-font-color);

  &:hover {
    cursor: pointer;
    color: var(--lego-link-color);
  }

  &:focus {
    background: none;
  }

  &::selection {
    background: none;
  }
}

.adminComment {
  padding: 5px 0;
  line-height: 17px;
}

.title {
  float: left;
  width: 80%;
}

.companyPresentation {
  background-color: #3fff3f;
}

.lunchPresentation {
  background-color: #84ff84;
}

.course {
  background-color: #9fff3f;
}

.breakfastTalk {
  background-color: #86d1d0;
}

.interested {
  background-color: #f5f5d5;
}

.notInterested {
  background-color: #f00;
}

.contacted {
  background-color: #ffff7f;
}

.notContacted {
  background-color: var(--additive-background);
}

.bedex {
  background-color: #00fff6;
}

.files {
  margin-top: 20px;
}

.info h3,
.info i {
  margin: 0 auto;
}

.editInfo > label {
  display: flex;
}

.editInfo i {
  width: 30px;
}

.deleteFile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & i:hover {
    cursor: pointer;
  }

  & div {
    display: inline;
  }

  & span {
    max-width: 200px;
  }
}

.showAscending .upArrow,
.showDescending .downArrow {
  display: block !important;
  float: right;
  width: 10%;
  padding-right: 20px;
  color: var(--lego-font-color);
}

.hidden,
.showAscending .downArrow,
.showDescending .upArrow {
  display: none !important;
}

.dropDownItem {
  font-size: var(--font-size-sm);
  justify-content: space-between;
  width: 100%;
}

/* We have a seperate component for circles, but it takes a color code while
the function from utils I use to choose color just adds a class with
background-color. By making it this way I don't have to rewrite it 🤷 */
.lazyCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* Semesters in detailroute */

.detailTable thead th:nth-child(1),
.detailTable tbody td:nth-child(1) {
  width: 120px;
}

.detailTable thead th:nth-child(2),
.detailTable tbody td:nth-child(2) {
  width: 210px;
}

.detailTable thead th:nth-child(3),
.detailTable tbody td:nth-child(3),
.detailTable thead th:nth-child(4),
.detailTable tbody td:nth-child(4),
.detailTable thead th:nth-child(5),
.detailTable tbody td:nth-child(5) {
  max-width: 220px;
  min-width: 220px;
  width: 220px;
  word-wrap: break-word;
}

.detailTable tbody td:nth-child(3),
.detailTable tbody td:nth-child(4),
.detailTable tbody td:nth-child(5) {
  line-height: 1.3;
  font-size: var(--font-size-sm);
  padding: 5px;

  & a {
    color: var(--lego-link-color);
    transition: color var(--easing-medium);
  }

  & a:hover {
    color: var(--lego-red-color-hover);
  }
}

.detailTable thead th:nth-child(6),
.detailTable tbody td:nth-child(6) {
  width: 30px;
}

/* company contact in detailroute */

.contactTable thead th:nth-child(1),
.contactTable tbody td:nth-child(1) {
  width: 250px;
}

.contactTable thead th:nth-child(2),
.contactTable tbody td:nth-child(2) {
  width: 270px;
}

.contactTable thead th:nth-child(3),
.contactTable tbody td:nth-child(3) {
  width: 330px;
}

.contactTable thead th:nth-child(4),
.contactTable tbody td:nth-child(4) {
  width: 180px;
}

/* Events in company detailroute */

.eventsTable thead th:nth-child(1),
.eventsTable tbody td:nth-child(1) {
  width: 350px;
}

.eventsTable thead th:nth-child(2),
.eventsTable tbody td:nth-child(2) {
  width: 180px;
}

.eventsTable thead th:nth-child(3),
.eventsTable tbody td:nth-child(3) {
  width: 100px;
}

.eventsTable thead th:nth-child(4),
.eventsTable tbody td:nth-child(4) {
  width: 200px;
  line-height: 20px;
  padding: 5px;
}

.eventsTable thead th:nth-child(5),
.eventsTable tbody td:nth-child(5) {
  width: 300px;
  line-height: 20px;
  padding: 5px;
}

.description {
  margin: 0 0 35px;
  line-height: 24px;
  border-left: 4px solid var(--border-gray);
  padding-left: 20px;
  max-width: 90%;

  @media (--small-viewport) {
    max-width: 100%;
  }
}

.description textarea {
  min-height: 100px;
}

.infoBubbles {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (--mobile-device) {
    justify-content: space-around;
    align-items: center;
  }
}

.infoBubbles > div {
  margin: 30px 0;

  @media (--mobile-device) {
    margin-right: 20px;
  }
}

.editBubbles {
  line-height: 0 !important;
}

.adminNote {
  margin: 30px 0;
  width: 400px;
}

.invisRow {
  background-color: var(--color-white);
}

.rightArrow {
  text-align: right !important;
}

.checkBox {
  display: block;
  margin: 10px 0;
}

.clear {
  clear: both;
}

option {
  border: none;
  outline: none;
}

.detail h3 {
  margin-bottom: 2px;
}

.info {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.info > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editTitle {
  width: 250px;
  font-size: 30px;
  margin: 0 0 10px;
}

.editBubble {
  text-align: center;
  margin-bottom: 0 !important;
  font-size: 25px;
}

.choices {
  margin: 20px 0;
}

.choices h3 {
  margin: 0 0 7px;
}

.yearForm {
  width: 100px;
  display: block;
}

.semesterStatusForm {
  width: 300px;
  margin: 15px 0;
  padding: 5px;

  &:hover {
    cursor: pointer;
  }
}

.search h2 {
  display: inline;
  margin-right: 20px;
  padding-top: 3px;
}

.search input {
  width: 200px;
  height: 45px;
}

.info .fa {
  padding-left: 30px;
}

.info h3 {
  margin-bottom: 15px;
}

.uploadButton {
  height: 30px;
  padding: 0 10px;
  margin: 5px 0;
}

.contactedStatusForm {
  width: 240px;
}

.surveyContainer {
  display: flex;
  justify-content: center;
}
