@import url('~app/styles/variables.css');

.companyList table {
  border-collapse: collapse;
}

.rightSection a {
  display: block;
}

.companyList th {
  padding: 5px 0;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray) !important;
}

.companyList th,
.companyList td {
  padding-left: 7px;
  width: 140px;
  border-bottom: 1px dashed var(--border-gray);
  text-align: left;
  display: table-cell;

  &:first-child {
    width: 180px;
  }

  &:nth-child(5) {
    width: 190px;
  }

  &:nth-child(6) {
    width: 180px;
  }
}

.yearNavigator {
  transition: color var(--easing-fast);
  color: var(--secondary-font-color);
  cursor: pointer;

  &:focus {
    background: none;
  }

  &::selection {
    background: none;
  }
}

.title {
  float: left;
  width: 80%;
}

.deleteFile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & i:hover {
    cursor: pointer;
  }

  & div {
    display: inline;
  }

  & span {
    max-width: 200px;
  }
}

.showAscending .upArrow,
.showDescending .downArrow {
  display: block !important;
  float: right;
  width: 10%;
  padding-right: 20px;
  color: var(--lego-font-color);
}

.hidden,
.showAscending .downArrow,
.showDescending .upArrow {
  display: none !important;
}

/* Semesters in detailroute */

.detailTable thead th:nth-child(1),
.detailTable tbody td:nth-child(1) {
  width: 120px;
}

.detailTable thead th:nth-child(2),
.detailTable tbody td:nth-child(2) {
  width: 210px;
}

.detailTable thead th:nth-child(3),
.detailTable tbody td:nth-child(3),
.detailTable thead th:nth-child(4),
.detailTable tbody td:nth-child(4),
.detailTable thead th:nth-child(5),
.detailTable tbody td:nth-child(5) {
  max-width: 220px;
  min-width: 220px;
  width: 220px;
  word-wrap: break-word;
}

.detailTable tbody td:nth-child(3),
.detailTable tbody td:nth-child(4),
.detailTable tbody td:nth-child(5) {
  line-height: 1.3;
  font-size: var(--font-size-sm);
  padding: 5px;

  & a {
    color: var(--lego-link-color);
    transition: color var(--easing-medium);
  }

  & a:hover {
    color: var(--lego-red-color-hover);
  }
}

.detailTable thead th:nth-child(6),
.detailTable tbody td:nth-child(6) {
  width: 30px;
}

/* company contact in detailroute */

.contactTable thead th:nth-child(1),
.contactTable tbody td:nth-child(1) {
  width: 250px;
}

.contactTable thead th:nth-child(2),
.contactTable tbody td:nth-child(2) {
  width: 270px;
}

.contactTable thead th:nth-child(3),
.contactTable tbody td:nth-child(3) {
  width: 330px;
}

.contactTable thead th:nth-child(4),
.contactTable tbody td:nth-child(4) {
  width: 180px;
}

/* Events in company detailroute */

.eventsTable thead th:nth-child(1),
.eventsTable tbody td:nth-child(1) {
  width: 350px;
}

.eventsTable thead th:nth-child(2),
.eventsTable tbody td:nth-child(2) {
  width: 180px;
}

.eventsTable thead th:nth-child(3),
.eventsTable tbody td:nth-child(3) {
  width: 100px;
}

.eventsTable thead th:nth-child(4),
.eventsTable tbody td:nth-child(4) {
  width: 200px;
  line-height: 20px;
  padding: 5px;
}

.eventsTable thead th:nth-child(5),
.eventsTable tbody td:nth-child(5) {
  width: 300px;
  line-height: 20px;
  padding: 5px;
}

.showAllButton {
  margin-top: var(--spacing-sm);
}

.infoBubbles {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (--mobile-device) {
    justify-content: space-around;
    align-items: center;
  }
}

.infoBubbles > div {
  margin: 30px 0;

  @media (--mobile-device) {
    margin-right: 20px;
  }
}

.adminNote {
  width: 400px;
}

.invisRow {
  background-color: var(--color-white);
}

.rightArrow {
  text-align: right !important;
}

.clear {
  clear: both;
}

.editTitle {
  width: 250px;
}

.contactedStatusForm {
  width: 240px;
}

.surveyContainer {
  display: flex;
  justify-content: center;
}

.newestFirst {
  color: var(--secondary-font-color);
  font-size: var(--font-size-sm);
}
