.root {
  composes: container from '../../../Root.css';
}

.companyList table{
  border-collapse: collapse;
}

.companyList table a{
  display: block;
  color: black;
}

.companyList th {
  padding: 5px 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa!important;
}

.companyList th, .companyList td {
  padding-left: 7px;
  width: 150px;
  border-bottom: 1px dashed #aaa;
  text-align: left;
  display: table-cell;
}

.categoryHeader {
  font-weight: bold;
  background-color: #eee;
}

.bedpres {
  background-color: #3fff3f;
}

 .bedpresKurs {
  background-color: #9fff3f;
 }

 .kurs {
   background-color: #9fff3f;
 }

 .notOffered {
   background-color: #F5F5D5;
 }

 .notInterested {
   background-color: #FF0000;
 }

 .contacted {
   background-color: #ffff7f;
 }

 .notContacted {
   background-color: #cccccc;
 }

.title {
  float: left;
  width: 80%;
}

 .showAscending .upArrow, .showDescending .downArrow{
   display: block!important;
   float: right;
   width: 10%;
   padding-right: 20px;
   color: #999999;
 }

 .hidden, .showAscending .downArrow, .showDescending .upArrow {
   display: none!important;
 }

.detailTable thead th:nth-child(1), .detailTable tbody td:nth-child(1) {
  width: 100px;
}

.detailTable thead th:nth-child(2), .detailTable tbody td:nth-child(2) {
  width: 200px;
}

.detailTable thead th:nth-child(3), .detailTable tbody td:nth-child(3) {
  width: 300px;
}

.invisRow i {
  transition: color 0.3s ease;
}

.invisRow i {
  &:hover {
    color: red;
    cursor: pointer;
  }
}



.rightArrow {
  text-align: right!important;
}
