.optionsBox {
  width: 350px;
  min-height: 50px;
  margin: var(--spacing-md) 0;
  display: flex;
  flex-direction: column;
}

.section {
  min-width: 220px;
}

.options {
  margin-left: var(--spacing-md);
}

.options > label {
  display: block;
}

.optionsBox + label {
  display: inline;
  cursor: pointer;
}
