.optionsHeader {
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
  }
}

.optionsBox {
  background-color: #efefef;
  width: 100%;
  min-height: 50px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 4px grey;
  margin: 0 0 15px;
  display: flex;
  justify-content: space-between;
}

input {
  margin-right: 5px;
}

.section {
  min-width: 220px;
}

.options {
  margin-left: 20px;
}

.options > label {
  display: block;
}

label {
  display: inline;
  cursor: pointer;
}
