@import '~app/styles/variables.css';

.infoBubbles {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bubbleContainer {
  display: flex;
  justify-content: space-between;
}

.showAllEventsButton {
  color: var(--lego-link-color);
  font-size: var(--font-size-large);
  margin-left: -9px;
}

.editLink {
  margin-top: 0.2em;
  margin-right: 0.5em;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.description {
  margin: 15px;
  margin-bottom: 35px;
  margin-left: 0;
  padding-top: 6px;
  padding-left: 20px;
  border-left: 4px solid var(--color-dark-mono-gray-5);
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.headings {
  color: var(--color-dark-mono-gray-3);
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid var(--color-mono-gray-4);
  margin-top: 25px;
  margin-bottom: 10px;
}

.categoryHeader {
  font-weight: bold;
  background-color: var(--color-mono-gray-5);
}

.coverImage {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.companyEventList {
  border-collapse: collapse;
  width: 100%;
}

.companyEventTable {
  margin-top: 20px;
  width: 100%;
}

.companyEvent {
  width: 150%;
  display: flex;
  background: var(--color-white);
  margin-top: 10px;
  justify-content: center;
}

.companyEventsShowMore {
  padding-left: 10px;
  padding-bottom: 20px;
}

.image2 {
  display: block;
  margin: auto;
}

.image {
  object-fit: cover;
  background: var(--color-white);
  height: 80px;
  width: 300px;

  @media (--mobile-device) {
    height: auto;
    width: 100%;
  }
}
