@import '~app/styles/variables.css';

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.picture {
  background-color: var(--color-white);
}

.heading {
  color: var(--color-dark-mono-gray-3);
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: 1px solid var(--color-mono-gray-4);
  margin-bottom: 20px;
}

.titleFlex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.companyList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  column-gap: 15px;
  row-gap: 20px;
  margin-bottom: 40px;
  justify-content: space-around;
}

.website {
  color: var(--lego-link-color);
}

.companyItem {
  width: 220px;
  height: 220px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-left: 8px;
  color: var(--color-black);
  box-shadow: 5px 2px 5px #ede7e7;
  border-radius: 2px;
  word-wrap: break-word;
}

.companyItemContent {
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  display: flex;
  height: 100%;
}

.companyItemTitle {
  color: var(--lego-font-color);
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 25px;
  height: 46px;
}

.companyItemTitle > * {
  padding-bottom: 10px;
}

.iconLink {
  color: var(--lego-link-color);
  display: flex;
  justify-content: center;
}

.companyInfo {
  color: var(--color-dark-mono-gray-3);
  font-weight: 200;
  font-style: italic;
  justify-content: space-between;
  padding: 0 30px;
  border-top: 2px solid var(--lego-red);
  padding-top: 20px;
}

.companyLogoContainer {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 200%;
  margin-left: 0.5em;
  background-color: 0;
}

.companyLogo {
  align-items: center;
  margin: auto;
  justify-content: center;
  display: flex;
  padding: 0 21px;
}

.companyLogo img {
  object-fit: contain;
  display: block;
  height: 88px;
}

.companyLogoDetail {
  max-height: 300px;
  width: 100%;
}

.briefcaseCount {
  margin-right: 5px;
}

.calendarCount {
  margin-right: 5px;
}

.iconInfo {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.iconInfoPlacement {
  flex-flow: row;
  display: flex;
  align-content: stretch;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 39px;
}

.infoText {
  display: flex;
  font-size: var(--font-size);
}

.readMore {
  display: none;
  font-family: Raleway, sans-serif;
  font-size: var(--font-size);
  color: var(--lego-red);
  margin-top: 17px;
}

@media (--small-viewport) {
  .root {
    padding: 27px;
  }

  .iconInfoPlacement {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 29px;
  }

  .readMore {
    display: contents;
    margin-top: 20px;
  }
}
