@import 'app/styles/variables.css';

.button {
  font-size: 1em;
}

.infoBubbles {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bubbleContainer {
  display: flex;
  justify-content: space-between;
}

.editLink {
  margin-top: 0.2em;
  margin-right: 0.5em;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.description {
  margin: 15px;
  margin-bottom: 35px;
  margin-left: 0;
  padding-top: 6px;
  padding-left: 20px;
  border-left: 4px solid #999;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.headings {
  color: #777;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  margin-top: 25px;
  margin-bottom: 10px;
}

.eventItem {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.categoryHeader {
  font-weight: bold;
  background-color: var(--color-mono-gray-5);
}

.coverImage {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.companyEventList {
  border-collapse: collapse;
  width: 100%;
}

.companyEventTable {
  margin-top: 20px;
  width: 100%;
}

.companyEventTable thead th:nth-child(1),
.companyEventTable tbody td:nth-child(1) {
  width: 250px;
}

.companyEventTable thead th:nth-child(2),
.companyEventTable tbody td:nth-child(2) {
  width: 180px;
}

.companyEventTable thead th:nth-child(3),
.companyEventTable tbody td:nth-child(3) {
  width: 100px;
}

.companyEventTable thead th:nth-child(4),
.companyEventTable tbody td:nth-child(4) {
  width: 200px;
  line-height: 20px;
  padding: 5px;
}

.companyEventTable thead th:nth-child(5),
.companyEventTable tbody td:nth-child(5) {
  width: 300px;
  line-height: 20px;
  padding: 5px;
}

.image {
  display: block;
  margin: auto;
}
