@import url('~app/styles/variables.css');

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.picture {
  background-color: var(--color-white);
}

.titleFlex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.companyList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 20px 15px;
  margin-bottom: 40px;
  justify-content: space-around;
}

.website {
  color: var(--lego-link-color);
}

.companyItem {
  width: 220px;
  height: 220px;
  padding: 0;
  word-wrap: break-word;
}

.companyItemContent {
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  display: flex;
  height: 100%;
}

.iconLink {
  color: var(--lego-link-color);
  display: flex;
  justify-content: center;
}

.companyInfo {
  background-color: var(--additive-background);
  color: var(--secondary-font-color);
  font-weight: 600;
  padding: 3px 50px;
  padding-top: 15px;
}

.interestingCount {
  color: var(--lego-red-color);
}

.companyLogoContainer {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 200%;
  margin-left: 0.5em;
  background-color: 0;
}

.companyLogo {
  align-items: center;
  margin: auto;
  justify-content: center;
  display: flex;
  padding: 0 21px;
}

.companyLogo img {
  object-fit: contain;
  display: block;
  max-height: 88px;
  background: white;
}

.companyLogoDetail {
  max-height: 300px;
  width: 100%;
}

.iconInfo {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.iconInfoPlacement {
  margin: 38px 0;
}

.infoText {
  display: flex;
  font-size: var(--font-size-md);
}

.readMore {
  display: none;
  font-size: var(--font-size-md);
  color: var(--lego-red-color);
  margin-top: 17px;
}

@media (--small-viewport) {
  .root {
    padding: 27px;
  }

  .iconInfoPlacement {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 29px;
  }

  .readMore {
    display: contents;
    margin-top: 20px;
  }
}
