:global {
  /* medium-draft has pretty opinionated css, so we override a few properties */
  .DraftEditor-editorContainer {
    z-index: auto;
  }

  .md-RichEditor-root {
    padding: 0;
    background-color: var(--color-white);
  }

  html[data-theme='dark'] .md-RichEditor-root {
    background-color: inherit;
  }

  .md-RichEditor-editor:not(.md-RichEditor-readonly) {
    /* Mimic the behavior of our existing editor fields: */
    border: 1px solid var(--color-mono-gray-3);
    border-radius: 3px;
    padding: 10px;

    &:focus-within {
      box-shadow: 0 0 5px var(--color-mono-gray-3);
      border-color: var(--color-mono-gray-1);
      outline: none;
    }
  }

  .public-DraftEditorPlaceholder-root {
    z-index: 0;
  }

  .md-RichEditor-editor .public-DraftEditor-content,
  .md-RichEditor-editor .public-DraftEditorPlaceholder-root {
    margin: 0;
    padding: 0;
  }
}
