.hoverMenu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity .75s;
  margin-left: 15px;
  display: inline-block;
}

.activeHoverMenuButton {
  color: #fff;
}

.hoverMenuButton {
  color: #aaa;
  cursor: pointer;
  padding: 1px;
}

.hoverMenuButton:hover {
  color: #fff;
}

.sideMenu {
  line-height: 1;
  position: absolute;
  margin: 0 2px;
  user-select: none;
  font-size: 22px;
  margin-left: -20px;
}

.toggleSideMenuButton {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.15s;
}

.activeToggleSideMenuButton {
  transform: rotate(45deg);
}

.sideMenuButtons {
  display: inline-flex;
  margin-left: 10px;
}

.sideMenuButton {
  margin: 0 6px;
  z-index: 300;
  cursor: pointer;
  vertical-align: -webkit-baseline-middle;
}

.activeSideMenuButton {

}
