@import 'app/styles/variables.css';

.EditorWrapper {
  position: relative;
  background: var(--color-white);
  padding: 15px 0;
  border-radius: 5px;
}

.Editor {
  font-weight: 400;
  margin: 0 25px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.003em;
}

.readOnly {
  margin: 0;
}

.Editor blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  margin-left: -13px;
  padding-bottom: 3px;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 1.58;
  letter-spacing: -0.003em;
}

.Editor h1 {
  font-size: 24px;
  font-weight: 700;
}

.Editor h2 {
  font-size: 20px;
  font-weight: 700;
}

.Editor ::selection {
  background: rgba(178, 34, 34, 0.26);
}

.Editor ul,
ol {
  list-style-position: inside;
}

.Editor ul {
  list-style-type: disc;
}

.Editor ol > li {
  padding-left: 5px;
}
