@import url('~app/styles/variables.css');

.item {
  padding: 10px 0;
  justify-content: space-between;
}

.form {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.msgField {
  border: 1px solid var(--border-gray);
  width: 100%;
  margin-bottom: 10px;
}

.formHeaders {
  font-size: var(--font-size-lg);
}

.recField {
  margin-right: 4px;
}

.rowRec {
  @media (--mobile-device) {
    flex-direction: column;
  }
}

.list {
  flex-direction: column-reverse;
}

.date {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 5px;
}

.recHeader {
  margin-top: 8px;
}

.sendButton {
  height: 50px;
}

.wrapperSendButton {
  justify-content: space-around;
  align-items: center;
}

.recipients::after {
  content: ',\0000a0';
}

.recipients:first-child::before {
  content: '\0000a0';
}

.recipients:last-child::after {
  content: normal;
}
