.tooltip {
  display: none;
}

.baseTooltipHover {
  text-align: center;
  display: block;
  position: absolute;
  background: var(--lego-color-gray);
  color: var(--color-white);
  border-radius: 5px;
  padding: 5px 15px;
}

.baseTooltipHover::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
}

.showTooltip::after {
  top: 100%;
  border-color: var(--lego-color-gray) transparent transparent;
}

.renderDirectionLeft {
  transform: translate(-90%, -100%);
}

.renderDirectionLeft::after {
  left: 90%;
}

.renderDirectionRight {
  transform: translate(-10%, -100%);
}

.renderDirectionRight::after {
  left: 10%;
}

.renderFromCenter {
  transform: translate(-50%, -100%);
}

.renderFromCenter::after {
  left: 50%;
}

.listTooltip {
  flex-direction: column;
  margin-top: 30px;
  transform: translateX(-50%);
}

.listTooltip::after {
  border-color: transparent transparent var(--lego-color-gray);
  bottom: 100%;
}
