:root {
  --tooltip-background: var(--lego-font-color);
}

.tooltip {
  animation: fade-in 0.2s;
  max-width: 300px;
  padding: var(--spacing-xs) var(--spacing-sm);
  background: var(--tooltip-background);
  color: var(--inverted-font-color);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  z-index: 1;
  font-size: var(--font-size-md);
  font-weight: normal;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.arrow {
  animation: fade-in 0.2s;
}
