.modalWrapper {
  cursor: default;
  user-select: none;
  width: 350px; /* Adjust width */
  height: 622px; /* 9:16 aspect ratio */
  top: 0;
}

.videoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

/* Drag handle */
.dragHandle {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  cursor: grab;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
}

.dragHandle:active {
  cursor: grabbing;
}

/* Force the video to be vertical */
.modalVideo iframe {
  width: 350px !important; /* Match aspect ratio */
  height: 622px !important;
}

.draggableContainer {
  position: fixed;
  z-index: 9999;
  cursor: grab;
  padding: 500px;
  background: none;
}

.draggableContainer:active {
  cursor: grabbing;
}

.handlebar {
  width: 100%;
  height: 50px;
  background-color: plum;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.subwaySurfers {
  width: 341px;
  height: 606px;
  background-color: black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  overflow: hidden;
  z-index: 9001;
}

.subwaySurfers iframe {
  width: 100%;
  height: 100%;
  object-fit: fill;
  pointer-events: none;
  user-select: none;
}
