@import url('~app/styles/variables.css');

.root {
  padding: 0 10px 10px;
  flex: 1;
  min-width: 20em;
  whitespace: no-wrap;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.content {
  border: 1px solid rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 9%);
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-md);
  overflow-y: auto;
  height: 459px;
  flex: 1;
  background: var(--lego-card-color);

  @media (--mobile-device) {
    height: auto;
    max-height: 495px;
  }
}

.icon {
  margin-right: 15px;
}

.item {
  border-bottom: 1px solid var(--border-gray);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--lego-font-color);

  &:hover {
    background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgba-min), 2%);
  }

  &:active {
    border: 2px solid var(--border-gray);
  }

  &:first-child {
    padding-top: 20px;
  }
}

.noActivities,
.noActivities p {
  font-weight: bold;
  padding-top: 20px;
}

.wordBreak span {
  word-break: break-word;
}
