@import url('~app/styles/variables.css');

.container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: 'welcome welcome login' 'events events hsp' 'article article readme' 'links links links';

  @media (--mobile-device) {
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: 'welcome' 'login' 'events' 'hsp' 'article' 'readme' 'links';
  }
}

.login {
  height: fit-content;
}

.welcome,
.links {
  padding: 0 10px 10px;
}

.hsp {
  text-align: center;
}

.hspImage {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}

.usefulLink {
  width: 325px;
  height: 400px;
  line-height: 1.3;
}

.usefulLinkHeader {
  height: 14%;
}

.usefulLinkDescription {
  color: var(--lego-font-color);
  height: 30%;
}

.usefulLinkGraphic {
  margin: 0 auto;
  width: auto;
  height: 40%;
}
