.activityContent {
  padding: 0 var(--spacing-md);
}

.activityFooter {
  margin-left: var(--spacing-sm);
}

.time {
  color: var(--secondary-font-color);
}

.redText {
  color: var(--lego-red-color);
}
