.badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -7px;
  background-color: var(--lego-red-color);
  color: var(--color-absolute-white);
  border: 1.5px solid var(--lego-background-color);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: var(--font-size-sm);
  z-index: 1;
}

.clickable {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 0.375rem;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  font-size: inherit;
  color: var(--lego-font-color);
  transition: background-color var(--easing-fast);

  &:hover,
  &:focus-visible {
    background-color: var(--additive-background);
  }

  &:active {
    background-color: var(--color-gray-2);
  }
}

.danger {
  composes: clickable;
  color: var(--danger-color);

  &:hover,
  &:focus-visible {
    background-color: var(--color-red-1);
  }

  &:active {
    background-color: var(--color-red-2);
  }
}

.success {
  composes: clickable;
  color: var(--success-color);

  &:hover,
  &:focus-visible {
    background-color: var(--color-green-2);
  }

  &:active {
    background-color: var(--color-green-3);
  }
}

.edit {
  composes: clickable;
  color: var(--color-orange-6);

  &:hover,
  &:focus-visible {
    background-color: var(--color-orange-2);
  }

  &:active {
    background-color: var(--color-orange-3);
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    color: var(--color-orange-6);
  }
}
