.item {
  cursor: pointer;
  width: 250px;
}

.description {
  color: var(--secondary-font-color);
  font-size: var(--font-size-sm);
  line-height: 1.2rem;
}

.item .titleIcon {
  opacity: 0;
  transition: var(--easing-medium);
  font-size: var(--font-size-sm);
}

.item:hover .titleIcon {
  opacity: 1;
  translate: 0.3rem;
}
