.photoUploadStatus {
  z-index: 2;
  margin: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 25%), 0 3px 3px rgba(0, 0, 0, 22%);
}

.close {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}

.successMessage {
  color: var(--color-green-3);
}
