.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h2 {
  font-weight: bold;
  font-family: monospace;
  padding-top: var(--spacing-md);
}

.info p {
  color: var(--secondary-font-color);
  font-weight: bold;
  font-family: monospace;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-3);
  margin: 1.5rem 0;
}
