@import '../Event.css';

.counter {
  text-align: center;
  font-size: 20px;
  flex-direction: column;
  color: var(--color-gray-1);
}

.attendees {
  font-size: 16px;
  color: var(--lego-text-gray);
  float: right;
}

.adminRegistrations {
  font-size: 16px;
  color: var(--lego-text-gray);
  float: right;
  padding-right: 15px;
}

html[data-theme='dark'] .counter,
html[data-theme='dark'] .attendees,
html[data-theme='dark'] .adminRegistrations {
  color: var(--lego-text-color);
}
