.root {
  composes: container from 'app/styles/utilities.css';
}

.grid {
  display: grid;
  grid-gap: 5px;
}

.registeredList {
  display: grid;
  align-items: center;
  grid-template-columns: 10% 6% 12% 12% 14% 14% 17% 15%;
}

.registeredList > div {
  word-wrap: break-word;
}

.unregisteredList {
  display: grid;
  max-width: 500px;
  align-items: center;
  grid-template-columns: repeat(5, 20%);
}

.greenIcon {
  font-size: 1.5em;
  color: green;
}

.orangeIcon {
  font-size: 1.5em;
  color: orange;
}

.questionIcon {
  font-size: 1.5em;
  color: blue;
}

.crossIcon {
  font-size: 1.5em;
  color: '#C24538';
}

.center {
  flex: 1;
  justify-self: center;
}

.transparent {
  opacity: 0.3;
}

a.transparent:hover {
  opacity: 1;
}

.list {
  display: flex;
  width: 800px;
  flex-direction: column;
}

.grid > li {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.presenceIcons {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin: 5px;
}

.cell {
  margin: 2px;
}
