.card {
  padding: 0;
}

.cardSection {
  padding: var(--spacing-lg);
}

.bannerContainer {
  background-color: var(--lego-background-color);
}

.bannerContainer * {
  margin: 0;
}

.card h4 {
  text-align: center;
}

.editButton {
  flex-shrink: 0;
}
