@import url('styles/custom-media.css');

.pageGrid {
  display: grid;
  grid-template-areas:
    'profile-picture header'
    'info header'
    'info events';
  grid-template-columns: 348.53px 1fr; /* The width of the info cards below */
  gap: var(--spacing-md) var(--spacing-lg);

  @media (--medium-viewport) {
    grid-template-areas:
      'profile-picture'
      'header'
      'info'
      'events';
    grid-template-columns: 1fr;
  }
}

.profilePicture {
  grid-area: profile-picture;
}

.header {
  grid-area: header;
}

.info {
  grid-area: info;
}

.events {
  grid-area: events;
}

.frameMargin {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-xl);
}

img.frame {
  width: 207px;
  height: 207px;
  margin: -2px 0 0 1px;
  object-fit: scale-down;
  position: absolute;
}

.rightContent {
  align-items: flex-start;

  @media (--medium-viewport) {
    align-items: center;

    div {
      justify-content: center;
    }
  }
}

.infoCard {
  margin-bottom: var(--spacing-lg);
}

.infoCardFooter {
  font-style: italic;
  font-size: var(--font-size-sm);
}

.infoFieldName {
  font-weight: 500;
}

.infoFieldContent {
  color: var(--secondary-font-color);
}

.bottomMargin {
  margin-bottom: var(--spacing-lg);
}

.settingsIcon {
  transition: transform var(--easing-medium);
}

.settingsButton:hover .settingsIcon {
  transform: rotate(90deg);
}

.soMeIcon {
  color: var(--lego-font-color);
  margin-right: var(--spacing-sm);
}

.badges {
  position: relative;
  display: inline-block;
}

.membershipBadge {
  &.inactive {
    filter: grayscale(100%);
    opacity: 0.7;
  }
}

.removeBadge {
  position: absolute;
  top: -2px;
  right: -2px;
  color: var(--danger-color);
  background-color: var(--lego-card-color);
  border-radius: 50%;
  padding: 2px;
  opacity: 0;
  transition: opacity var(--easing-md);
  cursor: pointer;
}

.badgeContainer {
  position: relative;
}

.badgeContainer:hover .removeBadge {
  opacity: 1;
}

.achievements {
  width: 100%;
  padding-top: var(--spacing-md);
}

.trophy {
  text-align: center;
  white-space: pre-line;
  font-weight: 500;
  cursor: default;

  > div {
    height: 100%;
  }
}

.trophyDetailTooltip {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: tooltipAnimation 400ms cubic-bezier(0.22, 1, 0.36, 1);
  padding: var(--spacing-xs);
}

@keyframes tooltipAnimation {
  from {
    transform: translateY(20px) scale(0.9) rotateX(-6deg);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
  }
  to {
    transform: translateY(0) scale(1) rotateX(0deg);
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.25));
  }
}

.trophyLinks {
  margin-top: var(--spacing-md);
}

.trophyImage {
  height: 100px;
  width: auto;
}

.trophyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--spacing-sm);

  @media (--lego-max-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.trophyCard {
  height: 100%;

  .trophyCardImage {
    margin: var(--spacing-sm);
  }

  div:last-child {
    flex-grow: 1;
  }
}
