@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* PAGE WRAPPER */
.mainPage {
    max-width: var(--lego-max-width);
    margin: 0 auto;
    width: 100%;
    padding-inline: var(--spacing-md);
}

/* TOP */
.titleImage {
    border-radius: var(--border-radius-lg);
}

.title {
    font-family: 'Inter';
    font-weight: 900;
    /* var(--font-size-xl) */
    font-size: 2.5rem;
}
.titleTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heartIcon {
    color: var(--color-gray-4);
    width: 24px;
    margin-right: 8px;
}

.infoBarTop {
    display: flex;
    gap: var(--spacing-md);
}
.infoBarTop > div{
    display: flex;
    gap: var(--spacing-sm);
}
.barIcon {
    color: var(--color-red-9);
}
