:root {
  --button-color: var(--lego-font-color);
  --button-color-white: var(--inverted-font-color);
  --button-background: var(--additive-background);
  --button-background-hover: var(--color-gray-2);

  --button-dark-box-shadow-focus: #db373744;

  --button-success-background: var(--color-green-7);
  --button-success-background-hover: var(--color-green-8);
  --button-success-background-active: var(--color-green-9);
  --button-success-box-shadow-focus: #2c974b44;
}

[data-theme='dark'] {
  --button-color: var(--lego-font-color);
  --button-color-white: var(--lego-font-color);
  --button-background-hover: var(--color-gray-3);

  --button-dark-box-shadow-focus: #ff737344;

  --button-success-background: var(--color-green-4);
  --button-success-background-hover: var(--color-green-5);
  --button-success-background-active: var(--success-color);
  --button-success-box-shadow-focus: #2da44e44;
}

.button {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  box-sizing: border-box;
  height: 2.3em;
  width: fit-content;
  padding: 0 var(--spacing-md);
  font-family: Inter, sans-serif;
  font-weight: 600;
  background-color: var(--button-background);
  color: var(--button-color);
  outline: none;
  cursor: pointer;
  border-radius: var(--spacing-xl);
  transition: var(--easing-fast);
  /* stylelint-disable value-list-comma-newline-after */
  transition-property:
    transform, color, background-color, border-color, box-shadow, opacity;

  &[data-focus-visible] {
    box-shadow: 0 0 0 1.5px var(--lego-font-color);
  }

  &[data-hovered] {
    background-color: var(--button-background-hover);
  }

  &[data-pressed] {
    background-color: var(--color-gray-3);
  }

  &[data-disabled] {
    box-shadow: initial;
    cursor: not-allowed;
    opacity: 0.5;
  }

  > a {
    color: var(--color-gray-8);
  }
}

.secondary {
  --button-color: var(--inverted-font-color);
  --button-background: var(--lego-font-color);
  --button-background-hover: var(--color-gray-8);

  &[data-pressed] {
    background-color: var(--color-gray-7);
  }
}

.dark {
  background-color: var(--color-red-6);
  color: var(--button-color-white);
  box-shadow: none;

  &.fa {
    color: var(--button-color);
  }

  &[data-focus-visible] {
    box-shadow: 0 0 0 3px var(--button-dark-box-shadow-focus);
  }

  &[data-hovered] {
    background-color: var(--color-red-7);
  }

  &[data-pressed] {
    background-color: var(--color-red-8);
  }
}

.danger {
  background: none;
  border: 1.5px solid var(--border-gray);
  color: var(--danger-color);

  &[data-focus-visible] {
    box-shadow: none;
    border-color: var(--danger-color);
  }

  &[data-hovered] {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
    color: var(--button-color-white);
  }

  &[data-pressed] {
    background-color: var(--color-red-7);
    border-color: var(--color-red-7);
    color: var(--button-color-white);
  }

  &[data-disabled] {
    color: var(--danger-color);
    background: none;
  }
}

.success {
  background-color: var(--button-success-background);
  color: var(--button-color-white);
  box-shadow: none;

  &[data-focus-visible] {
    box-shadow: 0 0 0 3px var(--button-success-box-shadow-focus);
  }

  &[data-hovered] {
    background-color: var(--button-success-background-hover);
  }

  &[data-pressed] {
    background-color: var(--button-success-background-active);
  }
}

.flat {
  background: none;
  --button-color: var(--lego-font-color);

  &[data-hovered] {
    background-color: var(--additive-background);
  }

  &[data-pressed] {
    background-color: rgba(
      var(--rgb-min),
      var(--rgb-min),
      var(--rgb-min),
      calc(var(--low-alpha) * 2)
    );
  }
}

.ghost {
  background: none;
  box-shadow: none;
  border: 1.5px solid var(--lego-font-color);
  --button-color: var(--lego-font-color);

  &[data-focus-visible] {
    box-shadow: 0 0 0 3px var(--button-dark-box-shadow-focus);
  }

  &[data-hovered] {
    background-color: var(--lego-font-color);
    --button-color: var(--inverted-font-color);
  }

  &[data-pressed] {
    background-color: var(--color-gray-8);
  }
}

.small {
  padding: 0 0.6rem;
  font-size: var(--font-size-sm);
}

.normal {
  font-size: inherit;
}

.large {
  font-size: var(--font-size-lg);
}

.round {
  border-radius: 50%;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
