@import 'variables.css';

button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: var(--font-size-md);
  color: var(--lego-font-color);

  &:disabled {
    cursor: initial;
  }
}
