@import url('~app/styles/variables.css');

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dropArea {
  border-radius: inherit;
  height: inherit;
  width: inherit;
  z-index: 0;
  position: absolute;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.inModalUpload {
  width: 325px;
  height: 200.861px;
  border-radius: var(--border-radius-lg);
}

.placeholderContainer {
  overflow: hidden;
  border-radius: inherit;
  height: inherit;
  width: inherit;
  position: absolute;
}

.inModalUpload .placeholderContainer {
  background-color: var(--color-gray-2);
  border: 3px dashed var(--color-blue-6);
}

.focused .placeholderContainer {
  border: 3px dashed var(--color-orange-6);
}

.dragAccept .placeholderContainer {
  border: 3px dashed var(--color-green-6);
}

.dragReject .placeholderContainer {
  border: 3px dashed var(--danger-color);
}

.placeholderTitle {
  background: rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 70%);
  padding: 10px 40px;
  text-align: center;
}

.inModalUpload .placeholderTitle {
  background: none;
}

.image {
  width: 100%;
  height: inherit;
  object-fit: cover;
  background: white;
  border-radius: inherit;
}

.cropper {
  width: 100%;
}

.previewRow {
  width: 325px;
  height: 52px;
  color: var(--color-gray-6);
}

.previewImage {
  width: 80px;
  height: 50px;
  object-fit: cover;
}

.fileName {
  width: 180px;
  font-size: 14px;
  font-weight: 500;
}

.removeIcon {
  cursor: pointer;
  color: var(--danger-color);
  transition: color var(--easing-fast);

  &:hover {
    color: var(--color-red-7);
  }
}
