@import url('~app/styles/variables.css');

.wrapper {
  overflow-x: scroll;
}

.wrapper table {
  width: 100%;
}

.wrapper thead button {
  padding: 0;
}

.wrapper thead i {
  cursor: pointer;
}

.loader {
  height: 40.797px;
}

.wrapper tr:nth-child(even) {
  background-color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 3%);

  & .loader {
    animation: skeleton-loading 1s linear infinite alternate;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--color-gray-1);
  }

  50% {
    background-color: var(--color-gray-2);
  }

  100% {
    background-color: var(--color-gray-3);
  }
}

.checkbox {
  width: auto;
  min-width: 150px;
  padding: 8px;
}

.checkbox > div {
  margin-bottom: 10px;
}

.checkbox a {
  font-size: var(--font-size-md);
}

.overlay {
  min-width: 200px;
  padding: 8px;
}

.icon {
  color: var(--color-gray-7);
}

.iconActive {
  color: var(--color-red-5);
}
