.tableDiv {
  overflow-x: scroll;
}

.table {
  width: 100%;
}

.tableHeader {
  display: flex;
  padding: 0 10px;
}

.sorter {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  position: relative;
}

.searchIcon {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  position: relative;
}

.filterIcon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  position: relative;
}

.arrowDownIcon {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  position: relative;
}

.checkbox {
  position: absolute;
  min-width: 150px;
  padding: 8px;
  border-radius: 5px;
  background: var(--color-white);
  box-shadow: 0 1px 6px
    rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 20%);
}

.checkbox div {
  margin-bottom: 10px;
}

.checkbox a {
  font-size: 15px;
}

.loader {
  border-bottom: none;
}

.overlay {
  position: absolute;
  min-width: 200px;
  padding: 8px;
  border-radius: 5px;
  background: var(--color-white);
  box-shadow: 0 1px 6px
    rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 20%);
}

.iconActive {
  color: var(--lego-link-color);
}
