.content {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 2px #eee;
  margin-top: -5px;
  position: absolute;
  width: 220px;
  padding: 5px 0;
}

.content h2 {
  margin: 0;
  font-size: 1.2rem;
}

.dropdownList > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;

  &:hover {
    background: linear-gradient(#eee, #dedede);
  }
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
