@import '~app/styles/variables.css';
@import '~app/styles/overlay.css';

.content {
  width: 250px;
}

html[data-theme='dark'] .dropdownList > li > a:hover,
html[data-theme='dark'] .dropdownList > li > button:hover {
  background: var(--color-gray-2);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--color-mono-gray-3);
}
