@import '~app/styles/variables.css';

.content {
  background: var(--color-white);
  border-radius: 3px;
  border: 1px solid var(--color-mono-gray-4);
  box-shadow: 0 1px 25px rgba(var(--color-black), 0.05);
  position: absolute;
  width: 250px;
  margin-top: 10px;
  z-index: 2;

  @media (--small-viewport) {
    width: 100%;

    &::before,
    &::after {
      display: none;
    }
  }
}

.content::before,
.content::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--color-mono-gray-4);
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -8px;
}

.content::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--color-white);
  top: -7px;
}

.content h2 {
  margin: 0;
  font-size: 1.2rem;
}

.dropdownList > li > a,
.dropdownList > li > button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  transition: background 0.1s;

  &:hover {
    background: linear-gradient(#f5f5f5, #f9f7f7);
  }
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--color-mono-gray-3);
}
