@import url('~app/styles/variables.css');

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.entity {
  border: 1px solid var(--border-gray);
  flex: 1;
  min-width: 200px;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
}
