@import 'app/styles/variables.css';

.passwordStrengthMeter {
  width: 100%;
  height: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.passwordStrengthMeter::-webkit-meter-bar {
  background: none;
  background-color: #eee;
}

.passwordStrengthMeter::-webkit-meter-optimum-value {
  background-image: linear-gradient(90deg, #336600, 100%);
  background-size: 100% 100%;
}

.passwordStrengthMeter::-webkit-meter-suboptimum-value {
  background-image: #e67300;
  background-size: 100% 100%;
}

.passwordStrengthMeter::-webkit-meter-even-less-good-value {
  background-image: #e62e00;
  background-size: 100% 100%;
}
