.tipsList {
  font-size: var(--font-size-sm);
  margin-left: 10px;
  margin-top: 0;
  padding-inline-start: 40px;
  list-style: disc;
}

.tipsList li {
  margin-left: 10px;
}

/* Remove labels in react-meter-bar component */
.removeLabels > div > div:first-child {
  display: none !important;
}
