.weight {
  color: var(--danger-color);
  font-size: var(--font-size);
  font-weight: 500;
}

.eventLink {
  color: var(--secondary-font-color);
  transition: color var(--easing-fast);

  &:hover {
    color: var(--color-gray-6);
  }
}

.info {
  line-height: 1.3;

  & :first-child {
    font-weight: 500;
  }
}

.time {
  text-transform: capitalize;
}

.success {
  color: var(--success-color);
}

.successMessage {
  font-weight: 500;
}

.divider {
  margin: 0 auto;
  width: 85%;
  height: 1px;
  background-color: var(--border-gray);
}
