@import 'app/styles/variables.css';

.root {
  composes: contentContainer from 'app/styles/utilities.css';
}

.header {
  align-items: center;
  justify-content: space-between;

  @media (--small-viewport) {
    justify-content: space-around;
  }
}

.picture {
  display: flex;
  justify-content: center;
}

.rightContent {
  flex: 3;
  min-width: 320px;
  padding-left: 30px;
  width: 100%;

  @media (--small-viewport) {
    padding-left: 0;
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.sidebar {
  flex: 1;
  min-width: 320px;
}

.feed {
  composes: rightContent;
  padding-left: 30px;
}
