@import url('~app/styles/variables.css');

.header {
  align-items: flex-start;
  justify-content: space-between;

  @media (--medium-viewport) {
    justify-content: space-around;
  }
}

.content {
  display: flex;
  flex-direction: row;
}

.abaIdButton {
  margin-top: var(--spacing-sm);
}

.frameMargin {
  margin-top: var(--spacing-xl);
}

.sidebar {
  min-width: 320px;
  position: relative;
  margin-bottom: var(--spacing-md);
}

.frame {
  width: 207px;
  height: 207px;
  margin: -2px 0 0 1px;
  object-fit: scale-down;
  position: absolute;
}

.rightContent {
  flex: 2;
  min-width: 320px;
  padding-left: 30px;
  width: 100%;

  @media (--medium-viewport) {
    padding-left: 0;
    align-items: center;
  }
}

.info {
  flex: 1;
}

.infoCard {
  margin: 10px 0;
}

.bottomMargin {
  margin-bottom: 30px;
}

.groupExplanation {
  font-size: var(--font-size-sm);
  color: var(--secondary-font-color);
}

.settingsIcon {
  transition: transform var(--easing-medium);

  &:hover {
    transform: rotate(90deg);
  }
}

.githubIcon {
  margin-right: var(--spacing-sm);
}
