@import url('~app/styles/variables.css');

.root {
  composes: contentContainer from '~app/styles/utilities.css';
}

.abaIdModal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header {
  align-items: center;
  justify-content: space-between;

  @media (--medium-viewport) {
    justify-content: space-around;
  }
}

.emptyState {
  color: var(--color-gray-1);
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
}

html[data-theme='dark'] .emptyState {
  color: var(--color-light-gray-3);
}

.content {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.abaIdButton {
  margin-top: 0.5rem;
}

.qrIcon {
  display: flex;
  align-items: center;
  margin-right: 0.2rem;
}

.frameMargin {
  margin-top: 2rem;
}

.sidebar {
  min-width: 320px;
  position: relative;
}

.frame {
  width: 207px;
  height: 207px;
  margin: -2px 0 0 1px;
  object-fit: scale-down;
  position: absolute;
}

.rightContent {
  flex: 2;
  min-width: 320px;
  padding-left: 30px;
  width: 100%;

  @media (--medium-viewport) {
    padding-left: 0;
    align-items: center;
  }
}

.info {
  flex: 1;
}

.infoCard {
  margin-top: 10px;
  margin-bottom: 20px;
}

html[data-theme='dark'] .infoCard {
  background-color: var(--lego-card-color);
}

.bottomMargin {
  margin-bottom: 30px;
}
