@import 'app/styles/variables.css';

.root {
  composes: contentContainer from 'app/styles/utilities.css';
}

.header {
  justify-content: space-between;

  @media (--mobile-device) {
    justify-content: space-around;
    flex-direction: column;
  }
}

.primaryInfo {
  margin-left: 30px;

  @media (--small-viewport) {
    margin-left: 0;
  }
}

.left {
  @media (--small-viewport) {
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.sidebar {
  flex: 1;
  min-width: 320px;
}

.feed {
  composes: rightContent;
  padding-left: 30px;
}
