.copyIcon {
  cursor: pointer;
}

.copied {
  color: var(--color-green-6);
}

.deleteIcon {
  justify-content: center;
  cursor: pointer;
  color: var(--color-red-3);
  transition: color var(--easing-medium);

  &:hover {
    color: var(--color-red-5);
  }
}
