@import '~app/styles/variables.css';

.root {
  composes: contentContainer from '~app/styles/utilities.css';
  max-width: 500px;
}

.infoText {
  color: var(--color-gray-light);
  font-size: 0.9em;
  line-height: 1.4em;
}
