@import url('~app/styles/variables.css');

.right {
  flex: 1;
}

.bottom {
  margin-top: var(--spacing-md);
}

.changePassword {
  margin-top: var(--spacing-md);
}

.deleteUser {
  margin-top: var(--spacing-md);
  color: var(--danger-color);
}

@media (--mobile-device) {
  .mobileColumn {
    flex-direction: column;
  }
}
