@import url('~app/styles/variables.css');

.root {
  composes: contentContainer from '~app/styles/utilities.css';
  max-width: 500px;
}

.infoText {
  font-size: var(--font-size-sm);
  line-height: 1.4em;
}

.programmeList {
  list-style: disc;
  list-style-position: inside;
  font-style: italic;
}
