.copyIcon {
  cursor: pointer;
}

.copied {
  color: var(--color-green-6);
}

.deleteIcon {
  justify-content: center;
  cursor: pointer;
  color: var(--danger-color);
  transition: color var(--easing-fast);

  &:hover {
    color: var(--color-red-7);
  }
}
