.base {
  word-break: break-word;

  div[data-type='todo'] > input {
    cursor: pointer;
    float: left;
    position: relative;
    top: 4px;
    left: -4px;
  }

  ul {
    margin-left: 15px;
  }

  ol {
    margin-left: 15px;
  }

  figure {
    text-align: center;
    font-size: var(--font-size-sm);
  }
}
