.root {
  padding: 0 10px;
}

.root a {
  cursor: pointer;
}

.root code {
  background-color: #efefef;
  padding: 2px 3px;
  border-radius: 2px;
}

.root pre {
  background-color: #efefef;
  border-radius: 2px;
  padding-left: 5px;
  margin: 10px 0;
}

.root ul {
  display: block;
  list-style: disc;
  padding-inline-start: 20px;
  padding-left: 20px;
}

.root ol {
  display: block;
  list-style: decimal;
  padding-inline-start: 20px;
  padding-left: 20px;
}

.root li {
  display: list-item;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.root ul > ul {
  list-style: circle;
}

.root ol > ol {
  list-style: lower-alpha;
}

.root li > p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.root > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
