@import url('~app/styles/variables.css');

.inputContainer {
  height: 7rem;
  padding: 0 var(--spacing-md);
}

.inputContainer input {
  appearance: none;
  flex: 1;
  outline: none;
  border: 0;
  padding: 0 var(--spacing-md);
  font-size: var(--font-size-lg);
  color: var(--lego-font-color);
  background: transparent;

  &::placeholder {
    color: var(--color-gray-6);
  }
}

.inputElementNormal {
  display: display;

  @media (--mobile-device) {
    display: none;
  }
}

.inputElementMobile {
  display: none;

  @media (--mobile-device) {
    display: block;
  }
}

.searchIcon {
  color: var(--color-gray-6);
}

.searchResultItemIcon {
  margin-right: 15px;
  margin-left: 3px;
}

.resultsContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  padding: var(--spacing-xl) 3rem 3rem;
  background-color: var(--lego-card-color);
  border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
}

.sidePanel {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  flex-grow: 1;
}

.quickLinksHeader {
  color: var(--lego-font-color);
  padding-left: 15px;
}

.quickLinks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  list-style-type: none;
  gap: var(--spacing-xs);
}

.quickLinkWrapper {
  padding: 0;
}

.quickLink {
  padding: var(--spacing-sm) var(--spacing-md);
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  border-radius: var(--border-radius-md);
  transition: background-color var(--linear-fast);
  color: var(--lego-font-color);
}

.quickLink:hover {
  background-color: var(--additive-background);
}

.results {
  flex: 1 1 66%;
  min-width: 0;
}

.resultType {
  display: block;
  text-transform: capitalize;
}

.resultItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-gray);
  padding: var(--spacing-sm);
  height: 4rem;
}

.resultTitle {
  display: flex;
  min-width: 0;
  flex-direction: column;
  line-height: normal;
  color: var(--lego-font-color);
}

.resultDetail {
  color: var(--secondary-font-color);
  font-size: var(--font-size-sm);
  margin: 0;
}

.resultDetail > *:not(:last-child)::after {
  content: '\22C5';
  padding: 0 5px;
}

.truncateTitle {
  display: block;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.isSelected {
  font-weight: 600;
}

.searchingText,
.quickLinksHeader {
  margin: var(--spacing-sm) 0;
}

.searchingText {
  text-align: center;
}
