@import url('~app/styles/variables.css');

.searchResult {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.searchResultTitle {
  display: flex;
  align-items: center;
  color: var(--lego-color-gray);
  font-weight: 600;
  margin: 0;
}

.picture {
  height: 100px;
  flex: 1;
  justify-content: center;
}

.picture img {
  height: inherit;
  object-fit: contain;
  min-width: 100px;

  @media (--small-viewport) {
    width: 100%;
    object-fit: contain;
    margin: 0 10px 0 0;
    background-color: var(--color-white);
  }
}

.searchResultItemIcon {
  margin-left: 10px;
  color: initial;
}

.textbox {
  flex: 4;
  min-width: 260px;
  margin-right: 15px;

  @media (--medium-viewport) {
    min-width: 400px;
  }

  @media (--small-viewport) {
    min-width: 260px;
  }
}
