@import url('~app/styles/variables.css');

.inputContainer {
  display: flex;
  justify-content: space-between;
  height: 120px;
  border-bottom: 1px solid var(--color-mono-gray-3);
  padding: 0 20px;
}

.inputContainer input {
  appearance: none;
  flex: 1;
  outline: none;
  border: 0;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--lego-color-gray);
  background: transparent;

  &::placeholder {
    color: var(--color-dark-mono-gray-2);
  }
}

.inputElementNormal {
  display: display;

  @media (--mobile-device) {
    display: none;
  }
}

.inputElementMobile {
  display: none;

  @media (--mobile-device) {
    display: block;
  }
}

.searchIcon {
  color: var(--color-dark-mono-gray-3);
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.searchResultItemIcon {
  margin-right: 15px;
  margin-left: 3px;
}

.closeButton {
  width: 40px;
  outline: none;
  border: 0;
  background: transparent;
  color: var(--lego-color-gray);
  cursor: pointer;
}

.resultsContainer {
  background: rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 80%);
  overflow-y: auto;
  height: 100%;
  max-height: calc(100vh - 120px);
  border-radius: 0 0 7px 7px;

  @media (--small-viewport) {
    flex-direction: column;
  }
}

.scrollAble {
  display: flex;

  @media (--small-viewport) {
    flex-direction: column;
  }
}

.navigationHeader {
  color: var(--lego-font-color);
}

.navigationFlex {
  display: flex;
  flex-wrap: wrap;
}

.navigationLink {
  flex-basis: 33%;
  min-width: 225px;
  max-width: 100%;

  @media (--mobile-device) {
    flex-basis: 50%;
  }

  @media (--small-viewport) {
    flex: 1;
  }
}

.quickLinks {
  flex: 1;
  color: var(--color-white);
  padding: 2rem;
}

html[data-theme='dark'] .quickLinks {
  background-color: var(--lego-card-color);
}

.quickLinks::after {
  content: '';
  display: block;
  height: 2rem;
  width: 100%;
}

.quickLinks li {
  list-style: none;
}

.quickLinks a {
  display: block;
  color: var(--lego-link-color);
  padding: 4px 15px;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: 0.1s background-color;
}

.quickLinks a:hover {
  background-color: var(--lego-color-gray-light);
  border: 1px solid var(--color-mono-gray-3);
  border-radius: 3px;
  padding: 3px 14px;
}

html[data-theme='dark'] .quickLinks a:hover {
  background-color: var(--color-gray-8);
}

.results {
  flex: 2;
  padding: 2rem;
  background: var(--lego-color-gray-light);
}

html[data-theme='dark'] .results {
  background: var(--lego-card-color);
}

.resultDate {
  color: var(--lego-font-color);
  margin-left: auto;
  white-space: nowrap;
  padding-left: 5px;

  @media (--small-viewport) {
    display: none;
  }
}

.resultDateMobile {
  display: none;
  margin-left: auto;

  @media (--small-viewport) {
    display: block;
  }
}

.resultDetails {
  color: var(--lego-font-color);
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  line-height: 15px;
}

.resultType {
  text-transform: capitalize;
}

.resultItem {
  border-bottom: 1px solid var(--color-mono-gray-4);
  padding: 0.5rem;
  height: 64px;
  display: flex;
  align-items: center;
}

.resultTitle {
  display: table;
  table-layout: fixed;
  width: 100%;
  line-height: 20px;
  padding-top: 2px;
}

.truncateTitle {
  display: table-cell;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.isSelected {
  font-weight: 700;
}

.toggleTheme {
  display: none;
  padding: 0.5em 2rem;
  background: rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 80%);

  @media (--small-viewport) {
    display: flex;
  }
}
