@import 'app/styles/variables.css';

.overlay {
  composes: container from 'app/styles/utilities.css';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  height: 120px;
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
}

.inputContainer input {
  flex: 1;
  outline: none;
  border: 0;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #333;
  background: transparent;

  &::placeholder {
    color: #666;
  }
}

.searchIcon {
  color: #777;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.searchResultItemIcon {
  font-size: 40px;
  margin-right: 10px;
}

.closeButton {
  width: 40px;
  outline: none;
  border: 0;
  background: transparent;
  color: #333;
  cursor: pointer;
  font-size: 40px;
}

.resultsContainer {
  display: flex;
  background: rgba(255, 255, 255, 0.8);

  @media (--mobile-device) {
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 120px);
  }
}

.navigationHeader {
  color: var(--lego-font-color);
}

.navigationFlex {
  display: flex;
  flex-wrap: wrap;
}

.navigationLink {
  flex-basis: 33%;
  min-width: 225px;
  max-width: 100%;

  @media (--mobile-device) {
    flex-basis: 50%;
  }

  @media (--small-viewport) {
    flex: 1;
  }
}

.quickLinks {
  flex: 1;
  color: #fff;
  padding: 2rem;
}

.quickLinks li {
  list-style: none;
}

.quickLinks a {
  display: block;
  color: #a0261b;
  line-height: 2;
  padding: 0 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.quickLinks a:hover {
  letter-spacing: 1px;
  color: #333;
}

.results {
  flex: 2;
  padding: 2rem;
  background: #eee;
}

.results li {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
  height: 64px;
  display: flex;
  align-items: center;
}

.isSelected {
  font-weight: 700;
}
