@import url('~app/styles/variables.css');

.surveyItem {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-color: var(--color-orange-5);
}

.surveyItemTitle {
  color: var(--lego-font-color);
  margin: 0;
  word-break: break-word;
}

.surveyTime {
  color: var(--secondary-font-color);
}

.editTitle {
  width: 550px;
  font-size: var(--font-size-lg);
  margin: 0 0 -10px;
}

.editEvent {
  margin-right: 30px;
}

.bottomBorder {
  margin-top: 40px;
  border-top: 1px solid var(--border-gray);
}

.search h2 {
  display: inline;
  margin-right: 20px;
  padding-top: 3px;
  margin-bottom: 40px;
}

.search input {
  width: 200px;
  height: 45px;
}

.companyLogo {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.companyLogo img {
  min-width: 120px;
  max-height: 80px;
  object-fit: contain;
  background: white;
}

.questions {
  margin: 30px 0 0;
}

.question {
  border: 2px solid var(--border-gray);
  border-left: 3px solid var(--lego-red-color);
  padding: 20px 25px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 70%;
  order: 1;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  order: 2;
  margin-top: 4px;
  flex-direction: column;
  justify-content: space-between;
  min-width: 247px;
}

.reorderQuestion > div {
  padding: 6px;
  width: 100%;
}

.top {
  display: flex;
  justify-content: flex-start;
}

.questionTop {
  margin-bottom: 15px;
}

.questionTitle {
  margin-top: 10px;
  font-size: 22px;
  width: 100%;
}

.questionType > div {
  padding: 6px;
}

.templateType {
  margin-bottom: 15px;
  margin-top: 2px;
}

.addQuestion {
  margin: 0 auto;
  display: flex;
}

.addOption {
  color: var(--lego-link-color);
  width: 20px;
  display: block;
  margin: 20px 0 0 150px;
}

.dropdown {
  margin-top: 0;
  top: 7px !important;
}

.dropdownOption {
  display: flex;
  align-items: center;
  padding: 10px;
}

.dropdownSelected {
  grid-area: 1/1/2/3;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.dropdownColor {
  color: var(--lego-red-color) !important;
}

.typeIcon {
  margin: 5px 0 0 20px;
}

.options li {
  margin: 5px 0 10px;
}

.option {
  &:hover {
    cursor: default;
  }
}

.optionField {
  width: calc(100% - 51px); /* 20px (margin) + 21px (icon width) = 51px */
  display: inline-block;
  margin: 0;
}

.optionInput {
  margin-left: 20px;
  margin-right: 0;
}

.templatePicker {
  margin: 0 0 15px;
  position: relative;
}

.templateDropdown {
  color: transparent;
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
}

.freeText {
  min-height: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.bottom {
  margin-top: 20px;

  & > div {
    margin: 0;
  }
}

.staticSubmission > li {
  margin-top: 30px;
}

.staticSubmission .freeText {
  max-width: 600px;
}

.detailOptions > li {
  margin-top: 10px;
}

.mandatory {
  color: var(--danger-color);
}

.answers {
  margin: 0 0 40px 10px;
}

.answers > li {
  margin: 10px 0 20px;
}

.submissionNav {
  margin: 0 0 10px;
}

.formOption {
  width: 18px;
}

.activeRoute {
  font-weight: 700;
}

.inactiveRoute {
  font-weight: 300;
}

.submissionOptions > div {
  margin-bottom: 10px;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.textAnswers {
  margin-bottom: 15px;
}

.summary > li {
  margin-bottom: 15px;
}

.infoBubbles {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (--mobile-device) {
    justify-content: space-around;
    align-items: center;
  }
}

.infoBubbles > div {
  margin: 30px 0;
  width: 150px;

  @media (--mobile-device) {
    margin-right: 20px;
  }
}

.eventSummary {
  margin: 15px 0;
}

.questionResults {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -15px;

  @media (--mobile-device) {
    flex-direction: column;
    padding-left: 15px;
  }
}

.textAnswers li {
  line-height: 19px;
  margin-bottom: 10px;
}

.adminAnswer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.adminAnswer a {
  margin-left: 15px;
}

.detailQuestions > li {
  margin-top: 30px;
}

.selectGraphContainer {
  width: 200px;
  max-width: 200px;
  align-content: center;
  margin: 50px 0 0 -200px;

  @media (--mobile-device) {
    margin: 33px 0 0 80px;
  }
}

.selectGraph {
  align-content: center;
}

.graphContainer {
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;

  @media (--mobile-device) {
    flex-direction: column;
    padding-bottom: 15px;
  }
}
