@import './surveys.css';

.coverImage {
  composes: contentContainer from 'app/styles/utilities.css';
  padding: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  position: relative;

  img {
    object-fit: cover;
  }
}
