@import 'app/styles/variables.css';

.surveyItem {
  padding-left: 20px;
  border-left: 4px solid transparent;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-color: var(--color-orange-5);
}

.surveyItemTitle {
  color: #333;
  font-weight: 700;
  margin: 0;
  word-break: break-word;
}

.surveyTime {
  color: var(--color-gray-2);
}

.editTitle {
  width: 550px;
  font-size: 30px;
  margin: 0 0 -10px;
}

.editEvent {
  margin-right: 30px;
}

.bottomBorder {
  margin-top: 40px;
  border-top: 1px solid var(--color-gray-2);
}

.search h2 {
  display: inline;
  margin-right: 20px;
  padding-top: 3px;
  margin-bottom: 40px;
}

.search input {
  width: 200px;
  height: 45px;
}

.companyLogo {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.companyLogo img {
  min-width: 120px;
  height: 80px;
  object-fit: contain;
}

.questions {
  margin: 30px 0 0;
}

.question {
  border: 2px solid #ccc;
  border-left: 3px solid var(--lego-link-color);
  padding: 20px 25px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 70%;
  order: 1;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  order: 2;
  margin-top: 4px;
  flex-direction: column;
  justify-content: space-between;
  min-width: 247px;
}

.questionTop {
  margin-bottom: 15px;
}

.questionTitle {
  margin-top: 10px;
  font-size: 22px;
  width: 100%;
}

.questionType > div {
  padding: 6px;
}

.questionTypeSelector {
  padding: 14px 20px;
  border: 1px solid #ccc;
}

.addQuestion {
  color: var(--lego-link-color);
  margin: 0 auto;
  width: 25px;
  display: flex;
}

.addOption {
  color: var(--lego-link-color);
  width: 20px;
  display: block;
  margin: 20px 0 0 150px;
}

.submit {
  margin-top: 20px;
}

.dropdown {
  margin-top: 0;
  top: 7px !important;
}

.dropdownColor {
  color: var(--lego-link-color) !important;
}

.typeIcon {
  margin: 5px 0 0 20px;
}

.options li {
  margin: 5px 0 10px;
}

.option {
  &:hover {
    cursor: default;
  }
}

.optionField {
  width: calc(100% - 51px); /* 20px (margin) + 21px (icon width) = 51px */
  display: inline-block;
  margin: 0;
}

.optionInput {
  margin-left: 20px;
  margin-right: 0;
}

.checkBox div {
  display: inline-block;
  margin-right: 5px;
}

.checkBox > div {
  margin-bottom: 10px;
}

.freeText {
  min-height: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.bottom div {
  display: inline-block;
}

.required {
  margin-right: 40px;
}

.required > div {
  margin-left: 10px;
  margin-bottom: -3px;
}

.deleteQuestion {
  &:hover {
    cursor: pointer;
  }
}

.staticSubmission > li {
  margin-top: 30px;
}

.staticSubmission .freeText {
  max-width: 600px;
}

.detailOptions > li {
  margin-top: 10px;
}

.mandatory {
  color: var(--lego-link-color);
}

.answers {
  margin: 0 0 40px 10px;
}

.answers > li {
  margin: 10px 0 20px;
}

.submissionNav {
  margin: 10px 0;
}

.adminSideBar {
  flex: 0.65;
}

.formOption {
  width: 18px;
}

.activeRoute {
  font-weight: 700;
}

.inactiveRoute {
  font-weight: 300;
}

.submissionOptions > div {
  margin-bottom: 10px;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.textAnswers {
  margin-bottom: 15px;
}

.summary > li {
  margin-bottom: 15px;
}
