.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 70%;
  height: 10vh;
  gap: 10px;
}

.optionButton {
  background-color: var(--lego-red-color);
  font-weight: bold;
  padding: 15px;
  text-align: center;
  border-radius: var(--border-radius-md);
}

.timer {
  margin-left: auto;
  margin-right: 15%;
  padding-top: 40px;
}
