.image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

.blur {
  filter: blur(0.2vw);
  overflow: hidden;
}

.finalImage {
  transition:
    filter var(--easing-slow),
    opacity var(--easing-slow);
}
