.poll {
  background-color: var(--color-white);
  position: relative;
  width: 100%;
  min-width: 250px;
  max-width: 500px;
  overflow-y: hidden;
  border-radius: 15px;
  transition: 2s height;
}

.topBar {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: var(--lego-red);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.stats {
  margin-top: 17px;
  color: var(--color-white);
  transform: scale(150%);
}

.notAnswered {
  color: var(--color-white);
  font-size: 30px;
  font-weight: 900;
  line-height: 45px;
}

.headerBar {
  background-color: var(--color-almost-white-1);

<<<<<<< Updated upstream
.poll {
  composes: withShadow from '~app/styles/utilities.css';
  background: var(--lego-card-color);
  padding: 15px 20px 8px;
}
=======
  font-weight: 900;
>>>>>>> Stashed changes

  position: absolute;
  bottom: 0px;
  left: 50%;

  width: 80%;
  height: 50px;
  transform: translate(-50%, 50%);

  border-radius: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.voteButtonWrapper {
  overflow-y: hidden;
  width: 100%;
  transition: 0.5s height;
}

.voteButtonSubWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: fit-content;
}
/* 
.isNotExpanded {
  width: 100%;
  height: 0px;
}

.isExpanded {
  width: 100%;
} */

.voteButton {
  background: var(--lego-red);
  color: var(--color-white);
  font-weight: 500;
  height: 37px;
  width: 90%;
  padding: 5px;
  margin: 2px !important;
}

.optionsWrapper {
  width: 100%;
  padding-top: 35px;
}

/* .voteButton:last-of-type {
  margin-bottom: 4px !important;
} */

.totalVotes {
  margin-bottom: 2px;
}

.pollTable {
  width: 100%;
  font-size: 14px;
}

.pollTable tr {
  width: 100%;
}

.pollTable td {
  border: 0;
  padding: 5px;
}

.pollTable .textColumn {
  text-align: right;
  line-height: 16px;
  word-wrap: break-word;

  width: fit-content;
  max-width: 200px;
  padding-right: 13px;

  border-right: 3px solid #c5c5c5;
}

.pollTable .graphColumn {
  width: auto;
  min-width: 150px;

  padding-left: 13px;

  padding-right: 15px;
}

.fullGraph {
  display: flex;
  background-color: #e7e7e7;
  word-wrap: break-word;
  width: 100%;
}

.pollGraph {
  background-color: var(--lego-red);

  font-style: italic;
  font-weight: 300;
  color: var(--color-white);

  height: 30px;
  padding-left: 8px;

  animation: graph 1.2s cubic-bezier(0.41, 0.8, 0.4, 0.94);
  border-radius: 0 2px 2px 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
}

.bottomBar {
  width: 100%;
  height: 70px;
  background-color: var(--lego-red);
}

.truncateWrapper {
  height: 100%;
}

.arrow {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 25%);
  transform: scale(250%);
  color: var(--color-white);
  margin-bottom: 10px;
}

.arrowUp {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 25%);
  transform: scale(250%);
  color: var(--color-white);
  margin-bottom: 25px;
  transition: 1s margin-bottom;
}

.arrowDown {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 25%);
  transform: scale(250%);
  color: var(--color-white);
  margin-bottom: 10px;
  transition: 1s margin-bottom;
}

.arrow:hover {
  cursor: pointer;
}
