.poll {
  background-color: var(--lego-card-color);
  width: 100%;
  min-width: 250px;
  max-width: 500px;
  margin: 0 auto;
  overflow-y: hidden;
  border-radius: 5px;
}

.topBar {
  background-color: var(--lego-red);
  position: relative;
  width: 100%;
  height: 70px;
  padding-bottom: 25px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 20%);
}

.pollIcon,
.arrowIcon {
  color: var(--lego-card-color);
}

.headerBar {
  color: var(--lego-font-color);
  background-color: var(--lego-card-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 50px;
  transform: translate(-50%, 50%);
  font-weight: 900;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 20%);
}

.contentWrapper {
  overflow-y: hidden;
  width: 100%;
  transition: 0.5s height;
}

.voteOptionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.voteButton,
.voteButton + .voteButton {
  color: var(--color-white);
  background: var(--lego-red);
  font-weight: 500;
  width: 90%;
  height: 2rem;
  padding: 5px;
  margin: 2px;
}

.voteOptions {
  width: 100%;
  padding-top: 35px;
}

.resultsHiddenInfo {
  font-style: italic;
}

.pollTable {
  width: 100%;
  font-size: 14px;
}

.pollTable tr {
  width: 100%;
}

.pollTable td {
  border: 0;
  padding: 5px;
}

.pollTable .textColumn {
  text-align: right;
  line-height: 16px;
  word-wrap: break-word;
  width: fit-content;
  max-width: 200px;
  padding-right: 13px;
  border-right: 3px solid var(--color-mono-gray-3);
}

.pollTable .graphColumn {
  width: auto;
  min-width: 150px;
  padding-left: 13px;
  padding-right: 15px;
}

.fullGraph {
  display: flex;
  color: var(--color-black);
  background-color: var(--color-mono-gray-5);
  word-wrap: break-word;
  width: 100%;
}

html[data-theme='dark'] .fullGraph {
  color: var(--color-white);
}

.pollGraph {
  color: var(--color-white);
  background-color: var(--lego-red);
  height: 1.9rem;
  padding-left: 8px;
  font-style: italic;
  font-weight: 300;
  animation: graph 1.2s cubic-bezier(0.41, 0.8, 0.4, 0.94);
  border-radius: 0 2px 2px 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 20%);
}

.outerGraphText {
  margin-left: 3px;
}

.bottomBar,
.bottomBarExpanded {
  background-color: var(--lego-red);
  width: 100%;
  height: 70px;
  padding-top: 25px;
  transition: 0.5s height, 0.5s padding;
}

.bottomBarExpanded {
  height: 45px;
  padding-top: 0;
}

.arrowIcon {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 20%);
}
