@import url('~app/styles/variables.css');

.poll {
  background-color: var(--lego-card-color);
  width: 100%;
  min-width: 250px;
  max-width: 500px;
  min-height: 120px;
  margin: 0 auto;
  overflow-y: hidden;
  border-radius: var(--border-radius-md);
}

.topBar {
  width: 100%;
  z-index: 2;
}

.pollIcon {
  display: block;
  width: 100%;
  text-align: center;
  background-color: var(--lego-red-color);
  color: var(--color-white);
  padding: 0 0.5rem 0.5rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 20%);
}

.titleLink {
  position: relative;
  display: block;
  width: 80%;
  top: -1.25rem;
  margin-bottom: -2.25rem;
  border-radius: var(--border-radius-lg);
  color: var(--lego-font-color);
  background-color: var(--lego-card-color);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 20%);
  z-index: 3;
}

.title {
  padding: 0.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}

.contentWrapper {
  width: 100%;
  transition: height var(--linear-slow);
  overflow-y: hidden;
}

.optionWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  margin-top: 1.5rem;
}

.description {
  width: 90%;
  padding-bottom: 0.5rem;
  color: var(--secondary-font-color);
  text-align: center;
}

/* Options visible & voting */

.voteButton,
.voteButton + .voteButton {
  font-weight: 500;
  width: 90%;
  padding: 5px;
  margin: 2px;
  border-radius: var(--border-radius-md);
}

/* Options visible & !voting */

.pollTable {
  width: 100%;
  font-size: var(--font-size-sm);
}

.pollTable td {
  border: 0;
  padding: 5px;
}

.pollTable .textColumn {
  border-right: 1px solid var(--border-gray);
  text-align: right;
  padding-right: 13px;
  line-height: 16px;
}

.pollTable .graphColumn {
  width: auto;
  min-width: 200px;
  padding-left: 13px;
}

.pollGraph {
  animation: graph var(--easing-fast);
  background-color: var(--lego-red-color);
  padding: 5px;
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
  color: var(--color-absolute-white);
  height: 30px;
}

.fullGraph {
  background-color: var(--additive-background);
  width: 100%;
  display: flex;
}

.pollGraph span {
  vertical-align: middle;
}

@keyframes graph {
  from {
    width: 1px;
  }

  to {
    width: 100%;
  }
}

.resultsHiddenInfo {
  color: var(--secondary-font-color);
}

.totalVotes {
  font-weight: 500;
}

.success {
  color: var(--success-color);
}

.registrationCount {
  margin-bottom: 0.5rem;
}

.bottomBar {
  position: relative;
  background-color: var(--lego-red-color);
  width: 100%;
  padding: 6.25rem 0 0.5rem;
  top: -4.75rem;
  margin-bottom: -5.25rem;
  transition: padding-top var(--linear-slow), margin-bottom var(--linear-slow),
    top var(--linear-slow);
  z-index: 1;
}

.poll.expanded .bottomBar {
  top: 0;
  padding-top: 0.5rem;
  margin-bottom: 0;
}

.arrowIcon {
  color: var(--color-white);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 20%);
}
