@import url('~app/styles/variables.css');

.optionWrapper {
  justify-content: center;
  margin-top: 4px;
  min-height: 120px;
  position: relative;
}

.pollTable {
  width: 100%;
  font-size: 14px;
}

.pollTable td {
  border: 0;
  padding: 5px;
}

.pollTable .textColumn {
  border-right: 1px solid #c5c5c5;
  text-align: right;
  padding-right: 13px;
  line-height: 16px;
}

.pollTable .graphColumn {
  width: auto;
  min-width: 200px;
  padding-left: 13px;
}

.noVotes {
  font-style: italic;
}

.pollGraph {
  animation: graph 1.2s cubic-bezier(41%, 80%, 40%, 94%);
  background-color: var(--lego-red-color);
  padding: 5px;
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
  font-style: italic;
  font-weight: 300;
  color: var(--color-absolute-white);
  height: 30px;
}

.fullGraph {
  background-color: var(--additive-background);
  width: 100%;
  display: flex;
}

.pollGraph span {
  vertical-align: middle;
}

@keyframes graph {
  from {
    width: 1px;
  }

  to {
    width: 100%;
  }
}

.pollHeader {
  color: var(--lego-font-color);
}

.voteButton {
  width: 100%;
  margin: 1px !important;
  font-size: 15px;
  max-width: 400px;
}

.moreOptionsLink {
  justify-content: space-between;
}

.arrow {
  margin-top: 9px;
  cursor: pointer;

  &:hover {
    color: var(--lego-red-color-hover);
  }
}

.blurContainer {
  display: none;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.blurOverlay {
  position: absolute;
  z-index: 2;
  color: var(--color-black);
  margin-top: 25px;
}

.optionWrapper:hover .blurContainer {
  display: flex;
}

.optionWrapper:hover .blurEffect {
  filter: blur(3px);
  pointer-events: none;
}

.blurArrow {
  margin-top: 40px;
}

.alignItems {
  display: flex;
  justify-content: center;
}

.answered {
  margin: 15px 0;
  text-align: center;
  font-weight: bold;
}

.bottomInfo {
  display: flex;
  justify-content: space-between;
}

.resultsHidden {
  font-style: italic;
}

@media (--mobile-device) {
  .blurContainer {
    display: flex;
  }

  .blurEffect {
    filter: blur(3px);
    pointer-events: none;
  }
}
